﻿<section class="content">
    <div class="container-fluid" ng-controller="batchesCtrl">
        <div class="d-flex">
            <div class="mr-auto col-md-3">
                <input class="form-control" type="text" placeholder="Search Batch ..." ng-model="globalFilter">
            </div>
            <div class="p-2">
                <select class="form-control" ng-model="register.selectedRowPerPage" ng-options="a.value as a.text for a in register.rowPerPage"></select>
            </div>
            <div class="p-2">
                <button type="button" class="btn btn-warning" ng-click="removeBatches();">
                    Delete Batches
                </button>
            </div>
            <div class="p-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-batch">
                    Add Batch
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Launch demo modal
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="loader-sm" ng-if="loading"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th style="width:15px;">SL</th>
                                <th style="width:15px;">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="selectAll"
                                               ng-model="allItemsSelected" ng-change="selectAll()">
                                        <label for="selectAll" class="custom-control-label"></label>
                                    </div>
                                </th>
                                <th style="width:15px;" ng-show="show">View</th>
                                <th style="width:15px;">Edit</th>
                                <th style="width:15px;">Delete</th>
                                <th>Key</th>
                                <th>Name</th>
                                <th style="width:25%">Description</th>
                                <th>Safe Spend</th>
                                <th>Proxy</th>
                                <th>Warm Time</th>
                                <th>Safe Ads</th>
                                <th>Pre Warming Activities</th>
                                <th>Pre Launch Activities</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr ng-repeat="batch in batches | orderBy : 'created'"> -->
                            <tr dir-paginate="batch in batches | filter: globalFilter | orderBy : 'created' | itemsPerPage: register.selectedRowPerPage"
                                ng-style="{'background-color':$index == selectedRow ? 'lightgray' : ''}" ng-click="changeSeletedtRowColor($index)">
                                <td class="text-center">{{batch.rowNum}}</td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="{{batch.rowNum}}"
                                               ng-model="batch.isChecked" ng-change="selectEntity()">
                                        <label for="{{batch.rowNum}}" class="custom-control-label"></label>
                                    </div>
                                </td>
                                <td ng-show="show">
                                    <div style="padding-top:5px;">
                                        <a href="" data-toggle="modal" data-target="#modal-view-batch"
                                           ng-click="viewBatch(batch.rowNum)"><i class="fas fa-eye"></i></a>
                                    </div>

                                </td>
                                <td>
                                    <div style="padding-top:5px;">
                                        <a href="" data-toggle="modal" data-target="#modal-update-batch"
                                           ng-click="updateBatch(batch.rowNum)"><i class="fas fa-edit"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding-top:5px;">
                                        <a href="" ng-click="removeBatch(batch.batch_key, batch.rowNum)"><i class="fas fa-trash"></i></a>
                                    </div>
                                </td>
                                <!--  <td>
                                <input input class="form-control" ng-model="batch.name" ng-change="batchChanged(batch);" />
                            </td> -->
                                <td>{{batch.batch_key}}</td>
                                <td>{{batch.name}}</td>
                                <td>{{batch.description}}</td>
                                <td>{{batch.safe_spend}}</td>
                                <td>{{batch.proxy}}</td>
                                <td>{{batch.warm_time}}</td>
                                <td>{{batch.safe_ads}}</td>
                                <td>{{batch.pre_launch_activities}}</td>
                                <td>{{batch.pre_warming_activities}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>
                </div>

            </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Add Batch-->
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modal-add-batch" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Batch</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div id="modalDialog" class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <strong>Batch Name</strong><input class="form-control"
                                                                                              ng-model="newBatchName" />
                                                        </td>
                                                        <td>
                                                            <strong>Batch Description</strong><input class="form-control" ng-model="newBatchDescription" />
                                                        </td>
                                                        <td>
                                                            <strong>Safe Spend</strong><input class="form-control"
                                                                                              ng-model="newSafeSpend" />
                                                        </td>
                                                        <td>
                                                            <strong>Proxy</strong><input class="form-control"
                                                                                         ng-model="newProxy" />
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Warm Time</strong><input class="form-control"
                                                                                             ng-model="newWarmTime" />
                                                        </td>
                                                        <td>
                                                            <strong>Safe Ads</strong><input class="form-control"
                                                                                            ng-model="newSafeAds" />
                                                        </td>
                                                        <td>
                                                            <strong>Pre W Act</strong><input class="form-control"
                                                                                             ng-model="newPreWarmingActivities" />
                                                        </td>
                                                        <td>
                                                            <strong>Pre L Act</strong><input class="form-control"
                                                                                             ng-model="newPreLaunchActivities" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" ng-disabled="!newBatchName" ng-click="addBatches()">
                                    Save
                                    Batch
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </div>
</section>