﻿<section class="content">
    <div class="container-fluid" ng-controller="statusesCtrl" >
        <div class="row">
            <center><h2>Statuses - In Development</h2></center>
            <div class="loader-sm" ng-if="loading"></div>
            <div class="col-md-12" ng-repeat="status in statuses">
                <div class="row blacktext">
                    <strong>
                        {{status}}
                    </strong><br />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div heading="Statuses" ng-if="false">
                    <div class="">
                      <div class="">
                        <center>
                          <h2>Add Status - In Dev</h2>
                        </center>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>




