﻿<div id="angleddl">
    <input class="form-control" type="text" ng-model="angleKey" ng-focus="angleToggle(true)" ng-blur="angleToggle(false)" ng-change="keyPress(angleKey)">
    <ul id="anglelist" class="angleddl" ng-show="angledropdown">
        <li ng-repeat="a in angles | filter: { angle : angleKey }" ng-bind="a.angle" ng-mousedown="angleClick(a.angle, $index)">{{a.angle}}</li>
    </ul>
</div>