<div ng-controller="profileCtrl" class="blacktext">
    <center><h2>User Profile</h2></center>
    <br />
    <div class="flex-space-around">
        <div> </div>
        <div style="width:18%;">
            <center><h4>Edit Account</h4></center><br />
            <div class="">
                <label class="control-label">First Name:</label>
                <input type="text" class="form-control"  placeholder="John/Jane" ng-model="firstName" />
            </div>
            <div class="">
                <label class="control-label">Last Name:</label>
                <input type="text"  class="form-control" placeholder="Doe (optional)" ng-model="lastName">
            </div>
            <div class="flex-right">
                <button class="btn btn-primary" ng-click="saveProfile()">Update</button>
            </div>
        </div>
        <div style="width:18%;">
            <center><h4>Reset Password</h4></center><br />
            <div>
                <label class="control-label">Enter Old Password:</label>
                <input type="password" ng-model="oldpass" class="form-control" id="oldpass">
            </div>
            <div>
                <label class="control-label">Enter New Password:</label>
                <input type="password" ng-model="newpass" class="form-control" id="newpass">
            </div>
            <div>
                <label class="control-label">Reenter New Password:</label>
                <input type="password" ng-model="newpassver" class="form-control" id="newpassver">
            </div>
            <div class="flex-right">
                <button class="btn btn-primary" ng-click="resetPassword()">Save</button>
            </div>
        </div>
        <div> </div>
    </div>
</div>
