﻿<div ng-controller="accountsCtrl">
  <div class="">
    <center><h2>Accounts Page - In Development</h2></center>
    <div class="loader-sm" ng-if="loading"></div>
    <div ng-repeat="account in accounts">
      <div class="row blacktext">
        <strong> {{ account.fname }} {{ account.lname }} </strong><br />
        <label>account_key:</label
        ><input type="text" class="blacktext" ng-model="account.account_key" />
        <label>status_key:</label>
        <input type="text" class="blacktext" ng-model="account.status_key" />
        <label>safe_url_key:</label>
        <input type="text" class="blacktext" ng-model="account.safe_url_key" />
        <label>comment:</label> {{ account.comment }} <label>pixel:</label> {{ account.pixel }}
        <label>angle:</label> {{ account.angle }} <label>vertical_key:</label>
        {{ account.vertical_key }} <label>conversion_event:</label> {{ account.conversion_event }}
        <label>recovered:</label> {{ account.recovered }}

        <label>funding type:</label> {{ account.funding_type }} <label>code_key:</label>
        {{ account.code_key }} <label>safe_spend:</label> {{ account.safe_spend }}
        <label>warm_time:</label> {{ account.warm_time }} <label>run_time:</label>
        {{ account.run_time }} <label>life_time:</label> {{ account.life_time }}
        <br />
        <label>claimed:</label> {{ account.claimed }} <label>created:</label> {{ account.created }}
        <label>modified:</label> {{ account.modified }} <label>dead:</label> {{ account.dead }}

        <label>proxy_type</label>{{ account.proxy_type }} <label>source:</label>
        {{ account.source }} <label>no.safe ads:</label> {{ account.safe_ad_count }}
        <label>ban type:</label> {{ account.ban_type }} <label>email:</label> {{ account.email }}
        <label>password:</label> {{ account.password }} <label>phone:</label> {{ account.phone }}
        <label>parent_manager:</label> {{ account.parent_manager }}

        <hr />
      </div>
    </div>
  </div>
</div>
