<section class="content">
    <div class="container-fluid" ng-controller="addResourceCtrl">
        <div class="row">
            <div class="col-md-12">
                <tabset>
                    <tab heading="Accounts">
                        <center>
                            <h2>Add Accounts</h2>
                        </center>
                        <div ng-repeat="account in accounts">
                            <div style="display:flex;justify-content:flex-end;">
                                <button class="btn btn-danger navbar-btn"
                                        ng-click="removeAccount($index)"
                                        ng-disabled="accounts.length==1">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>First Name</p>
                                    <p>Last Name</p>
                                    <p>Safe Urls</p>
                                    <p>Creation Date</p>
                                    <p>Initial Boost</p>
                                </div>
                                <div class="col">
                                    <input type="text" name="fname" class="form-control" ng-model="account.fname" />
                                    <input type="text" name="lname" class="form-control" ng-model="account.lname" />
                                    <urlddlmulti></urlddlmulti>
                                    <input id="creation"
                                           name="creation"
                                           ng-change="dateChange('creation',account.creation)"
                                           type="text"
                                           class="form-control"
                                           ng-model="account.creation"
                                           jqdatepicker />
                                    <input id="initialBoost"
                                           name="initialBoost"
                                           ng-change="dateChange('initialBoost', account.initialBoost)"
                                           type="text"
                                           class="form-control"
                                           ng-model="account.initialBoost"
                                           jqdatepicker />
                                </div>
                                <div class="col">
                                    <p class="form-text">Pixel ID</p>
                                    <p class="form-text">Safe Spend</p>
                                    <p class="form-text">Funding Type</p>
                                    <p class="form-text">Credit Card</p>
                                    <P class="form-text">VM Filter</P>
                                    <P class="form-text">VM Name</P>
                                    <P class="form-text">Batch</P>

                                    <p class="form-text">Comment</p>
                                </div>
                                <div class="col">
                                    <input type="text" name="pixel" class="form-control" ng-model="account.pixel" />
                                    <input type="number"
                                           min="0"
                                           step=".01"
                                           name="safeSpend"
                                           class="form-control"
                                           ng-model="account.safeSpend" />
                                    <select class="form-control"
                                            ng-model="account.funding_type"
                                            ng-change="fundingTypeChange(account)"
                                            ng-options="f for f in fundingTypes"></select>
                                    <select class="form-control"
                                            ng-model="account.cc"
                                            ng-disabled="account.funding_type == 'netbanking' || !account.funding_type"
                                            ng-options="c as c for c in codesddl"></select>
                                    <input type="text" name="searchVm" class="form-control" ng-model="searchVm" />
                                    <select class="form-control"
                                            ng-model="account.vm"
                                            ng-options="v as v.name for v in vms | filter:{name:searchVm}"></select>
                                    <!-- Batches -->
                                    <select ng-options="batch.name for batch in batches"
                                            class="form-control"
                                            ng-model="account.batch"></select>
                                    <textarea class="form-control"
                                              type="text"
                                              maxlength="300"
                                              rows="1"
                                              ng-model="account.comment"></textarea>
                                </div>
                                <div class="col">
                                    <p class="form-text">Proxy Type</p>
                                    <p class="form-text">Source</p>
                                    <p class="form-text">No. Safe Ads</p>
                                    <p class="form-text">Ban Type</p>
                                    <p class="form-text">Email</p>
                                    <p class="form-text">Password</p>
                                    <p class="form-text">Phone</p>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" ng-model="account.proxy_type" />
                                    <input type="text" class="form-control" ng-model="account.source" />
                                    <input type="text" class="form-control" ng-model="account.safe_ad_count" />
                                    <input type="text" class="form-control" ng-model="account.ban_type" />
                                    <input type="text" class="form-control" ng-model="account.email" />
                                    <input type="text" class="form-control" ng-model="account.password" />
                                    <input type="text" class="form-control" ng-model="account.phone" />
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="p-2">
                                <button class="btn btn-primary navbar-btn " ng-click="addAccount($index)">
                                    <i class="fa fa-plus" aria-hidden="true"></i>Add Another
                                </button>
                            </div>
                            <div class="p-2">
                                <button class="btn btn-primary navbar-btn " ng-click="insertAccounts()">Save</button>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Safe URLs">
                        <center>
                            <h2>Add URLs</h2>
                        </center>
                        <div class="">
                            <div ng-repeat="safe_URL in safe_URLs">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label">URL</label>
                                        <input type="text"
                                               name="fname"
                                               class="form-control"
                                               ng-model="safe_URL.url"
                                               placeholder="www.asitefordieting.com" />
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-danger"
                                                ng-click="removeURL($index)"
                                                ng-disabled="safe_URLs.length==1">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-end p-2">
                            <div class="flex-left">
                                <button class="btn btn-primary" ng-click="addURL($index)">
                                    <i class="fa fa-plus" aria-hidden="true"></i>Add Another
                                </button>
                            </div>
                            <div class="flex-right">
                                <button class="btn btn-primary" ng-click="insertURLs(safe_URLs)">Save</button>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Credit Cards">
                        <center>
                            <h2>Add Credit Cards</h2>
                        </center>
                        <div class="">
                            <div ng-repeat="card in cards">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label">Credit Card</label>
                                        <!-- TODO: add errors to UI when the value is invalid -->
                                        <input type="text"
                                               ccType=""
                                               maxlength="19"
                                               class="form-control"
                                               ng-model="card.number"
                                               placeholder="1111 2222 3333 4444"
                                               ng-required="true" />
                                        <!--cc-format cc-number >-->
                                        <label class="control-label">CVC</label>
                                        <input type="text"
                                               class="form-control"
                                               ng-model="card.cvc"
                                               cc-cvc
                                               ng-required="true" />
                                        <label class="control-label">Card Type</label>
                                        <select class="form-control"
                                                ng-model="card.accounttype"
                                                ng-options="type for type in accountTypes"
                                                ng-required="true"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Exp Mon</label>
                                        <input class="form-control"
                                               ng-model="card.exp_month"
                                               cc-exp-month
                                               ng-required="true" />
                                        <label class="control-label">Exp Year</label>
                                        <input class="form-control" ng-model="card.exp_year" cc-exp-year ng-required="true" />
                                        <label class="control-label">Zip Code</label>
                                        <input type="text"
                                               maxlength="5"
                                               class="form-control"
                                               ng-model="card.zip"
                                               ng-required="true" />
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-danger"
                                                ng-click="removeCard($index)"
                                                ng-disabled="cards.length==1">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-end p-2">
                            <div class="p-2">
                                <button class="btn btn-primary" ng-click="addCard($index)">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Another
                                </button>
                            </div>
                            <div class="p-2">
                                <button class="btn btn-primary" ng-click="insertCards(cards)">Save</button>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Verticals">
                        <center>
                            <h2>Add Verticals</h2>
                        </center>
                        <div ng-repeat="vertical in verticals">
                            <div class="row">
                                <div class="p-2">
                                    <label calls="control-label">Vertical Name</label>
                                    <input class="form-control" ng-model="vertical.name" ng-required="true" /> `
                                </div>
                                <div class="p-2">
                                    <button class="btn btn-danger"
                                            ng-click="removeVertical($index)"
                                            ng-disabled="verticals.length==1">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-end p-2">
                            <div class="p-2">
                                <button class="btn btn-primary"
                                        ng-disabled="!verticals[0].name"
                                        ng-click="addVertical($index)">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Another
                                </button>
                            </div>
                            <div class="p-2">
                                <button class="btn btn-primary"
                                        ng-disabled="!verticals[0].name"
                                        ng-click="insertVerticals(verticals)">
                                    Save
                                </button>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Statuses" ng-if="false">
                        <div class="">
                            <div class="">
                                <center>
                                    <h2>Add Status - In Dev</h2>
                                </center>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</section>