﻿<div>
    <div class="row justify-content-between">
        <div>
            <a href="#">{{ad.user}}</a> found this interesting.
        </div>
        <div><i class="fas fa-thumbs-up"></i>&nbsp;<i class="fas fa-chevron-down"></i>&nbsp;</div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <img style="height:40px;" src="../images/prof_icon.jpg" class="img" />
        </div>
        <div class="col-md-6">
            <div>Mencius FB Page</div>
            <div><i class="fa fa-globe"></i> &nbsp; Sponsored</div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary"><i class="fas fa-thumbs-up"></i> Like This</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            {{ad.body}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group"  ng-attr-id="{{ 'fb-media-' + ad.content_key}}">
        </div>
        <div class="form-group col-md-12">
            {{ad.headline}}
        </div>
        <div class="form-group col-md-12">
            {{ad.newsfeed_link}}
        </div>
    </div>
    <div class="row justify-content-between">
        <div>&nbsp;&nbsp;<a href="{{ad.url}}">{{ad.url}}</a></div>
        <div><button class="btn btn-primary">Learn More</button>&nbsp;&nbsp;</div>
    </div>
    <br />
    <br />
    <div class="row justify-content-between">
        <div>&nbsp;&nbsp;<i class="fas fa-thumbs-up"></i>&nbsp; Like</div>
        <div><i class="fas fa-comment"></i>&nbsp; Comment</div>
        <div><i class="fas fa-share"></i>&nbsp; Share&nbsp;&nbsp;</div>
    </div>
</div>