<section class="content"></section>
<div class="container-fluid" ng-controller="pnlCtrl">
    <div>
        <center><h2>Profit And Loss</h2></center>
        <div class="d-flex">
            <div class="mr-auto col-md-3">
                <input class="form-control" ng-model="ps.accountSearchFilter" type="text" placeholder="Search..." />
            </div>
            <div class="p-1">
                <!--
          <button class="btn btn-primary" ng-click="getVoluumCampaigns()">Pull Camps</button>
        -->
                <button class="btn btn-primary" ng-click="exportCSV()">Export</button>
            </div>
            <div class="p-1">
                <button class="btn btn-default" ng-click="voluumLoading = true; getVoluumReport();">
                    Pull From Voluum
                </button>
            </div>
            <div class="p-1">
                <button class="btn btn-primary" ng-click="saveAllChanged()">
                    Save All
                </button>
            </div>
        </div>
        <br />
        <div class="d-flex">
            <div class="col-md-2 p-2">
                <b>Geo</b>
                <select class="form-control" ng-options="g for g in geos" ng-model="ps.geoFilter" ng-change="">
                    <!-- <option value="">All</option> -->
                </select>
            </div>
            <div class="p-2">
                <b>Vertical</b>
                <select class="form-control" ng-options="v for v in verticals" ng-model="ps.verticalFilter" ng-change="">
                    <!-- <option value="">All</option> -->
                </select>
            </div>
            <div class="p-2" ng-show="ps.timeFrameFilter === 'Custom Date'">
                <b>Custom Date</b>
                <input class="form-control" id="dateFilter" name="dateFilter"
                       ng-change="dateChange('dateFilter',ps.dateFilter);"
                       type="text" ng-model="ps.dateFilter" jqdatepicker />
            </div>
            <div class="p-2" ng-show="ps.timeFrameFilter === 'Custom Range'">
                <b>Start Date</b>
                <input class="form-control" id="startDateFilter" name="startDateFilter"
                       ng-change="dateChange('startDateFilter',ps.startDateFilter);"
                       type="text" ng-model="ps.startDateFilter" jqdatepicker />
            </div>
            <div class="p-2" ng-show="ps.timeFrameFilter === 'Custom Range'">
                <b>End Date</b>
                <input class="form-control" id="endDateFilter" name="endDateFilter"
                       ng-change="dateChange('endDateFilter',ps.endDateFilter);"
                       type="text" ng-model="ps.endDateFilter" jqdatepicker />
            </div>
            <div class="p-2">
                <b>Filter User</b>
                <select class="form-control" ng-options="u for u in users" ng-model="ps.userFilter" ng-change=""></select>
            </div>
            <div class="p-2">
                <b>Filter Status</b>
                <select class="form-control" ng-options="s for s in statuses" ng-model="ps.statusFilter" ng-change=""></select>
            </div>
            <div class="p-2">
                <b>Filter Time Frame</b>
                <select class="form-control" ng-options="t for t in timeFrames" ng-model="ps.timeFrameFilter" ng-change=""></select>
            </div>
            <div class="ml-auto p-2">
                <b>Filter</b><br />
                <button class="btn btn-primary" ng-click="updateFilter()">
                    Apply Filter
                </button>
            </div>
        </div>
        <br />
        <div class="row" ng-if="!loading">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th>
                                    &nbsp;
                                    <div>&nbsp; <i></i></div>
                                </th>
                                <th>
                                    &nbsp;
                                    <div>&nbsp; <i></i></div>
                                </th>
                                <th>
                                    <div>
                                        Account
                                        <i ng-show="showAccount"
                                           ng-click="sort('fname','descending'); showAccount = !showAccount;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showAccount"
                                           ng-click="sort('fname','ascending'); showAccount = !showAccount;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        Buyer
                                        <i ng-show="showMediaBuyer"
                                           ng-click="sort('fname','descending'); showMediaBuyer = !showMediaBuyer;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showMediaBuyer"
                                           ng-click="sort('fname','ascending'); showMediaBuyer = !showMediaBuyer;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        Vertical
                                        <i ng-show="showVertical"
                                           ng-click="sort('vertical','descending'); showVertical = !showVertical;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showVertical"
                                           ng-click="sort('vertical','ascending'); showVertical = !showVertical;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        Angle
                                        <i ng-show="showVertical"
                                           ng-click="sort('angle','descending'); showVertical = !showVertical;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showVertical"
                                           ng-click="sort('angle','ascending'); showVertical = !showVertical;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        Geo
                                        <i ng-show="showGeo"
                                           ng-click="sort('geo','descending'); showGeo = !showGeo;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showGeo"
                                           ng-click="sort('geo','ascending'); showGeo = !showGeo;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        Revenue
                                        <i ng-show="showRevenue"
                                           ng-click="sort('revenue','descending'); showRevenue = !showRevenue;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showRevenue"
                                           ng-click="sort('revenue','ascending'); showRevenue = !showRevenue;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        Expense
                                        <i ng-show="showExpense"
                                           ng-click="sort('expenses','descending'); showExpense = !showExpense;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showExpense"
                                           ng-click="sort('expenses','ascending'); showExpense = !showExpense;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        Profit
                                        <i ng-show="showProfit"
                                           ng-click="sort('profit','descending'); showProfit = !showProfit;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showProfit"
                                           ng-click="sort('profit','ascending'); showProfit = !showProfit;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        ROI
                                        <i ng-show="showROI"
                                           ng-click="sort('roi','descending'); showROI = !showROI;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showROI"
                                           ng-click="sort('roi','ascending'); showROI = !showROI;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        CPC
                                        <i ng-show="showCPC"
                                           ng-click="sort('cpc','descending'); showCPC = !showCPC;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showCPC"
                                           ng-click="sort('cpc','ascending'); showCPC = !showCPC;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                                <th>
                                    EPC
                                    <div>
                                        EPC
                                        <i ng-show="showEPC"
                                           ng-click="sort('epc','descending'); showEPC = !showEPC;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showEPC"
                                           ng-click="sort('epc','ascending'); showEPC = !showEPC;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        EPV
                                        <i ng-show="showEPV"
                                           ng-click="sort('epv','descending'); showEPV = !showEPV;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showEPV"
                                           ng-click="sort('epv','ascending'); showEPV = !showEPV;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        LP CTR
                                        <i ng-show="showCTR"
                                           ng-click="sort('ctr','descending'); showCTR = !showCTR;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showCTR"
                                           ng-click="sort('ctr','ascending'); showCTR = !showCTR;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        BE EPC
                                        <i ng-show="showBE"
                                           ng-click="sort('breakeven','descending'); showBE = !showBE;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showBE"
                                           ng-click="sort('breakeven','ascending'); showBE = !showBE;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        Total Spend
                                        <i ng-show="showSpend"
                                           ng-click="sort('total_spend','descending'); showBE = !showBE;"
                                           class="glyphicon glyphicon-chevron-up"></i>
                                        <i ng-show="!showSpend"
                                           ng-click="sort('total_spend','ascending'); showBE = !showBE;"
                                           class="glyphicon glyphicon-chevron-down"></i>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="a in accounts | filter:ps.accountSearchFilter">
                                <td class="center">{{ $index + 1 }}</td>
                                <td>
                                    <!--<button class="btn btn-primary" ng-if="expanded" ng-click="expanded = false;">
                                -
                            </button>-->
                                    <button class="btn btn-primary" ng-click="expanded = !expanded">
                                        <i ng-show="expanded" class="fas fa-chevron-up"></i>
                                        <i ng-show="!expanded" class="fas fa-chevron-down"></i>
                                    </button>
                                </td>
                                <td ng-class="setRowClass(a.status);">
                                    <a href="#edit_account/{{ a.account_key }}?tab=PnL">
                                        {{ a.fname + ' ' + a.lname }}
                                    </a>
                                </td>
                                <td>{{ a.owner }}</td>
                                <td>{{ a.vertical }}</td>
                                <td>{{ a.angle }}</td>
                                <td>{{ a.geo }}</td>
                                <td>{{ a.revenue | currency }}</td>
                                <td>{{ a.expenses | currency }}</td>
                                <td>{{ a.profit | currency }}</td>
                                <td>{{ a.roi | percent }}</td>
                                <td>{{ a.cpc | currency }}</td>
                                <td>{{ a.epc | currency }}</td>
                                <td>{{ a.epv | number: 2 }}</td>
                                <td>{{ a.ctr | number: 0 | percent }}</td>
                                <td>{{ a.breakeven | currency }}</td>
                                <td>{{ a.total_spend | currency }}</td>
                            </tr>
                            <tr style="padding:5px 0px 5px 0;" ng-if="expanded" ng-repeat-end="">
                                <td></td>
                                <td colspan="16">
                                    <!--ng-repeat="c in a.contents-->
                                    <div ng-attr-id="{{ 'content-' + $index }}" ng-repeat="c in a.contents"
                                         class="container-fluid">
                                        <div class="row flex-row flex-nowrap scroller">
                                            <div class="col-md-1">
                                                <div class="">
                                                    <div>
                                                        <a href="#edit_account/{{ a.account_key }}?tab=Copy">Ad:{{ c.content_key }}</a>
                                                        <!--<i class="fas fa-plus"
                            ng-click="toggleDetails($event, 'content'+$parent.$index+'pnl'+$index)"></i>-->
                                                        <button class="btn btn-primary" ng-click="cexpanded = !cexpanded">
                                                            <i ng-show="cexpanded" class="fas fa-chevron-up"></i>
                                                            <i ng-show="!cexpanded" class="fas fa-chevron-down"></i>
                                                        </button>
                                                    </div>
                                                    <div style="padding-top:5px;">
                                                        <p>Revenue</p>
                                                        <p>Budget</p>
                                                        <p>Expense</p>
                                                        <p>Clicks</p>
                                                        <p>Visits</p>
                                                        <p>CPC</p>
                                                        <p>CTR</p>
                                                    </div>
                                                    <!--class="{{ 'content' + $parent.$index + 'pnl' + $index }} collapse"-->
                                                    <div ng-if="cexpanded">
                                                        <p>Profit</p>
                                                        <p>ROI</p>
                                                        <p>BE EPC</p>
                                                        <p>EPC</p>
                                                        <p>EPV</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1" ng-repeat="p in c.pnl">
                                                <div class="">
                                                    <div data-now="{{ dnow }}"
                                                         data-old="{{ p.oldcreated }}"
                                                         data-new="{{ p.created }}">
                                                        <center>{{ p.oldcreated | date: 'MM-dd-yyyy' }}</center>
                                                    </div>
                                                    <br>
                                                    <div>
                                                        <input type="text" class="form-control numeric" step="0.01" ng-model="p.revenue"
                                                               ng-readonly="!(currentUser == 'stan' || currentUser == 'kathy' || currentUser == 'luke')"
                                                               ng-change="fieldChanged($index, $parent.$index, $parent.$parent.$index);"
                                                               currency />
                                                        <input type="text" class="form-control numeric" step="0.01" ng-model="p.budget"
                                                               ng-change="fieldChanged($index, $parent.$index, $parent.$parent.$index);"
                                                               currency />
                                                        <input type="text"
                                                               class="form-control numeric"
                                                               step="0.01"
                                                               ng-model="p.expenses"
                                                               ng-change="fieldChanged($index, $parent.$index, $parent.$parent.$index);expenseChanged($index, $parent.$index, $parent.$parent.$index);"
                                                               currency />
                                                        <input type="text"
                                                               class="form-control numeric"
                                                               step="0.01"
                                                               ng-model="p.clicks"
                                                               ng-change="fieldChanged($index, $parent.$index, $parent.$parent.$index);" />
                                                        <input type="text"
                                                               class="form-control numeric"
                                                               step="0.01"
                                                               ng-model="p.visits"
                                                               ng-change="fieldChanged($index, $parent.$index, $parent.$parent.$index);" />
                                                        <input type="text"
                                                               class="form-control numeric"
                                                               step="0.01"
                                                               ng-model="p.cpc"
                                                               ng-change="fieldChanged($index, $parent.$index, $parent.$parent.$index);"
                                                               currency />
                                                        <input type="text"
                                                               class="form-control numeric"
                                                               step="0.01"
                                                               ng-model="p.lpctr"
                                                               ng-change="fieldChanged($index, $parent.$index, $parent.$parent.$index);"
                                                               percent />
                                                    </div>
                                                    <!--class="{{'content' + $parent.$parent.$index + 'pnl' + $parent.$index}} collapse"-->
                                                    <div ng-if="cexpanded">
                                                        <input type="text" class="form-control numeric" ng-model="p.profit" currency />
                                                        <input type="text" class="form-control numeric" step="0.01" ng-model="p.roi" percent />
                                                        <input type="text" class="form-control numeric" step="0.01" ng-model="p.breakeven" currency />
                                                        <input type="text" class="form-control numeric" step="0.01" ng-model="p.epc" />
                                                        <input type="text" class="form-control numeric" step="0.01" ng-model="p.epv" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><div>&nbsp;</div></td>
                                <td><div>&nbsp;</div></td>
                                <td><div>Totals</div></td>
                                <td><div>&nbsp;</div></td>
                                <td><div>&nbsp;</div></td>
                                <td><div>&nbsp;</div></td>
                                <td><div>&nbsp;</div></td>
                                <td>
                                    <div>{{ totals.revenue | currency }}</div>
                                </td>
                                <td>
                                    <div>{{ totals.expenses | currency }}</div>
                                </td>
                                <td>
                                    <div>{{ totals.profit | currency }}</div>
                                </td>
                                <td>
                                    <div>{{ totals.roi | percent }}</div>
                                </td>
                                <td>
                                    <div>{{ totals.cpc | currency }}</div>
                                </td>
                                <td>
                                    <div>{{ totals.epc | currency }}</div>
                                </td>
                                <td>
                                    <div>{{ totals.epv | currency }}</div>
                                </td>
                                <td>
                                    <div>{{ totals.ctr | percent }}</div>
                                </td>
                                <td>
                                    <div>{{ totals.breakeven | currency }}</div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
