<section class="content">
  <div class="container-fluid" ng-controller="pnlCtrl">
    <div class="row">
      <center>
        <h2>Profit And Loss</h2>
      </center>
    </div>
    <div class="row justify-content-md-between">
        <!--
      <button class="btn btn-primary" ng-click="getVoluumCampaigns()">Pull Camps</button>
    -->
        <div class="col-md-6">
            <input class="form-control" ng-model="ps.accountSearchFilter" type="text" placeholder="Search..." />
        </div>
        <div>
            <div ng-if="voluumLoading || loading" class="loader-sm"></div>
            <button class="btn btn-primary" ng-click="exportCSV()">Export</button> &nbsp;
            <button class="btn btn-default" ng-click="voluumLoading = true; getVoluumReport();">
                &nbsp;
                Pull From Voluum
            </button>&nbsp;
            <button class="btn btn-primary" ng-click="saveAllChanged()">
                Save All
            </button>
        </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-1">
        <label>Geo</label>
        <select class="form-control" ng-options="g for g in geos" ng-model="ps.geoFilter" ng-change="">
          <!-- <option value="">All</option> -->
        </select>
      </div>
      <div class="col-md-2">
        <label>Vertical</label>
        <select class="form-control" ng-options="v for v in verticals" ng-model="ps.verticalFilter" ng-change="">
          <!-- <option value="">All</option> -->
        </select>
      </div>
      <div class="col-md-1" ng-show="ps.timeFrameFilter === 'Custom Date'">
        <label>Custom Date</label>
        <input class="ui-date-picker-input form-control" id="dateFilter" name="dateFilter"
          ng-change="dateChange('dateFilter',ps.dateFilter);" type="text" ng-model="ps.dateFilter" jqdatepicker />
      </div>
      <div class="col-md-1" ng-show="ps.timeFrameFilter === 'Custom Range'">
        <label>Start Date</label>
        <input class="ui-date-picker-input form-control" id="startDateFilter" name="startDateFilter"
          ng-change="dateChange('startDateFilter',ps.startDateFilter);" type="text" ng-model="ps.startDateFilter"
          jqdatepicker />
      </div>
      <div class="col-md-1" ng-show="ps.timeFrameFilter === 'Custom Range'">
        <label>End Date</label>
        <input class="ui-date-picker-input form-control" id="endDateFilter" name="endDateFilter"
          ng-change="dateChange('endDateFilter',ps.endDateFilter);" type="text" ng-model="ps.endDateFilter"
          jqdatepicker />
      </div>
      <div class="col-md-1">
        <label>Filter User</label>
        <select class="form-control" ng-options="u for u in users" ng-model="ps.userFilter" ng-change=""></select>
      </div>
      <div class="col-md-2">
        <label>Filter Status</label>
        <select class="form-control" ng-options="s for s in statuses" ng-model="ps.statusFilter" ng-change=""></select>
      </div>
      <div class="col-md-2">
        <label>Filter Time Frame</label>
        <select class="form-control" ng-options="t for t in timeFrames" ng-model="ps.timeFrameFilter"
          ng-change=""></select>
      </div>
      <div class="col-md-1">
          <label>Apply Filter</label>
          <button class="btn btn-primary" ng-click="updateFilter()">
              Apply
          </button>
      </div>
    </div>
    <br />
    <!--  Table -->
    <!--  class="!loading" -->
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                <div>&nbsp; <i></i></div>
                            </th>
                            <th>
                                <div>&nbsp; <i></i></div>
                            </th>
                            <th>
                                <div>
                                    Account
                                    <i ng-show="showAccount" ng-click="sort('fname','descending'); showAccount = !showAccount;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showAccount" ng-click="sort('fname','ascending'); showAccount = !showAccount;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                            <th>
                                <div>
                                    Buyer
                                    <i ng-show="showMediaBuyer"
                                       ng-click="sort('fname','descending'); showMediaBuyer = !showMediaBuyer;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showMediaBuyer"
                                       ng-click="sort('fname','ascending'); showMediaBuyer = !showMediaBuyer;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                            <th>
                                <div>
                                    Vertical
                                    <i ng-show="showVertical" ng-click="sort('vertical','descending'); showVertical = !showVertical;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showVertical" ng-click="sort('vertical','ascending'); showVertical = !showVertical;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                            <th>
                                <div>
                                    Angle
                                    <i ng-show="showVertical" ng-click="sort('angle','descending'); showVertical = !showVertical;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showVertical" ng-click="sort('angle','ascending'); showVertical = !showVertical;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                            <th>
                                <div>
                                    Geo
                                    <i ng-show="showGeo" ng-click="sort('geo','descending'); showGeo = !showGeo;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showGeo" ng-click="sort('geo','ascending'); showGeo = !showGeo;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                            <th>
                                <div>
                                    Revenue
                                    <i ng-show="showRevenue" ng-click="sort('revenue','descending'); showRevenue = !showRevenue;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showRevenue" ng-click="sort('revenue','ascending'); showRevenue = !showRevenue;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                            <th>
                                <div>
                                    Expense
                                    <i ng-show="showExpense" ng-click="sort('expenses','descending'); showExpense = !showExpense;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showExpense" ng-click="sort('expenses','ascending'); showExpense = !showExpense;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                            <th>
                                <div>
                                    Profit
                                    <i ng-show="showProfit" ng-click="sort('profit','descending'); showProfit = !showProfit;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showProfit" ng-click="sort('profit','ascending'); showProfit = !showProfit;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                            <th>
                                <div>
                                    ROI
                                    <i ng-show="showROI" ng-click="sort('roi','descending'); showROI = !showROI;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showROI" ng-click="sort('roi','ascending'); showROI = !showROI;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                            <th>
                                <div>
                                    CPC
                                    <i ng-show="showCPC" ng-click="sort('cpc','descending'); showCPC = !showCPC;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showCPC" ng-click="sort('cpc','ascending'); showCPC = !showCPC;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                            <th>
                                <div>
                                    EPC
                                    <i ng-show="showEPC" ng-click="sort('epc','descending'); showEPC = !showEPC;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showEPC" ng-click="sort('epc','ascending'); showEPC = !showEPC;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                            <th>
                                <div>
                                    EPV
                                    <i ng-show="showEPV" ng-click="sort('epv','descending'); showEPV = !showEPV;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showEPV" ng-click="sort('epv','ascending'); showEPV = !showEPV;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                            <th>
                                <div>
                                    LP CTR
                                    <i ng-show="showCTR" ng-click="sort('ctr','descending'); showCTR = !showCTR;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showCTR" ng-click="sort('ctr','ascending'); showCTR = !showCTR;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                            <th>
                                <div>
                                    BE EPC
                                    <i ng-show="showBE" ng-click="sort('breakeven','descending'); showBE = !showBE;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showBE" ng-click="sort('breakeven','ascending'); showBE = !showBE;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                            <th>
                                <div>
                                    Total Spend
                                    <i ng-show="showSpend" ng-click="sort('total_spend','descending'); showBE = !showBE;"
                                       class="fas fa-chevron-up"></i>
                                    <i ng-show="!showSpend" ng-click="sort('total_spend','ascending'); showBE = !showBE;"
                                       class="fas fa-chevron-down"></i>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr dir-paginate="a in accounts | filter:ps.accountSearchFilter | itemsPerPage:25">
                            <td class="center">{{ $index + 1 }}</td>
                            <td class="center">
                                <button class="btn btn-primary" ng-if="a.expanded" ng-click="a.expanded = false;">
                                    -
                                </button>
                                <button class="btn btn-primary" ng-if="!a.expanded" ng-click="a.expanded = true;">
                                    +
                                </button>
                            </td>
                            <td ng-class="setRowClass(a.status);">
                                <a href="#edit_account/{{ a.account_key }}?tab=PnL">{{a.fname + ' ' + a.lname}}</a>
                            </td>
                            <td>{{ a.owner }}</td>
                            <td>{{ a.vertical }}</td>
                            <td>{{ a.angle }}</td>
                            <td>{{ a.geo }}</td>
                            <td>{{ a.revenue | currency }}</td>
                            <td>{{ a.expenses | currency }}</td>
                            <td>{{ a.profit | currency }}</td>
                            <td>{{ a.roi | percent }}</td>
                            <td>{{ a.cpc | currency }}</td>
                            <td>{{ a.epc | currency }}</td>
                            <td>{{ a.epv | number: 2 }}</td>
                            <td>{{ a.ctr | number: 0 | percent }}</td>
                            <td>{{ a.breakeven | currency }}</td>
                            <td>{{ a.total_spend | currency }}</td>
                        </tr>
                        <tr ng-if="a.expanded">
                            <td colspan="16" ng-repeat="c in a.contents">
                                <div class="table-responsive" >
                                    <table  class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="flex-space-between">
                                                        <a href="#edit_account/{{ a.account_key }}?tab=Copy">Ad:{{ c.content_key }}</a>
                                                    </div>
                                                </th>
                                                <th>
                                                    <p class="pnl-text">Revenue</p>
                                                </th>
                                                <th>
                                                    <p class="pnl-text">Budget</p>
                                                </th>
                                                <th>
                                                    <p class="pnl-text">Expense</p>
                                                </th>
                                                <th>
                                                    <p class="pnl-text">Clicks</p>
                                                </th>
                                                <th>
                                                    <p class="pnl-text">Visits</p>
                                                </th>
                                                <th>
                                                    <p class="pnl-text">CPC</p>
                                                </th>
                                                <th>
                                                    <p class="pnl-text">CTR</p>
                                                </th>
                                                <th>
                                                    <p class="pnl-text">Profit</p>
                                                </th>
                                                <th>
                                                    <p class="pnl-text">ROI</p>
                                                </th>
                                                <th>
                                                    <p class="pnl-text">BE EPC</p>
                                                </th>
                                                <th>
                                                    <p class="pnl-text">EPC</p>
                                                </th>
                                                <th>
                                                    <p class="pnl-text">EPV</p>
                                                </th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="p in c.pnl">
                                                <td>
                                                    <div data-now="{{ dnow }}" data-old="{{ p.oldcreated }}" data-new="{{ p.created }}">
                                                        <center>{{ p.oldcreated | date: 'MM-dd-yyyy' }}</center>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" step="0.01" ng-model="p.revenue"
                                                           ng-readonly="!(currentUser == 'stan' || currentUser == 'kathy' || currentUser == 'luke')"
                                                           ng-change="fieldChanged($index, $parent.$index, $parent.$parent.$index);"
                                                           currency />
                                                </td>
                                                <td>

                                                    <input type="text" class="form-control" step="0.01" ng-model="p.budget"
                                                           ng-change="fieldChanged($index, $parent.$index, $parent.$parent.$index);"
                                                           currency />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" step="0.01" ng-model="p.expenses"
                                                           ng-change="fieldChanged($index, $parent.$index, $parent.$parent.$index);expenseChanged($index, $parent.$index, $parent.$parent.$index);"
                                                           currency />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" step="0.01" ng-model="p.clicks"
                                                           ng-change="fieldChanged($index, $parent.$index, $parent.$parent.$index);" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" step="0.01" ng-model="p.visits"
                                                           ng-change="fieldChanged($index, $parent.$index, $parent.$parent.$index);" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" step="0.01" ng-model="p.cpc"
                                                           ng-change="fieldChanged($index, $parent.$index, $parent.$parent.$index);"
                                                           currency />
                                                </td>
                                                <td>

                                                    <input type="text" class="form-control" step="0.01" ng-model="p.lpctr"
                                                           ng-change="fieldChanged($index, $parent.$index, $parent.$parent.$index);" percent />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="p.profit" currency />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" step="0.01" ng-model="p.roi" percent />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" step="0.01" ng-model="p.breakeven"
                                                           currency />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" step="0.01" ng-model="p.epc" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" step="0.01" ng-model="p.epv" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <div>&nbsp;</div>
                            </td>
                            <td>
                                <div>&nbsp;</div>
                            </td>
                            <td>
                                <div>Totals</div>
                            </td>
                            <td>
                                <div>&nbsp;</div>
                            </td>
                            <td>
                                <div>&nbsp;</div>
                            </td>
                            <td>
                                <div>&nbsp;</div>
                            </td>
                            <td>
                                <div>&nbsp;</div>
                            </td>
                            <td>
                                <div>{{ totals.revenue | currency }}</div>
                            </td>
                            <td>
                                <div>{{ totals.expenses | currency }}</div>
                            </td>
                            <td>
                                <div>{{ totals.profit | currency }}</div>
                            </td>
                            <td>
                                <div>{{ totals.roi | percent }}</div>
                            </td>
                            <td>
                                <div>{{ totals.cpc | currency }}</div>
                            </td>
                            <td>
                                <div>{{ totals.epc | currency }}</div>
                            </td>
                            <td>
                                <div>{{ totals.epv | currency }}</div>
                            </td>
                            <td>
                                <div>{{ totals.ctr | percent }}</div>
                            </td>
                            <td>
                                <div>{{ totals.breakeven | currency }}</div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
    </div>
</div>
</section>