
<section class="content">
<div class="container-fluid" ng-controller="addUploadsetCtrl">
    <center>
        <h2>Create Uploadset</h2>
    </center>
    <div class="row" ng-show="availableAccounts.length">
        <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <b>Available Accounts</b>
                        <select class="form-control" ng-model="uploadset.account" ng-change="accountChange(uploadset);hasSafeUrl(uploadset.account);filterCampaigns();"
                            ng-options="(a.fname+' '+a.lname) for a in availableAccounts track by a.account_key"></select>
                        <b>Pixel</b>
                        <input class="form-control" type="text" ng-model="uploadset.account.pixel" ng-blur="validUploadset(uploadset)" />
                        <urlddl  ng-blur="validUploadset(uploadset);"></urlddl>
                    </div>
                    <div class="col-md-3">
                        <b>Angle</b>
                        <angle-select ng-model="uploadset.account.angle" ng-blur="validUploadset(uploadset);"></angle-select>
                        <b>Vertical</b>
                        <select class="form-control" ng-model="uploadset.account.vertical" ng-options="v for v in verticals" ng-change="validUploadset(uploadset);filterCampaigns();"
                            required></select>
                        <b>Conversion Event</b>
                        <select class="form-control" ng-model="uploadset.account.conversion_event" ng-options="c for c in conversionEvents" ng-change="validUploadset(uploadset)"
                            required></select>
                    </div>
                    <div class="col-md-6">
                        <b>Voluum Campaigns</b>&nbsp;&nbsp;
                        <i class="fa fa-refresh" ng-show="!loadingCamps" ng-click="refreshCamps()"></i>&nbsp;&nbsp;
                        <div style="display:inline-block;" class="loader-xs" ng-show="loadingCamps"></div>
                        <select class="form-control" ng-model="selectedCampaign[0]" ng-options="c.name for c in filteredCampaigns track by c.id"
                            ng-change="campaignSelected(uploadset.account);" ng-disabled="!uploadset.account && !uploadset.account.pixel"
                            multiple required></select>
                        <label ng-show="uploadset.account.campaignUrl" class="control-label">Campaign Url</label>
                        <input ng-show="uploadset.account.campaignUrl" class="form-control" ng-model="uploadset.account.campaignUrl" />
                    </div>
                </div>
                <br />
                <div ng-repeat="adset in uploadset" ng-init="adsetIndex = $index" ng-show="uploadset.account.conversion_event">
                    <div class="d-flex justify-content-between">
                        <div class="p-2">
                            <h2>Adset {{$index + 1}}</h2>
                        </div>
                        <div class=" col">
                            <hr>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-success" data-toggle="collapse" data-target="{{ '#adset-' + $index }}">
                                <i class="fas fa-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                    <div ng-attr-id="{{ 'adset-' + $index }}">
                        <div class="row">
                            <div class="col-md-1 offset-md-1">
                                <label class="control-label">Sex</label>
                            </div>
                            <div class="col-md-2 btn-group" role="group" aria-label="...">
                                <button type="button" ng-model="adset.adsetDetails.sex" ng-click="adset.adsetDetails.sex='Men';validUploadset(uploadset)"
                                    class="btn btn-default">
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                </button>
                                <button type="button" ng-model="adset.adsetDetails.sex" ng-click="adset.adsetDetails.sex='Women';validUploadset(uploadset)"
                                    class="btn btn-default">
                                    <i class="fa fa-female" aria-hidden="true"></i>
                                </button>
                                <button type="button" ng-model="adset.adsetDetails.sex" ng-click="adset.adsetDetails.sex='Both Sexes';validUploadset(uploadset)"
                                    class="btn btn-default">
                                    <i class="fa fa-female" aria-hidden="true"></i>
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                    <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
                                </button>
                            </div>
                            <div class="col-md-1">{{adset.adsetDetails.sex}}</div>
                            <div class="col-md-1 offset-md-1">
                                <label class="control-label">Country</label>
                            </div>
                            <div class="col-md-3">
                                <country-select ng-model="adset.adsetDetails.country" cs-priorities="AUS, DEU, GBR, USA, FRA, IRL, CAN, CHE"></country-select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class=" offset-md-1 col-md-1">
                                <label class="control-label">Age</label>
                            </div>
                            <div class="col-md-1">
                                <select class="form-control" ng-model="adset.adsetDetails.minAge" ng-change="validUploadset(uploadset)" ng-options="a for a in ageRange"
                                    required></select>
                            </div>
                            <div class="col-md-1">
                                <center>to</center>
                            </div>
                            <div class="col-md-1">
                                <select class="form-control" ng-model="adset.adsetDetails.maxAge" ng-change="validUploadset(uploadset)" ng-options="a for a in ageRange"
                                    required></select>
                            </div>
                            <div class="col-md-1 offset-md-1">
                                <label class="control-label">Mobile</label>
                            </div>
                            <div class="col-md-1 pretty outline-success plain" style="font-size: 22px">
                                <input type="checkbox" ng-init="adset.adsetDetails.mobile=false" ng-model="adset.adsetDetails.mobile" ng-click="adset.adsetDetails.audienceNetwork=false"
                                />
                                <label>
                                    <i class="fa fa-check"></i>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Audience Network
                                    <i class="fas fa-info-sign" data-toggle="tooltip" data-placement="right"
                                        title="Mobile must be checked to use the audience network"></i>
                                </label>
                            </div>
                            <div class="pretty outline-success plain" style="font-size: 22px">
                                <input type="checkbox" ng-init="adset.adsetDetails.audienceNetwork=false" ng-model="adset.adsetDetails.audienceNetwork" ng-disabled="adset.adsetDetails.mobile==false"
                                />
                                <label>
                                    <i class="fa fa-check" ng-disabled="adset.adsetDetails.mobile==false"></i>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" offset-md-1 col-md-1">
                                <label class="control-label">Interests</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="adset.adsetDetails.interests">
                            </div>

                            <div class="col-md-1 offset-md-1">
                                <label class="control-label">Desktop</label>
                            </div>
                            <div class="col-md-1 pretty outline-success plain" style="font-size: 22px">
                                <input type="checkbox" ng-init="adset.adsetDetails.desktop=false" ng-model="adset.adsetDetails.desktop" ng-click="adset.adsetDetails.rhs=false"
                                />
                                <label>
                                    <i class="fa fa-check"></i>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">
                                    RHS
                                    <i class="fa fa-info-sign" data-toggle="tooltip" data-placement="right" title="Desktop must be checked to use RHS (right hand side)"></i>
                                </label>
                            </div>
                            <div class="pretty outline-success plain" style="font-size: 22px">
                                <input type="checkbox" ng-init="adset.adsetDetails.rhs=false" ng-model="adset.adsetDetails.rhs" ng-disabled="adset.adsetDetails.desktop==false"
                                />
                                <label>
                                    <i class="fa fa-check" ng-disabled="adset.adsetDetails.desktop==false"></i>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-md-1 col-md-1">
                                <label class="control-label">
                                    Audience
                                    <i class="fa fa-info-sign" data-toggle="tooltip" data-placement="right" title="Custom Audience should be comma separate (e.g. 'painters,art,drawing')"></i>
                                </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" maxlength="140" class="form-control" ng-model="adset.adsetDetails.audience">
                            </div>

                            <div class="col-md-1 offset-md-1">
                                <label class="control-label">Instagram</label>
                            </div>
                            <div class="col-md-1 pretty outline-success plain" style="font-size: 22px">
                                <input type="checkbox" ng-init="adset.adsetDetails.instagram=false" ng-model="adset.adsetDetails.instagram" />
                                <label>
                                    <i class="fa fa-check"></i>
                                </label>
                            </div>
                            <div class="col-md-1">
                                <label class="control-label">
                                    Budget
                                </label>
                            </div>
                            <div class="col-md-1">
                                <input class="form-control" name="budget" ng-model="adset.adsetDetails.budget" ng-blur="validUploadset(uploadset);" currency/>
                            </div>
                        </div>
                        <hr />
                        <div ng-repeat="ad in adset.ads">
                            <div class="d-flex justify-content-between">
                                <div class="p-2">
                                    <h3>Ad # {{$index + 1}}</h3>
                                </div>
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-1"></div>
                                    <div class="col-md-7">
                                        <div class="p-2">Headline
                                            <input type="text" name="headline" class="form-control" maxlength="200" placeholder="Headline Text Goes Here.."
                                                required ng-model="ad.headline" ng-disabled="adset.disabled == 1">
                                        </div>
                                        <div class="p-2">Body
                                            <textarea type="text" name="body" class="form-control" rows="3" maxlength="300"
                                                placeholder="Body Text Goes Here.." required ng-model="ad.body" ng-disabled="adset.disabled == 1"></textarea>
                                        </div>
                                        <div class="p-2">NFLD
                                            <input type="text" name="newsfeed" maxlength="200" class="form-control" placeholder="Newsfeed Lik Description"
                                                required ng-model="ad.newsfeed_link" ng-disabled="adset.disabled == 1">
                                        </div>
                                        <div class="p-2">Media URL
                                            <input type="text" name="graphic_link" class="form-control" maxlength="200"
                                                placeholder="Img Path or Google Drive Video link" required ng-model="ad.link_to_graphic"
                                                ng-disabled="adset.disabled == 1">
                                        </div>
                                        <div class="p-2">Thumbnail
                                            <input type="text" name="thumbnail" class="form-control" maxlength="100"
                                                placeholder="Thumbnail link" required ng-model="ad.thumbnail" ng-disabled="adset.disabled == 1"
                                            />
                                        </div>
                                        <div class="p-2">Comment
                                            <textarea type="text" name="comment" class="form-control" rows="3" maxlength="300"
                                                placeholder="Any important notes..." ng-change="" required ng-model="ad.comment"
                                                ng-disabled="adset.disabled == 1"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-3 offset-md-1">
                                        <div class="d-flex justify-content-end">
                                            Toggle Preview Type:&nbsp;
                                            <label class="switch">
                                                <input type="checkbox" ng-model="preview_view" ng-class="{checked:preview_view}">
                                                <span class="slider" ng-model="preview_view" ng-change="preview_view = !preview_view;"></span>
                                            </label>
                                        </div>
                                        <div>
                                            <div ng-show="preview_view">
                                                <fb-ad ng-model="ad"></fb-ad>
                                            </div>
                                            <div ng-show="!preview_view">
                                                <fb-ad-mobile ng-model="ad"></fb-ad-mobile>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <br>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary" ng-click="newAd(adsetIndex)">New Ad</button>&nbsp;
                                <button class="btn btn-primary" ng-disabled="adset.ads.length==1" ng-click="removeAd(adsetIndex, $index)">Remove Ad</button>
                            </div>
                        </div>
                        <!-- end of ng-repeat for ads -->
                    </div>
                    <div class="d-flex justify-content-start">
                        <div class="p-2">
                            <button class="btn btn-primary" ng-click="newAdSet()">New Adset</button>&nbsp;
                        </div>
                        <div class="p-2">
                            <button class="btn btn-default" ng-click="duplicateAdSet($index)">Dup Adset {{$index + 1}}</button>&nbsp;
                        </div>
                        <div class="p-2">
                            <button class="btn btn-primary" ng-disabled="uploadset.length==1" ng-click="removeAdSet($index)">Remove Adset</button>
                        </div>
                    </div>
                </div>
                <!-- end of ng-repeat for ad sets -->

        </div>
        <br>
        <div class="col-md-12" ng-show="isValidUploadset==true">

                    <center>
                        <button class="btn btn-primary" ng-disabled="isValidUploadset==false" ng-click="createUploadset()">Submit Entire Uploadset</button>
                        <button class="btn btn-primary" ng-if="true" ng-click="consoleLogUploadset()">Log Uploadset Changes</button>
                    </center>
        </div>
    </div>
    <div class="row" ng-show="!availableAccounts.length">
        <center>
            <h4>No Accounts Available!
                <br /> Please add an account and set it's to "Ready"</h4>
        </center>
    </div>
</div>
</section>