﻿
<section class="content"></section>
<div class="container-fluid" ng-controller="secretSauceCtrl">
    <br />
    <!-- <div class="flex-center" style="padding-bottom:5px;">
        <button class="btn btn-primary" ng-click="sortContent('vertical')">Vertical<i ng-class="{ 'fa fa-chevron-down': !verticalReverse, 'fa fa-chevron-up': verticalReverse}"></i></button>
        <select style="width:15%;" class="form-control " ng-model="verticalFilter" ng-options="v for v in verticals" ng-click="verticalChange()">
        </select>
        <button class="btn btn-primary" ng-click="sortContent('country')">Country<i ng-class="{ 'fa fa-chevron-down': !geoReverse, 'fa fa-chevron-up': geoReverse}"></i></button>
        <select style="width:15%;" class="form-control " ng-model="countryFilter" ng-options="c for c in countries" ng-click="countryChange()">
        </select>
        <button class="btn btn-primary" ng-click="sortContent('sex')">Gender<i ng-class="{ 'fa fa-chevron-down': !sexReverse, 'fa fa-chevron-up': sexReverse}"></i></button>
        <select style="width:15%;" class="form-control " ng-model="sexFilter" ng-options="s for s in sexes" ng-click="sexChange()"></select>
    </div> -->
    <div class="d-flex">
        <div class="col-md p-2">
            <b>Search</b>
            <input class="form-control" type="text" placeholder="Search Batch ..." ng-model="globalFilter">
        </div>
        <div class="col-md p-2">
            <b>User</b>
            <select class="form-control" ng-model="userFilter" ng-options="u for u in users" ng-change="filterChanged()" required></select>
        </div>
        <div class="col-md p-2">
            <b>Angle</b>
            <select class="form-control" ng-model="angleFilter" ng-options="a for a in angles" ng-change="filterChanged()" required></select>
        </div>
        <div class="col-md p-2">
            <b>Vertical</b>
            <select class="form-control" ng-model="verticalFilter" ng-options="v for v in verticals" ng-change="filterChanged()" required></select>
        </div>
        <div class="col-md p-2">
            <b>Geo</b>
            <select class="form-control" ng-model="geoFilter" ng-options="g for g in geos" ng-change="filterChanged()" required></select>
        </div>
        <div class="col-md p-2">
            <b>Sort</b>
            <select class="form-control" ng-model="sortByFilter" ng-options="m for m in sortByFilters" ng-change="filterChanged()" required></select>
        </div>
        <div class="col-md p-2">
            <b>From</b>
            <input id="dtFrom" name="dtFrom" type="text" class="form-control" ng-model="dtFrom" jqdatepicker />
        </div>
        <div class="col-md p-2">
            <b>To</b>
            <input id="dtTo" name="dtTo" type="text" class="form-control" ng-model="dtTo" jqdatepicker />
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="p-2">
            <button type="button" class="btn btn-primary" ng-click="filterChanged()">Search</button>
        </div>
        <div class="p-2">
            <a href="" ng-click="showHide('grid');"><i class="fas fa-th fa-lg"></i></a>
        </div>
        <div class="p-2">
            <a href="" ng-click="showHide('list');"><i class="fas fa-bars fa-lg"></i></a>
        </div>
    </div>

    <div ng-show="list" class="row">
        <div class="col-md-12">
            <div class=" table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th style="width:15px;">Edit</th>
                            <th>
                                Account Name
                                <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];"
                                     class="fas fa-chevron-up"></div>
                                <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];"
                                     class="fas fa-chevron-down"></div>
                            </th>
                            <th>
                                Owner
                                <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];"
                                     class="fas fa-chevron-up"></div>
                                <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];"
                                     class="fas fa-chevron-down"></div>
                            </th>
                            <th>Body Text</th>
                            <th>Headline</th>
                            <th>URL</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="ad in filteredAds | filter: globalFilter | filter: search | itemsPerPage:25">
                            <td class="text-center search-td">{{$index + 1}}</td>
                            <td>
                                <a href="#edit_account/{{ad.account_key}}?tab=Copy&content_key={{ad.content_key}}"><i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                {{ad.fname}} {{ad.lname}}
                            </td>
                            <td>
                                {{ad.owner}}
                            </td>

                            <td>
                                {{ad.body.substr(0,311)}}
                            </td>
                            <td>
                                {{ad.headline.substr(0,255)}}
                            </td>
                            <td>
                                {{ad.url.substr(0,40)}}
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>

    <div ng-show="grid" class="row">
            <div class="col-md-12">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </div>
        <!--class="col-md-3 col-sm-6" ng-repeat="ad in filteredAds | limitTo: 100"-->
        <div class="col-md-3 col-sm-6" dir-paginate="ad in filteredAds | filter: globalFilter | filter: search | itemsPerPage:24">

            <!-- /.card -->
            <div class="card">
                <!--<div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-text-width"></i>
                    ADS CONTENT
                </h3>
            </div>-->
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <a href="#edit_account/{{ad.account_key}}?tab=Copy&content_key={{ad.content_key}}">{{ad.fname}} {{ad.lname}}</a>
                            </p>
                            <p>{{ad.country}} - {{ad.vertical}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            ROI: <label ng-if="ad.roi">{{ad.roi | percent}}</label>
                            <label ng-if="!ad.roi">N/A</label>
                        </div>
                        <div class="col-md-6">
                            Spend:
                            <label ng-if="ad.total_spend"> {{ad.total_spend |currency}}</label>
                            <label ng-if="!ad.total_spend">$0</label>
                        </div>
                        <div class="col-md-6">
                            Revenue:
                            <label ng-if="ad.revenue">{{ad.revenue | currency}}</label>
                            <label ng-if="!ad.revenue">$0</label>
                        </div>
                        <div class="col-md-6">
                            Profit:<label ng-if="ad.profit">{{ad.profit | currency}}</label>
                            <label ng-if="!ad.profit">$0</label>
                        </div>
                        <div class="col-md-6">
                            Account Owner:
                            <label ng-if="ad.owner">{{ad.owner}}</label>
                            <label ng-if="!ad.owner"> Unknown</label>
                        </div>
                    </div>
                    <div class="row">
                        Toggle Preview Type:
                        <input type="checkbox" ng-model="preview_view " ng-class="{checked:preview_view}">
                        <span class="slider" ng-model="preview_view " ng-change="preview_view=! preview_view; "></span>
                    </div>
                    <div class="row">
                        <div class="col-md-12" ng-if="preview_view ">
                            <fb-ad ng-model="ad "></fb-ad>
                        </div>
                        <div class="col-md-12" ng-if="!preview_view ">
                            <fb-ad-mobile ng-model="ad "></fb-ad-mobile>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <textarea class="form-control " ng-model="ad.comment " rows="3 ">{{ad.comment}}</textarea>
                        </div>
                        <br />
                        <div class="col-md-4">
                            <input type="checkbox" name="performant " ng-init="ad.performant=( (ad.performant==1 ) ? true
                                        : false) " ng-model="ad.performant " />Remove
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary " ng-click="saveContent(ad) ">Save</button>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
    </div>
</div>
