﻿<div id="urlddl{{$index}}">
    <label class="control-label">Available Urls</label>
    <input class="form-control" type="text" ng-model="urlKey" ng-focus="urlToggle(true)" ng-blur="urlToggle(false)">
    <ul id="urllist{{$index}}" class="urlddl" ng-show="urldropdown">
        <li ng-repeat="u in availableUrls | filter: { url : urlKey }" ng-bind="u.url" ng-mousedown="safeUrlClick(u, $index)">{{u.url}}</li>
    </ul>
</div>