﻿<div id="urlddlmulti{{$index}}">
    <input class="form-control" type="text" ng-keyup="keyPress($index,keys)" ng-model="keys[$index]" ng-focus="toggle(true,$index)" ng-blur="toggle(false, $index)">
    <ul id="urllist{{$index}}" class="urlddl" ng-show="urldropdown[$index]">
        <li ng-repeat="u in availableUrls" ng-show="u.url.indexOf(keys[$parent.$index]) !== -1" ng-bind="u.url" ng-mousedown="safeUrlClick(u, $index, $parent.$index)">{{u.url}}</li>
    </ul>
</div> 