.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: auto;
}
/*pnl td height fix*/
.pnl-t-f td {
    height: 35px;
}

.pnl-t-adset div {
    height: 35px;
}
.pnl-t-adset div p {
   padding-top:5px;
}
/*Font Size Fix*/

.scroller{
    width:100%;
    overflow-x:auto;
}
html, body {
    font-family: "GT America", sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 500;
}

tr > td > a, tr > td > div > a {
    font-size: 13px;
    text-decoration: none;
    color: #333;
}


? /*tab fix*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    /* border-bottom-color: transparent; */
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav > li > a:hover {
    color: black;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
}

.nav-tabs > li > a {
    border-radius: 0px;
}

.nav > li > a {
    color: #000;
    padding: 6px 10px;
}

.nav-tabs > li > a {
    /* margin-right: 2px; */
    /* line-height: 1.42857143; */
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs > li > a {
    /* margin-right: 2px; */
    /* line-height: 1.42857143; */
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
}

a {
    color: #428bca;
    text-decoration: none;
}

a {
    background: transparent;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}


.sidebar {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    font-size: medium;
}
.numeric, .number {
    text-align: right;
}

.nav-sidebar > .panel-group > .nav-item .nav-icon {
    font-size: 1.2rem;
    margin-right: .2rem;
    text-align: center;
    width: 1.6rem;
}
/* Modal CSS Fix for Bootstrap 4*/

/* Modal CSS Fix for Bootstrap 3*/
.modal.fade.in {
    opacity: 1 ;
}

.modal.in .modal-dialog {
    transform: translate(0, 0) !important;
}

.modal-backdrop.in {
    opacity: 0.5;
    
}
/* opacity: $modal-backdrop-opacity; (SCSS) */

/* Status Indicator */

.btn-status {
    cursor: default;
    text-decoration: none;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background-color: azure;
    margin: 2px;
}
.dead_acct {
    background-color: #f16b88 !important;
    color: black;
}

.warn_acct {
    background-color: #edbc40 !important;
    color: black;
}

.good_acct {
    background-color: #72d2a4 !important;
    color: black;
}

.action_acct {
    background-color: #fff8c6 !important;
    color: black;
}

.needs_acct {
    background-color: #ec99ed !important;
    color: black;
}

.rec_acct {
    background-color: #bce2f5 !important;
    color: black;
}
/* dropdown Fixed*/

.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #999;
}
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  align-items: right;
  border-bottom: 4px solid;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}

/*ui-select Fixed End*/

/* Pagination Fixed*/
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
  }
  .pagination > li {
    display: inline;
  }
  .pagination > li > a,
  .pagination > li > span {
  
    border-radius: 50px;
    background: #73AD21;
    padding: 30px;
  
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
    margin-left: 0;
    /* border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; */
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #dee2e6;
  }
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    /* border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; */
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:#dee2e6;
  }
  .pagination > li > a:hover,
  .pagination > li > span:hover,
  .pagination > li > a:focus,
  .pagination > li > span:focus {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd;
  }
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
  }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    color: #999;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
  }
  .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
  }
  .pagination-lg > li:first-child > a,
  .pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .pagination-lg > li:last-child > a,
  .pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .pagination-sm > li > a,
  .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
  }
  .pagination-sm > li:first-child > a,
  .pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .pagination-sm > li:last-child > a,
  .pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  /* Pagination Fixed End*/