/* Mixins */
/* Typography */
@font-face {
  font-family: "GT America";
  src: url("fonts/gt_america/gt_america_black_italic.woff2") format("woff2"),
    url("fonts/gt_america/gt_america_black_italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "GT America";
  src: url("fonts/gt_america/gt_america_black.woff2") format("woff2"),
    url("fonts/gt_america/gt_america_black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GT America";
  src: url("fonts/gt_america/gt_america_bold_italic.woff2") format("woff2"),
    url("fonts/gt_america/gt_america_bold_italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "GT America";
  src: url("fonts/gt_america/gt_america_bold.woff2") format("woff2"),
    url("fonts/gt_america/gt_america_bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "GT America";
  src: url("fonts/gt_america/gt_america_medium_italic.woff2") format("woff2"),
    url("fonts/gt_america/gt_america_medium_italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "GT America";
  src: url("fonts/gt_america/gt_america_medium.woff2") format("woff2"),
    url("fonts/gt_america/gt_america_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GT America";
  src: url("fonts/gt_america/gt_america_regular_italic.woff2") format("woff2"),
    url("fonts/gt_america/gt_america_regular_italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "GT America";
  src: url("fonts/gt_america/gt_america_regular.woff2") format("woff2"),
    url("fonts/gt_america/gt_america_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GT America";
  src: url("fonts/gt_america/gt_america_light_italic.woff2") format("woff2"),
    url("fonts/gt_america/gt_america_light_italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "GT America";
  src: url("fonts/gt_america/gt_america_light.woff2") format("woff2"),
    url("fonts/gt_america/gt_america_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GT America";
  src: url("fonts/gt_america/gt_america_thin_italic.woff2") format("woff2"),
    url("fonts/gt_america/gt_america_thin_italic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "GT America";
  src: url("fonts/gt_america/gt_america_thin.woff2") format("woff2"),
    url("fonts/gt_america/gt_america_thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "GT America";
  src: url("fonts/gt_america/gt_america_ultra_light_italic.woff2")
      format("woff2"),
    url("fonts/gt_america/gt_america_ultra_light_italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "GT America";
  src: url("fonts/gt_america/gt_america_ultra_light.woff2") format("woff2"),
    url("fonts/gt_america/gt_america_ultra_light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
/*Universal Styles*/
html,
body {
  font-family: "GT America", sans-serif;
  background: #f6f6f6;
}

body {
  /*padding-bottom: 80px;*/
  font-size: 12px;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.footer {
  padding-top: 19px;
  color: #333;
  border-top: 1px solid #e5e5e5;
}

.container {
  width: 90%;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0 auto;
}

.container-narrow > hr {
  margin: 30px 0;
}

.text-right {
  text-align: right;
}

.whitetext {
  color: white;
}

.whitetextcenter {
  color: white;
  text-align: center;
}

.blacktext {
  color: black;
}

.blacktextcenter {
  color: black;
  text-align: center;
}

#batchTable tr td:nth-child(1) {
  width: 30%;
}

/* #batchTable {
  width: 100%;
} */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
.page-title {
  font: 200 20px/1.48 "GT America", sans-serif;
  padding: 0 15px 15px 15px;
}

.adrow {
  padding: 20px 0 0 0;
}

textarea.form-control,
textarea.form-control.spaced {
  max-width: 100%;
  white-space: normal;
  line-height: 1.4;
}

textarea.form-control.comment {
  height: 24px;
  padding: 2px 4px;
}

.lg-width-button {
  width: 70px;
}

.btn {
  display: inline-block;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0px;
  height: 28px;
  box-shadow: 0px 2px 3px #888;
}

.btn-primary {
  background-color: #3eace2;
}

.btn-warning {
  background-color: #edbc40;
}

.btn-danger {
  background-color: #ea1745;
}

.btn-status {
  cursor: default;
  text-decoration: none;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  background-color: azure;
  margin: 2px;
}

.btn-icon {
  padding: 4px;
  height: 24px;
  font-size: 14px;
}

.form-text {
  display: block;
  height: 24px;
  line-height: 1;
}

p.form-text {
  margin: 0;
}

.form-control,
.form-control.spaced {
  display: block;
  height: 24px;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 1;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
}

.form-listbox {
  display: block;
  height: 114px !important;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 1;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  width: 100%;
}

.form-control.spaced {
  margin-bottom: 5px;
}

.panel {
  border-radius: 0px;
  margin-bottom: 0px;
}

.panel.panel-default {
  border: none;
}

.panel-default > .panel-heading {
  color: #000;
  background-color: #f6f6f6;
  border: none;
  font: 200 20px/1.48 "GT America", sans-serif;
  border-radius: 0px;
}

.table {
  overflow-x: scroll;
  border: none !important;
}

.table > thead > tr th,
.table > thead > tr td,
.table > tbody > tr th,
.table > tbody > tr td {
  padding: 3px 5px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  vertical-align: middle;
  line-height: 1;
}
.table > thead > tr th,
.table > tbody > tr th {
  background-color: #40b8c8;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  border-bottom: none;
  border-left: solid 1px #8cd4de;
}
.table > thead > tr th:not(:first-child),
.table > tbody > tr th:not(:first-child) {
  border-left: solid 1px #8cd4de;
}
.table > thead > tr td,
.table > tbody > tr td {
  border-right: 1px solid #ddd;
}

.blueblue {
  background: blue !important;
}

tr:nth-child(even) {
  background: #eee;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
tr:nth-child(even):hover {
  background: #cecece;
}
tr:nth-child(even).selected {
  background: #b4b4b4;
  -moz-box-shadow: inset 0 0 2px #333;
  -webkit-box-shadow: inset 0 0 2px #333;
  box-shadow: inset 0 0 2px #333;
}

tr:nth-child(odd) {
  background: #fff;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
tr:nth-child(odd):hover {
  background: #dadada;
}
tr:nth-child(odd).selected {
  background: #b4b4b4;
  -moz-box-shadow: inset 0 0 2px #333;
  -webkit-box-shadow: inset 0 0 2px #333;
  box-shadow: inset 0 0 2px #333;
}

.table > tfoot > tr th,
.table > tfoot > tr td {
  padding: 3px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.search-td {
  border-right: 1px solid #ddd;
}

.table-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.table-container {
  overflow-y: scroll;
  height: 75vh;
  border-top: 25px solid transparent;
  border-bottom: 31px solid transparent;
}

table.pnl-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.pnl-table td + td {
  border-right: 1px solid #fff;
}

.pnl-table tbody td,
.pnl-table thead th {
  max-width: 100px;
  border-bottom: none;
  padding: 2px 0px 2px 4px;
}

.pnl-table thead tr th,
.pnl-table tfoot tr td {
  height: 0;
  line-height: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}

.pnl-table thead tr th div,
.pnl-table tfoot tr td div {
  position: absolute;
  color: #fff;
  padding: 5px;
  line-height: normal;
  width: 100%;
  z-index: 2;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  border-left: solid 1px #8cd4de;
  background: #40b8c8;
}

.pnl-table thead tr th div {
  border-bottom: 1px solid #8cd4de;
  margin-left: -5px;
  top: 0;
}

.pnl-table tfoot tr td div {
  border-top: 1px solid #8cd4de;
  bottom: 0;
}

.pnl-table thead tr th:first-child div,
.pnl-table tfoot tr td:first-child div {
  border-left: none;
}

.pnl-table tbody tr:nth-child(even) {
  background: #eee;
}

.pnl-table tbody tr:nth-child(odd) {
  background: #fff;
}

strong,
b,
control-label,
label {
  font-weight: 500;
}

.table > tr {
  border: none;
}

tr > td.right {
  text-align: right;
  padding-right: 5px;
}

tr > td.center,
tr > th.center {
  text-align: center;
}

tr > td > a,
tr > td > div > a {
  font-size: 13px;
  text-decoration: none;
  color: #333;
}
tr > td > a:hover,
tr > td > a:focus,
tr > td > div > a:hover,
tr > td > div > a:focus {
  font-size: 13px;
  text-decoration: underline;
  color: #000;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

.th-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.td-cc-select {
  width: 85px;
}

.pad-five {
  padding: 5px;
}

.marg-five {
  margin: 5px;
}

/* Table Row Color Coding */
.dead_acct {
  background-color: #f16b88 !important;
  color: black;
}

.warn_acct {
  background-color: #edbc40 !important;
  color: black;
}

.good_acct {
  background-color: #72d2a4 !important;
  color: black;
}

.action_acct {
  background-color: #fff8c6 !important;
  color: black;
}

.needs_acct {
  background-color: #ec99ed !important;
  color: black;
}

.rec_acct {
  background-color: #bce2f5 !important;
  color: black;
}

/* End Table Row Color*/
.navbar {
  border-radius: 0;
  border: none;
  margin-bottom: 10px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.navbar-nav.navbar-right:first-child {
  margin-left: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: #000;
  line-height: 60px;
  padding: 0 10px;
}

.navbar-inverse {
  color: #000;
  background: #fff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #000;
  background-color: #f6f6f6;
}

.footer {
  color: #000;
  background: #fff;
}

.nav > li > a {
  color: #000;
  padding: 6px 10px;
}

.nav > li > a:hover {
  color: black;
}

.nav-tabs > li > a {
  border-radius: 0px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}

.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
}

.dropdown-menu {
  margin-bottom: 52px;
  z-index: 1;
  max-height: 200px;
  overflow: auto;
  border-radius: 0px;
  line-height: 1.2;
  font-size: 12px;
}

.dropdown-menu > li {
  cursor: pointer;
}

.dropdown-menu > li > a {
  padding: 2px 8px;
  line-height: 1.2;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-middle {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.width-20 {
  width: 20%;
}

.width-80 {
  width: 80%;
}

/* Directives */
#urlddl {
  position: relative;
}

.urlddl {
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #000;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  z-index: 3;
}

.urlddl > li {
  list-style: none;
  padding: 0px 5px 0px 5px;
  z-index: 4;
}

#angleddl #columnddl {
  position: relative;
}

.angleddl,
.columnddl {
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #000;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  z-index: 3;
}

.angleddl > li,
.columnddl > li {
  list-style: none;
  padding: 0px 5px 0px 5px;
  z-index: 4;
}

/* End Directives*/
/* Loading animations */
.loader,
.loader-lg,
.loader-md,
.loader-sm,
.loader-xs {
  margin: auto;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-lg {
  border: 16px solid #e7e7e7;
  border-top: 16px solid #4f3a95;
  border-bottom: 16px solid #4f3a95;
  width: 240px;
  height: 240px;
}

.loader-md {
  border: 8px solid #40b8c8;
  border-top: 8px solid #e7e7e7;
  border-bottom: 8px solid #e7e7e7;
  width: 96px;
  height: 96px;
}

.loader-sm {
  border: 3px solid #4f3a95;
  border-top: 3px solid #e7e7e7;
  border-bottom: 3px solid #e7e7e7;
  width: 24px;
  height: 24px;
}

.loader-xs {
  border: 2px solid #4f3a95;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 16px;
  height: 16px;
}

/* info icon tooltip cursor */
label > i.fas {
  cursor: pointer;
}

.thumbnail {
  height: 158px;
  width: 300px;
}

/* end loading */
/* Edit Accounts */
.edit_card {
  background-color: white;
  box-shadow: 0px 2px 3px #888;
  margin-bottom: 10px;
  padding: 10px;
}

/***end edit accounts*/
/* Profit And Loss pnl */
.pnl-account {
  background-color: #fff;
  padding: 5px;
}

.pnl-row {
  display: flex;
  flex-flow: row;
  overflow-x: scroll;
  max-width: 1700px;
}

.pnl-item {
  padding: 5px;
  border-top: 1px dotted #777;
  border-bottom: 1px dotted #777;
  border-left: 1px dotted #777;
  justify-content: space-between;
  flex: none;
}

.pnl-text:nth-child(even),
.edit-pnl-text:nth-child(even) {
  background: #eee;
}

.pnl-text:nth-child(odd),
.edit-pnl-text:nth-child(odd) {
  background: #fff;
}

.pnl-control:nth-child(even),
.edit-pnl-control:nth-child(even) {
  background: #eee;
}

.pnl-control:nth-child(odd),
.edit-pnl-control:nth-child(odd) {
  background: #fff;
}

.pnl-item:last-child {
  border-right: 1px dotted #777;
}

.pnl-control {
  display: block;
  height: 20px;
  padding: 2px;
  font-size: 12px;
  line-height: 1;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin: 0 0 2px;
}

.pnl-text {
  padding: 2px;
  display: block;
  font-size: 12px;
  margin: 0 0 2px;
  height: 20px;
}

.pnl-heading-width {
  width: 70%;
}

.numeric {
  text-align: right;
}

.edit-pnl-control {
  display: block;
  width: 100%;
  height: 24px;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 1;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 0px;
}

.number {
  text-align: right;
}

.profit {
  color: #1dd17a !important;
  font-weight: 500;
}

.loss {
  color: #ea1745 !important;
  font-weight: 500;
}

.nonet {
  color: #edbc40 !important;
  font-weight: 500;
}

.edit-pnl-text,
.edit-pnl-text.date,
.edit-pnl-text.timeframe {
  display: block;
  align-items: center;
  padding: 2px 4px;
  height: 24px;
  line-height: 1.7;
  margin: 0;
  font-weight: 500;
}

.edit-pnl-text.date {
  text-align: center;
  color: #fff;
  background: #4f3a95;
}

.edit-pnl-text.timeframe {
  text-align: center;
  color: #fff;
  background: #40b8c8;
}

.pnl-table {
  width: 100%;
  max-height: 85vh;
}

ul.pagination {
  margin: 5px 0;
  border-radius: 0;
}

/* End pnl */
/* Facebook Ad Preview */
.fb {
  color: #90949c;
  font-size: 12px;
  background-color: #fff;
}

.fb-ad {
  width: 413px;
  margin: 0 0 8px;
  padding: 12px 12px 0;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
}

.fb-header {
  display: flex;
  justify-content: space-between;
}

.fb-page {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.fb-prof-img {
  height: 40px;
  width: 40px;
}

.fb-body {
  font-size: 14px;
  height: 8%;
  color: #000;
  word-wrap: break-word;
}

.fb-content {
  border-top: 1px solid #e9e9e9;
  margin-top: 9px;
}

.fb-bottom {
  padding: 12px 0;
  border-bottom: 1px solid #ced0d4;
  display: flex;
  justify-content: space-between;
}

.fb-footer {
  display: flex;
  padding: 12px 0;
  color: #4b4f56;
}

.fb-img {
  border: 1px solid #000;
}

.fb-img > img {
  width: 100%;
  height: 201px;
}

.fb-section .fb-text {
  border-right: 1px solid #ced0d4;
  border-bottom: 1px solid #ced0d4;
  border-left: 1px solid #ced0d4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fb-headline {
  font-size: 18px;
  padding: 7px 10px 0;
  border-right: 1px solid #ced0d4;
  border-left: 1px solid #ced0d4;
  color: #000;
  font-family: "Times New Roman", Times, serif;
  word-wrap: break-word;
}

.fb-nfld {
  color: #000;
  padding: 7px 10px 0;
  word-wrap: break-word;
  width: 100%;
  border-right: 1px solid #ced0d4;
  border-left: 1px solid #ced0d4;
}

.fb-button {
  font-size: 12px;
  font: 1000;
  content: "";
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  color: #4b4f56;
  background-color: #e9ebee;
  border: 1px solid #ced0d4;
  border-radius: 2px;
  white-space: nowrap;
}

.fb-text .fb-cta {
  padding: 7px 10px;
}

.fb-cta {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.fb-url {
  font-size: 10px;
  padding: 7px 10px;
  word-wrap: break-word;
}

.fb-details {
  display: flex;
  justify-content: flex-end;
}

.fb-ad > a {
  font-size: 18px;
  color: #365899;
  cursor: pointer;
  text-decoration: none;
}

.fb-like {
  display: flex;
}

.fb-likes {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: dodgerblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb-prof-icon {
  height: 15px;
  width: 15px;
}

/*end FB ad*/
/* Facebook Mobile Ad Preview */
.fb-mobile {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #dddfe2;
  color: #000;
  font-size: 14px;
  line-height: 18px;
}

.fb-mobile-ad {
  width: 320px;
  margin: 0 0 8px 0;
  padding-top: 10px;
  border: 1.25px solid #ccc;
  border-radius: 3px;
}

.fb-mobile-content {
  border-top: 1px solid #e9e9e9;
  margin: 0 0 12px;
  padding: 10px 10px 0;
  font-size: 13px;
  line-height: 17px;
  background-color: #fff;
}

.fb-mobile-header-right {
  color: #c3c8d1;
}
.fb-mobile-header-right .thumbs {
  font-size: 20px;
}

.fb-mobile-prof-img {
  height: 40px;
  width: 40px;
}

.fb-mobile-body {
  font-size: 12px;
  height: 8%;
  padding-top: 12px;
  color: #000;
  word-wrap: break-word;
}

.fb-mobile-footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  padding: 8px 0;
  margin: 0 -10px;
  border-top: 1px solid #ced0d4;
  border-bottom: 1px solid #fff;
  background-color: #f3f3f3;
  color: #5e5e5e;
}

.fb-mobile-img > img {
  width: 95%;
  height: 168px;
}

.fb-mobile-section .fb-mobile-text {
  border-right: 1px solid #ced0d4;
  border-bottom: 1px solid #ced0d4;
  border-left: 1px solid #ced0d4;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fb-mobile-headline {
  font-size: 12px;
  font-weight: 700;
  color: #000;
  word-wrap: break-word;
}

.fb-mobile-nfld,
.fb-mobile-url {
  font-size: 10px;
  overflow: hidden;
  word-wrap: break-word;
}

.fb-mobile-cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb-mobile-button {
  font: 11.333px Arial;
  content: "";
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  border-radius: 4px;
  white-space: nowrap;
  background-color: #f6f7f9;
  color: #4b4f56;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0)
  );
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border-style: solid;
  border-width: 1px;
  bottom: -1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07),
    inset 0 -1px 1px 0 rgba(0, 0, 0, 0.03);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.155) rgba(0, 0, 0, 0.29);
}

/*end FB mobile ad*/
.secret-sauce-item {
  padding: 0 20px 10px;
  border: 2px solid #ccc;
  margin: 5px 5px 0 0;
  background-color: #fff;
}

/* Date Picker*/
.ui-date-picker-input {
  padding: 2px 4px;
  height: 24px;
  line-height: 1;
}

#ui-datepicker-div {
  background: #777;
  z-index: 1051 !important;
}

.ui-datepicker th {
  font-weight: 300;
}

.ui-datepicker td a {
  text-align: center;
}

/* Slider selector */
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
}
.switch input {
  display: none;
}
.switch input:checked + .slider {
  background-color: #40b8c8;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #8cd4de;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4f3a95;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

/* */
.badge {
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999;
  border-radius: 10px;
}

/*# sourceMappingURL=styles.css.map */
