﻿<div class='btn-group' data-ng-class='{open: open}' >
    <button class='btn btn-primary dropdown-toggle' data-ng-click='toggleDropdown()' >
        Columns <span class='caret'></span>
    </button>
    <ul class='dropdown-menu dropdown-menu-right' aria-labelledby='dropdownMenu' ng-blur='toggleDropdown()'>
        <li data-ng-repeat='option in options'>
            <a data-ng-click='toggleSelectItem(option)'>
            <input type="checkbox" ng-checked='checkedItem(option)' ng-click="toggleSelectedItem(option)"/>
            {{option}}
            </a>
        </li>
    </ul>
</div>