﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]><! -->
<html class="no-js">
<!-- <![endif] -->

<head>
    <meta charset="utf-8" />
    <title>LHM</title>
    <meta name="description" content="LHM" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/a-lte-dashboard/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style Bootstrap v4.3.1 -->
    <link rel="stylesheet" href="bower_components/a-lte-dashboard/dist/css/adminlte.css">
    <!-- Pace-progress -->
    <link rel="stylesheet" href="bower_components/a-lte-dashboard/plugins/pace-progress/themes/orange/pace-theme-flash.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="bower_components/a-lte-dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- CSS issue Fixed  -->
    <link rel="stylesheet" href="styles/cssfix.css">
    <!-- ng2Handsontable -->
    <link rel="stylesheet" media="screen" href="bower_components/handsontable/dist/handsontable.full.css">
    <!-- Select2 https://select2.org/ -->
    <link rel="stylesheet" href="bower_components/a-lte-dashboard/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-sweetalert/lib/sweet-alert.css" />
    <link rel="stylesheet" href="bower_components/intro.js/introjs.css" />
    <link rel="stylesheet" href="styles/angular-wizard.css" />
    <link rel="stylesheet" href="styles/animate.css" />
    <link rel="stylesheet" href="styles/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="styles/ribbon.css" />
    <!-- Ionicons -->
    <!--<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">-->
    <!-- iCheck -->
    <link rel="stylesheet" href="bower_components/a-lte-dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="bower_components/a-lte-dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="bower_components/a-lte-dashboard/plugins/daterangepicker/daterangepicker.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>
<!--layout-fixed layout-navbar-fixed layout-footer-fixed-->
<body ng-app="menciusapp" class="hold-transition pace-done sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-collapse">
    <!-- Pace on Load -->
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <!-- Content Wrapper -->
    <div class="wrapper">
        <!--[if lt IE 7]>
          <p class="browsehappy">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
          </p>
        <![endif]-->
        <!-- Navbar -->
        <nav ng-controller="navCtrl" class="main-header navbar navbar-expand navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block" ng-click="navClicked($index)">
                    <a href="#active_accounts" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block" ng-click="navClicked($index)">
                    <a href="#admindashboard" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block" ng-click="navClicked($index)">
                    <a href="#about" class="nav-link">About</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block" ng-click="navClicked($index)">
                    <a href="" class="nav-link">Contact</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <!--<form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" ng-model="rootTableFilter">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>-->
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Admin Dropdown Menu -->
                <li class="nav-item d-none d-sm-inline-block" ng-click="navClicked($index)">
                    <a href="" class="nav-link">{{ username }}</a>
                </li>
                <li id="userOptions" class="nav-item dropdown" ng-click="navClicked($index)">
                    <a class="nav-link" data-toggle="dropdown">
                        <i class="fas fa-users-cog"></i>&nbsp;&nbsp; Setting &nbsp;&nbsp;<i class="fas fa-caret-down"></i>
                        <span class="badge badge-warning navbar-badge"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header">User Settings</span>
                        <div class="dropdown-divider"></div>

                        <div class="dropdown-divider"></div>
                        <a href="#profile" ng-show="user" ng-click="" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="" ng-show="user" ng-click="logout()" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> Log Out
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#login" ng-show="!isLoggedIn" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> Login
                        </a>
                    </div>
                </li>

                <!-- Admin Menu-->
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#home" class="brand-link">
                <img src="bower_components/a-lte-dashboard/dist/img/avatar2.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">{{ username }}Admin</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <!--<div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="bower_components/a-lte-dashboard/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="home" class="d-block">Main Navigation</a>
                </div>
                </div>-->
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-compact" data-widget="treeview" role="menu" data-accordion="false">
                        <!--Dashboard-->
                        <li class="nav-header"></li>
                        <li ng-show="user" class="nav-item has-treeview menu-open">
                            <a ng-show="user" class="nav-link active">
                                <i class="nav-icon fas fa-chart-line"></i>
                                <p>
                                    Dashboard
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li id="dashboard" class="nav-item" ng-click="navClicked($index)">
                                    <a href="#admindashboard" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-maroon nav-icon"></i>
                                        <p>Dashboard</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-header"></li>
                        <li id="accounting" ng-show="user" class="nav-item has-treeview">
                            <a ng-show="user" class="nav-link">
                                <i class="nav-icon fas fa-users-cog"></i>
                                <p>
                                    Admin
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" ng-click="navClicked($index)">
                                    <a href="#usersAdmin" ng-show="user" ng-click="" class="nav-link">
                                        <i class="fas fa-users text-orange mr-2"></i>
                                        <p>Add User</p>
                                    </a>
                                </li>
                                <li class="nav-item" ng-click="navClicked($index)">
                                    <a href="" ng-show="user" ng-click="" class="nav-link">
                                        <i class="fas fa-user-lock text-orange nav-icon"></i>
                                        <p>User Permission</p>
                                    </a>
                                </li>
                                <li class="nav-item" ng-click="navClicked($index)">
                                    <a href="#" ng-show="user" ng-click="" class="nav-link">
                                        <i class="fas fa-user-lock text-orange nav-icon"></i>
                                        <p>Pages</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <!--Uploads-->
                        <li class="nav-header"></li>
                        <li ng-show="user" class="nav-item has-treeview">
                            <a ng-show="user" class="nav-link">
                                <i class="nav-icon fas fa-ad"></i>
                                <p>
                                    Uploads
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" ng-click="navClicked($index)">
                                    <a href="#warm_accounts" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-primary nav-icon"></i>
                                        <p> Warming</p>
                                    </a>
                                </li>

                                <li id="home" class="nav-item" ng-click="navClicked($index)">
                                    <a href="#active_accounts" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-primary nav-icon"></i>
                                        <p>Active Accounts</p>
                                    </a>
                                </li>
                                <li class="nav-item" ng-click="navClicked($index)">
                                    <a href="#add_uploadset" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-primary nav-icon"></i>
                                        <p>Add Uploadset</p>
                                    </a>
                                </li>
                                <li class="nav-item" ng-click="navClicked($index)">
                                    <a href="#secret_sauce" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-primary nav-icon"></i>
                                        <p>Secret Sauce</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!--Account Entry-->
                        <li class="nav-header"></li>
                        <li ng-show="user" class="nav-item has-treeview">
                            <a ng-show="user" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Add Resource
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" ng-click="navClicked($index)">
                                    <a href="#add_resource" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-success nav-icon"></i>
                                        <p>Add Resource</p>
                                    </a>
                                </li>
                                <li class="nav-item" ng-click="navClicked($index)">
                                    <a href="#search" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-success nav-icon"></i>
                                        <p>Search</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!--Accounting-->
                        <li class="nav-header"></li>
                        <li ng-show="user" class="nav-item has-treeview">
                            <a ng-show="user" class="nav-link">
                                <i class="nav-icon fas fa-calculator"></i>
                                <p>
                                    Accounting
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#accounting_search" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-info nav-icon"></i>
                                        <p>Accounting Search</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#payout" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-info nav-icon"></i>
                                        <p>Payout</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!--Analytics-->
                        <li class="nav-header"></li>
                        <li ng-show="user" class="nav-item has-treeview">
                            <a ng-show="user" class="nav-link">
                                <i class="nav-icon fas fa-dollar-sign"></i>
                                <p>
                                    Analytics
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" ng-click="navClicked($index)">
                                    <a href="#pnl" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-danger nav-icon"></i>
                                        <p>
                                            P & L
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#launch_rates" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-danger nav-icon"></i>
                                        <p>Launch Rates</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#account_life" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-danger nav-icon"></i>
                                        <p>Account Life</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#analytics" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-danger nav-icon"></i>
                                        <p>Account Spending</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!--Resource-->
                        <li class="nav-header"></li>
                        <li id="resources" ng-show="user" class="nav-item has-treeview">
                            <a ng-show="user" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Resources
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#batches" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-warning nav-icon"></i>
                                        <p>Batches</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#cards" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-warning nav-icon"></i>
                                        <p>Cards</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#urls" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-warning nav-icon"></i>
                                        <p>Urls</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#verticals" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-warning nav-icon"></i>
                                        <p>Verticals</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#vms" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-warning nav-icon"></i>
                                        <p>Virtual Machines</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#statuses" ng-show="user" class="nav-link">
                                        <i class="far fa-circle text-warning nav-icon"></i>
                                        <p>Statuses</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!--Bug Reporting-->
                        <li class="nav-header"></li>
                        <li ng-show="user" class="nav-item has-treeview">
                            <a ng-show="user" class="nav-link">
                                <i class="nav-icon fas fa-bug"></i>
                                <p>
                                    Bug Reporting
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" ng-click="navClicked($index)">
                                    <a href="#contact" ng-click="getURL()" ng-show="user" data-toggle="modal" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Report Bug</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!--Demo Page-->
                        <li ng-show="user" class="nav-item has-treeview">
                            <a ng-show="user" class="nav-link">
                                <i class="nav-icon far fa-plus-square"></i>
                                <p>
                                    Demo
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" ng-click="navClicked($index)">
                                    <a href="#datatable" ng-click="getURL()" ng-show="user" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Data Table</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>

            <!-- /.sidebar -->

        </aside>

        <!-- Nav Bar Old-->
        <!-- Nav Bar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Alerts Section -->
            <div class="alert-container">
                <div class="alert-fade">
                    <alert ng-repeat="alert in alerts" type="success" close="closeAlert($index)">{{ alert.msg }}</alert>
                </div>
            </div>

            <!-- Main Content -->
            <!--style="height:75vh; overflow-y:scroll; overflow-x:scroll;-->
            <div class="content">
                <div class="container-fluid">
                    <!--<div class="card card-info card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                Active Accounts
                                {{accounts.length}} of {{allAccounts.length}}
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                            </div>
                        </div>
                    </div>-->
                    <div id="viewcontainer" class="card-body" ng-view="" style="overflow-y: auto;">
                        <div ui-view></div>
                    </div>
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>


        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want!....
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-2020 <a href="#dashboard">Lions Heart Media</a>.</strong> All rights reserved.
        </footer>
    </div>


    <!--
        footer
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text pull-right">Mencius</p>
            </div>
        </div>
      -->
    <!-- Modal Bug Report -->
    <div ng-controller="contactCtrl">
        <div class="modal fade" id="contact" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form-horizontal" action="">
                        <div class="modal-header">
                            <h4>Bug Report</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="contact-email" class="col-lg-2 control-label">Page, Location:</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="contact-subject" ng-model="bugLocation" placeholder="My Accounts Page..." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contact-message" class="col-lg-2 control-label">Description:</label>
                                <div class="col-lg-10">
                                    <textarea placeholder="Enter Bug Here..." ng-model="bugDetails" ng-change="updateContactUsForm()" class="form-control" name="" id="" cols="30" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-default" data-dismiss="modal">Close</a>
                            <button class="btn btn-primary" type="submit" data-dismiss="modal" ng-disabled="disableSend" ng-click="sendBugToTech()">
                                Send Message
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
      <![endif]-->
    <!-- jQuery -->
    <script src="bower_components/a-lte-dashboard/plugins/jquery/jquery.min.js"></script>
    <!--jQuery UI 1.11.4-->
    <script src="bower_components/a-lte-dashboard/plugins/jquery-ui/jquery-ui.js"></script>
    <!-- Popper -->
    <!--<script src="bower_components/a-lte-dashboard/plugins/popper/popper.js"></script>-->
    <!-- Bootstrap 4 -->
    <script src="bower_components/a-lte-dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="bower_components/a-lte-dashboard/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="bower_components/a-lte-dashboard/dist/js/dashboard-main.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
        $(function () {
            //The passed argument has to be at least a empty object or a object with your desired options
            $('body').overlayScrollbars({});

        });
    </script>
    <script src="bower_components/moment/moment.js"></script>

    <!-- Select2 -->
    <script src="bower_components/a-lte-dashboard/plugins/select2/js/select2.full.js"></script>
    <!-- daterangepicker -->
    <script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="bower_components/a-lte-dashboard/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- overlayScrollbars -->
    <script src="bower_components/a-lte-dashboard/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>


    <!-- AngularJS v1.4.0 -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- ui-router-->
    <script src="bower_components/angular/angular-ui-router.min.js"></script>

    <script src="bower_components/a-lte-dashboard/plugins/pace-progress/pace.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- ng2 Handsontable -->
    <script src="bower_components/handsontable/dist/handsontable.full.js"></script>
    <script src="bower_components/handsontable/dist/ngHandsontable.js"></script>
    <script src="bower_components/bootstrap-sweetalert/lib/sweet-alert.js"></script>

    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-ui-utils/keypress.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-wizard/dist/angular-wizard.js"></script>
    <script src="bower_components/angulike/angulike.js"></script>

    <script src="bower_components/intro.js/intro.js"></script>
    <script src="bower_components/angular-intro.js/src/angular-intro.js"></script>
    <script src="bower_components/angular-credit-cards/release/angular-credit-cards.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>

    <script src="fusion_charts/js/fusioncharts.js"></script>
    <script src="fusion_charts/angular-fusioncharts.js"></script>
    <script src="bower_components/angular-tablesort/js/angular-tablesort.js"></script>
    <script type="text/JavaScript" src="fusion_charts/js/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/JavaScript" src="fusion_charts/js/themes/fusioncharts.theme.candy.js"></script>
    <script type="text/JavaScript" src="fusion_charts/js/themes/fusioncharts.theme.carbon.js"></script>
    <script type="text/JavaScript" src="fusion_charts/js/themes/fusioncharts.theme.fint.js"></script>
    <script type="text/JavaScript" src="fusion_charts/js/themes/fusioncharts.theme.gammel.js"></script>
    <script type="text/JavaScript" src="fusion_charts/js/themes/fusioncharts.theme.ocean.js"></script>
    <script type="text/JavaScript" src="fusion_charts/js/themes/fusioncharts.theme.zune.js"></script>

    <!-- All const Data -->
    <script src="scripts/constants/routingConfig.js"></script>
    <script src="scripts/constants/ages.js"></script>
    <script src="scripts/constants/angles.js"></script>
    <script src="scripts/constants/geos.js"></script>
    <script src="scripts/constants/verticals.js"></script>
    <script src="scripts/constants/conversionEvents.js"></script>
    <script src="scripts/constants/cardTypes.js"></script>
    <script src="scripts/constants/users.js"></script>

    <!-- Tools -->
    <script src="scripts/tools/tools.js"></script>
    <script src="scripts/tools/errors.js"></script>
    <script src="scripts/tools/timeConversion.js"></script>

    <!-- Application main js -->
    <script src="app.js"></script>
    <script src="pages/landing/loginCtrl.js"></script>

    <!-- Controller -->
    <script src="pages/landing/landingCtrl.js"></script>
    <script src="pages/landing/verifyCtrl.js"></script>
    <script src="pages/landing/navCtrl.js"></script>
    <script src="pages/landing/aboutCtrl.js"></script>
    <script src="pages/search/searchCtrl.js"></script>
    <script src="pages/contactCtrl.js"></script>
    <script src="pages/profile/profileCtrl.js"></script>
    <script src="pages/landing/usersAdminCtrl.js"></script>
    <script src="pages/accounts/activeAccountsCtrl.js"></script>
    <script src="pages/accounts/warmAccountsCtrl.js"></script>
    <script src="pages/pnl/pnlCtrl.js"></script>
    <script src="pages/accounting/payout/payoutCtrl.js"></script>
    <script src="pages/accounting/accounting_search/accountingSearchCtrl.js"></script>
    <script src="pages/add_uploadset/addUploadsetCtrl.js"></script>
    <script src="pages/add_resource/addResourceCtrl.js"></script>
    <script src="pages/edit_account/editAccountCtrl.js"></script>
    <script src="pages/secret_sauce/secretSauceCtrl.js"></script>
    <script src="pages/analytics/dashboard/dashboardCtrl.js"></script>
    <script src="pages/analytics/launch/launchCtrl.js"></script>
    <script src="pages/analytics/account_life/accountLifeCtrl.js"></script>
    <script src="pages/resources/accounts/accountsCtrl.js"></script>
    <script src="pages/resources/batches/batchesCtrl.js"></script>
    <script src="pages/resources/cards/cardsCtrl.js"></script>
    <script src="pages/resources/statuses/statusesCtrl.js"></script>
    <script src="pages/resources/urls/urlsCtrl.js"></script>
    <script src="pages/resources/verticals/verticalsCtrl.js"></script>
    <script src="pages/resources/virtualMachines/virtualMachinesCtrl.js"></script>
    <script src="pages/resources/test/testCtrl.js"></script>
    <script src="pages/datatabledemo/datatableCtrl.js"></script>
    <script src="pages/dashboard/admindashboardCtrl.js"></script>

    <!-- Directives -->
    <script src="scripts/directives/percent.js"></script>
    <script src="scripts/directives/currency.js"></script>
    <script src="scripts/directives/urlddl/urlddl.js"></script>
    <script src="scripts/directives/jqDatePicker.js"></script>
    <script src="scripts/directives/columnMultiSelect/columnMultiSelect.js"></script>
    <script src="scripts/directives/countrySelect/countrySelect.js"></script>
    <script src="scripts/directives/angleSelect/angleSelect.js"></script>
    <script src="scripts/directives/fbAdDisplay/fbAdDisplay.js"></script>
    <script src="scripts/directives/fbAdMobile/fbAdMobile.js"></script>
    <script src="scripts/directives/statusIndicator.js"></script>

    <!-- Services -->
    <script src="scripts/services/alertService.js"></script>
    <script src="scripts/services/accountService.js"></script>
    <script src="scripts/services/analyticsService.js"></script>
    <script src="scripts/services/batchService.js"></script>
    <script src="scripts/services/codeService.js"></script>
    <script src="scripts/services/safeUrlService.js"></script>
    <script src="scripts/services/accountHistoryService.js"></script>
    <script src="scripts/services/accountCommentService.js"></script>
    <script src="scripts/services/adsetService.js"></script>
    <script src="scripts/services/authService.js"></script>
    <script src="scripts/services/contentService.js"></script>
    <script src="scripts/services/campaignService.js"></script>
    <script src="scripts/services/statusService.js"></script>
    <script src="scripts/services/verticalService.js"></script>
    <script src="scripts/services/countryService.js"></script>
    <script src="scripts/services/searchService.js"></script>
    <script src="scripts/services/pnlService.js"></script>
    <script src="scripts/services/voluumService.js"></script>
    <script src="scripts/services/virtualMachineService.js"></script>
    <script src="scripts/services/adespressoService.js"></script>
    <script src="scripts/services/datatableService.js"></script>

</body>
</html>
