<div ng-controller="aboutCtrl">
    <div id="container" ng-click="sendToLoginPage()">
        <div class="" ng-click="sendToLoginPage()">
            <h1>About Media Manager</h1>
            <i class="fa fa-eye fa-5x"></i>
            <br>
            <br>
            <p class="lead">Let Us Do The Heavy Lifting
            </p>
        </div>
        <center>
            <div class="row" ng-click="sendToLoginPage()">
                <div class="blacktext">
                    <h4>Keep It Together</h4>
                    <h4>Keep It Simple</h4>
                    <p>
                        Manage everything, easly.
                    </p>
                </div>
            </div>
        </center>
    </div>
</div>
