<div scrollToElement="true"  ng-controller="landingCtrl">
    <div class="col-md-6 col-md-offset-3" ng-show="showInitialLanding">
        <div class="" ng-click="sendToLoginPage()">
            <center>
                <image src="../images/logo-hor-mencius.svg" width="100%"></image>
            </center>
            <br />
            <center>
                <h1 class="blacktextcenter">Management Application</h1>
            </center>
            <div class="container">
                <div class='row'>
                </div>
            </div>
        </div>

        <br>
        <br>
       <center>
            <small class="error buttonCenter" ng-show="!validZipcode">
                <kbd>Work smart, not hard.</kbd>
            </small>
        </center>
    </div>
</div>
