
<section class="content">
<div class="container-fluid" ng-controller="usersAdminCtrl">
    <div class="d-flex">
        <div class="mr-auto p-2 col-lg-4">
            <input class="form-control" type="text" value="" placeholder="Search User ..." ng-model="globalFilter">
        </div>
        <div class="p-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-user">
                Add User
            </button>
        </div>
    </div>
    <br>
    <!-- User Information Table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-sm table-hover" id="batchTable">
                    <thead>
                        <tr>
                            <th style="width:15px;">SL</th>
                            <th style="width:15px;">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="selectAll"
                                        ng-model="allItemsSelected" ng-change="selectAll()">
                                    <label for="selectAll" class="custom-control-label"></label>
                                </div>
                            </th>
                            <th style="width:15px;" ng-show="show">View</th>
                            <th style="width:15px;">Edit</th>
                            <th style="width:15px;">Delete</th>
                            <th>Key</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Role</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr ng-repeat="batch in batches | orderBy : 'created'"> -->
                        <tr dir-paginate="user in users | filter: globalFilter | orderBy : 'created' | itemsPerPage: 25">
                            <td class="text-center">{{user.rowNum}}</td>
                            <td>
                               <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="{{user.rowNum}}"
                                        ng-model="user.isChecked" ng-change="selectEntity()">
                                    <label for="{{user.rowNum}}" class="custom-control-label"></label>
                                </div>
                            </td>
                            <td ng-show="show">
                                <div style="padding-top:5px;">
                                    <a href="" data-toggle="modal" data-target="#modal-viewedit-user"
                                        ng-click="viewUser(user.employee_key)"><i class="fas fa-eye"></i></a>
                                </div>

                            </td>
                            <td>
                                <div style="padding-top:5px;">
                                    <a href="" data-toggle="modal" data-target="#modal-viewedit-user"
                                        ng-click="editUser(user.employee_key)"><i class="fas fa-edit"></i></a>
                                </div>
                            </td>
                            <td>
                                <div style="padding-top:5px;">
                                    <a href="" ng-click="deleteUserByID(user.employee_key)"><i class="fas fa-trash"></i></a>
                                </div>
                            </td>
                            <!--  <td>
                                <input input class="form-control" ng-model="batch.name" ng-change="batchChanged(batch);" />
                            </td> -->
                            <td>{{user.employee_key}}</td>
                            <td>{{user.fname}} {{user.lname}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.password}}</td>
                            <td>{{user.role}}</td>

                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
    </div>


    <!-- Modal Add User-->
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="modal-add-user" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add User</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">First Name:</label>
                                        <input type="text" class="form-control" placeholder="John" ng-model="firstName" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Last Name:</label>
                                        <input type="text" class="form-control" placeholder="Doe" ng-model="lastName">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Username</label>
                                        <input type="text" class="form-control" placeholder="John" ng-model="username">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Enter Password:</label>
                                        <input type="password" ng-model="newpass" class="form-control" id="newpass">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Confirm Password:</label>
                                        <input type="password" ng-model="newpassver" class="form-control" id="newpassver">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" ng-disabled="!newBatchName" ng-click="saveNewUser()">Save
                                User</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
    </div>

    <!-- Modal ViewEdit User-->
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="modal-viewedit-user" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add User</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">First Name:</label>
                                        <input type="text" class="form-control" placeholder="John" ng-disabled="disableInput" ng-model="vUser.fname" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Last Name:</label>
                                        <input type="text" class="form-control" placeholder="Doe" ng-disabled="disableInput" ng-model="vUser.lname">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Username</label>
                                        <input type="text" class="form-control" placeholder="John" ng-disabled="disableInput" ng-model="vUser.username">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Enter New Password:</label>
                                        <input type="password" class="form-control" id="newpass" ng-disabled="disableInput" ng-model="vUser.password">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Reenter New Password:</label>
                                        <input type="password" class="form-control" id="newpassver" ng-disabled="disableInput" ng-model="vUser.password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" ng-disabled="!newBatchName" ng-click="saveNewUser()">Update
                                User</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
    </div>
</div>
</section>