<div ng-controller="verifyCtrl">
    <center>
        <div ng-show="error" class="blacktext">Invalid Access Code</div>
    </center>
    <center>
        <div ng-show="!error" class="blacktext">Valid Access Code</div>
    </center>
</div>
