<div ng-controller="searchCtrl">
    <center>
        <h2>Search</h2>
    </center>
    <br />
    <div class="flex-center flex-middle">
        <input ng-keyup="$event.keyCode == 13 && filterChanged()" ng-model="searchTerm" type="text" placeholder="Search..." />
        <button class="btn btn-primary" ng-click="filterChanged()">Search</button>
        <button class="btn btn-default" ng-click="searchTerm = '';">Clear</button>
    </div>
    <br />
    <div class="">
        <div class="flex-center flex-middle">


            <div class="">
                <div class="">
                    <div class="flex-center flex-middle">
                        <div class="flex-space-around flex-middle">
                            <h4>User</h4>
                            <select class="form-control" ng-model="userFilter" ng-options="u for u in users" ng-change="filterChanged()" required></select>
                        </div>
                        &nbsp;&nbsp;
                        <div class="flex-space-around flex-middle">
                            <h4>Angle</h4>
                            <select class="form-control" ng-model="angleFilter" ng-options="a for a in angles" ng-change="filterChanged()" required></select>
                        </div>
                        &nbsp;&nbsp;
                        <div class="flex-space-around flex-middle">
                            <h4>Vertical</h4>
                            <select class="form-control" ng-model="verticalFilter" ng-options="v for v in verticals" ng-change="filterChanged()" required></select>
                        </div>
                        &nbsp;&nbsp;
                        <div class="flex-space-around flex-middle">
                            <h4>Batch</h4>
                            <select class="form-control" ng-model="batchFilter" ng-options="b for b in batches" ng-change="filterChanged()" required></select>
                        </div>
                        &nbsp;&nbsp;
                        <div class="flex-space-around flex-middle">
                            <h4>Geo</h4>
                            <select class="form-control" ng-model="geoFilter" ng-options="g for g in geos" ng-change="filterChanged()" required></select>
                        </div>
                        <div class="flex-space-around flex-middle">
                            <h4>Card</h4>
                            <select class="form-control" ng-model="cardFilter" ng-options="c for c in cards" ng-change="filterChanged()" required></select>
                        </div>
                        &nbsp;&nbsp;

                        <button type="button" class="btn btn-primary" ng-click="filterChanged()">
                            Filter
                        </button>
                        &nbsp;&nbsp;

                    </div>
                    <div class="loader-sm" ng-show="loading"></div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="">
        <table class="table" ts-wrapper>
            <thead>
                <th>
                    <div>&nbsp;</div>
                </th>
                <th ts-criteria="account_name">
                    <div class="th-flex">
                        <div>Account Name&nbsp;</div>
                        <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-up"></div>
                        <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-down"></div>
                    </div>
                </th>
                <th ts-criteria="owner">
                    <div class="th-flex">
                        <div>Media Buyer&nbsp;</div>
                        <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-up"></div>
                        <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-down"></div>
                    </div>
                </th>
                <th ts-criteria="angle">
                    <div class="th-flex">
                        <div>Angle&nbsp;</div>
                        <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-up"></div>
                        <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-down"></div>
                    </div>
                </th>
                <th ts-criteria="vertical">
                    <div class="th-flex">
                        <div>Vertical&nbsp;</div>
                        <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-up"></div>
                        <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-down"></div>
                    </div>
                </th>
                <th ts-criteria="batch">
                    <div class="th-flex">
                        <div>Batch&nbsp;</div>
                        <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-up"></div>
                        <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-down"></div>
                    </div>
                </th>
                <th ts-criteria="geo">
                    <div class="th-flex">
                        <div>Geo&nbsp;</div>
                        <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-up"></div>
                        <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-down"></div>
                    </div>
                </th>
                <th ts-criteria="card_type">
                    <div class="th-flex">
                        <div>Card Type&nbsp;</div>
                        <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-up"></div>
                        <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-down"></div>
                    </div>
                </th>
                <th ts-criteria="status">
                    <div class="th-flex">
                        <div>Status&nbsp;</div>
                        <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-up"></div>
                        <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-down"></div>
                    </div>
                </th>
                <th ts-criteria="days_alive|parseInt">
                    <div class="th-flex">
                        <div>Days Alive&nbsp;</div>
                        <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-up"></div>
                        <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-down"></div>
                    </div>
                </th>
                <th ts-criteria="total_spend|parseInt">
                    <div class="th-flex">
                        <div>Total Spend&nbsp;</div>
                        <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-up"></div>
                        <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-down"></div>
                    </div>
                </th>
                <th ts-criteria="total_revenue|parseInt">
                    <div class="th-flex">
                        <div>Total Revenue&nbsp;</div>
                        <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-up"></div>
                        <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-down"></div>
                    </div>
                </th>
                <th ts-criteria="ROI|parseInt">
                    <div class="th-flex">
                        <div>ROI&nbsp;</div>
                        <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-up"></div>
                        <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="glyphicon glyphicon-chevron-down"></div>
                    </div>
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="account in filteredAccounts | limitTo: 100" ts-repeat ts-hide-no-data>
                    <td class="text-center search-td">{{ $index + 1 }}</td>
                    <td><a ng-href="#edit_account/{{ account.account_key }}">{{ account.account_name }}</td>
                    <td>{{ account.owner }}</td>
                    <td>{{ account.angle }}</td>
                    <td>{{ account.vertical }}</td>
                    <td>{{ account.batch }}</td>
                    <td>{{ account.geo }}</td>
                    <td>{{ account.card_type }}</td>
                    <td>{{ account.status }}</td>
                    <td>{{ account.days_alive }}</td>
                    <td>{{ account.total_spend | currency }}</td>
                    <td>{{ account.total_revenue | currency }}</td>
                    <td>{{ account.ROI | percent }}</td>
                </tr>
            </tbody>
        </table>
        <!-- <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls> -->
    </div>
</div>