<section class="content">
    <div ng-controller="searchCtrl" class="container-fluid">
        <div class="d-flex">
            <div class="col-md-3 p-2">
                <b>Search</b>
                <input class="form-control" ng-model="globalFilter" type="text" placeholder="Search..." />
            </div>

            <div class="col-md p-2">
                <b>User</b>
                <select class="form-control" ng-model="search.owner" ng-options="u for u in users"
                        required></select>
            </div>
            <div class="col-md p-2">
                <b>Status</b>
                <select class="form-control" ng-model="search.status" ng-options="s for s in status"
                        required></select>
            </div>
            <div class="col-md p-2">
                <b>Angle</b>
                <select class="form-control" ng-model="search.angel" ng-options="a for a in angles"
                        required></select>
            </div>
            <div class="col-md p-2">
                <b>Vertical</b>
                <select class="form-control" ng-model="search.vertical" ng-options="v for v in verticals"
                        required></select>
            </div>
            <div class="col-md p-2">
                <b>Batch</b>
                <select class="form-control" ng-model="search.batch" ng-options="b for b in batches"
                        required></select>
            </div>
            <div class="col-md p-2">
                <b>Geo</b>
                <select class="form-control" ng-model="search.geo" ng-options="g for g in geos"
                        required></select>
            </div>
            <div class="col-md p-2">
                <b>Card Type</b>
                <select class="form-control" ng-model="search.card_type" ng-options="c for c in cards"
                        required></select>
            </div>
        </div>
        <div class="d-flex">
            <div class="ml-auto p-2">
                <column-multi-select model="selectedColumns" options="columns"></column-multi-select>
            </div>
        </div>
        <div class="loader-sm" ng-show="loading"></div>
        <hr />
        <div class="col-lg-12">
            <div class=" table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th style="width:15px;">Edit</th>
                            <th>
                                Account Name
                                <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];"
                                     class="fas fa-chevron-up"></div>
                                <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];"
                                     class="fas fa-chevron-down"></div>
                            </th>
                            <th ng-repeat="c in selectedColumns">
                                <div class="th-flex">
                                    <div>{{c}}&nbsp;</div>
                                    <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];"
                                         class="fas fa-chevron-up"></div>
                                    <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];"
                                         class="fas fa-chevron-down"></div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="account in accounts | filter: globalFilter | filter: search | itemsPerPage:25">
                            <td class="text-center search-td">{{$index + 1}}</td>
                            <td>
                                <a ng-href="#edit_account/{{account.account_key}}"><i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                {{account.first_name}}{{account.last_name}}

                            </td>
                            <td class="search-td" ng-repeat="c in selectedColumns">
                                <a>
                                    <div ng-model="account[c]">
                                        {{account[c]}}
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</section>