﻿
<section class="content">
<div class="container-fluid" ng-controller="verticalsCtrl">
    <div class="row">
        <center><h2>Verticals - In Development</h2></center>
        <div class="loader-sm" ng-if="loading"></div>
        <br />

        <div class="col-md-3">
                <div class="flex-center"><strong>Verticals</strong></div>
                <div ng-repeat="vertical in verticals">
                    {{vertical}}
            </div>
        </div>
        <div class="col-md-3">
            <div class="flex-center"><strong>Add Vertical</strong></div>
            <div><input class="form-control" ng-model="newVert" /></div>
            <div class="flex-right"><button class="btn btn-primary" ng-disabled="!newVert" ng-click="addVerticals()">Save</button></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div heading="Verticals">
                <center>
                  <h2>Add Verticals</h2>
                </center>
                <div ng-repeat="vertical in verticals">
                  <div class="row">
                    <div class="col-md-3">
                      <label calls="control-label">Vertical Name</label>
                      <input class="form-control" ng-model="vertical.name" ng-required="true" /> `
                    </div>
                    <div class="col-md-1">
                      <button
                        class="btn btn-danger"
                        ng-click="removeVertical($index)"
                        ng-disabled="verticals.length==1"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="flex-space-between">
                  <div class="flex-left">
                    <button
                      class="btn btn-primary"
                      ng-disabled="!verticals[0].name"
                      ng-click="addVertical($index)"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Another
                    </button>
                  </div>
                  <div class="flex-right">
                    <button
                      class="btn btn-primary"
                      ng-disabled="!verticals[0].name"
                      ng-click="insertVerticals(verticals)"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
</section>


