<section class="content">
    <div class="container-fluid" ng-controller="accountingSearchCtrl">
        <center>
            <h2>Accounting Search</h2>
        </center>
        <br />

        <div class="d-flex">
            <div class="mr-auto col-md-3 p-1">
                <b>Search</b>
                <div class="d-flex">
                    <div class="col mr-auto p-1">
                        <input class="form-control" ng-model="accountSearchFilterTemp" type="text" placeholder="Search..." />
                    </div>
                    <div class="p-1">
                        <button class="btn btn-primary" ng-click="accountSearchFilter = accountSearchFilterTemp">Apply</button>
                    </div>
                    <div class="p-1">
                        <button class="btn btn-default" ng-click="accountSearchFilter = ''; accountSearchFilterTemp = '';">Clear</button>
                    </div>
                </div>
            </div>

            <div class="p-2">
                <b>Status</b>
                <select class="form-control" ng-model="status" ng-options="s for s in statuses" required></select>
            </div>
            &nbsp;&nbsp;

            <div class="p-2">
                <b>From</b>
                <input id="dtFrom" name="dtFrom" ng-change="dateChange('dtFrom',dtFrom)" type="text" class="form-control date datepicker" ng-model="dtFrom" jqdatepicker />
            </div>
            <div class="p-2">
                <b>To</b>
                <input id="dtTo" name="dtTo" ng-change="dateChange('dtTo',dtTo)" type="text" class="form-control" ng-model="dtTo" jqdatepicker />
            </div>
            <div class="p-2">
                <b>Search</b><br />
                <button type="button" class="btn btn-primary" ng-click="search()">Search</button>
            </div>
            <div class="p-2">
                <b>Column Slector</b><br />
                <column-multi-select model="selectedColumns" options="columns"></column-multi-select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th style="width:15px;">SL</th>
                            <th style="width:15px;">Select</th>
                            <th style="width:15px;">View</th>
                            <th style="width:15px;">Edit</th>
                            <th style="width:15px;">Delete</th>
                            <th ng-repeat="c in selectedColumns">
                                <div class="th-flex">
                                    <div>{{c}}&nbsp;</div>
                                    <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="fas fa-chevron-up"></div>
                                    <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="fas fa-chevron-down"></div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="account in accounts | filter:accountSearchFilter | itemsPerPage:25">
                            <td>
                                <div style="padding-top:5px;"></div>
                                {{$index + 1}}
                            </td>
                            <td>
                                <div class="custom-control custom-radio" style="padding-top:5px;">
                                    <input class="custom-control-input" type="radio" id="customRadio2" name="customRadio" checked="">
                                    <label for="customRadio2" class="custom-control-label"></label>
                                </div>
                            </td>
                            <td>
                                <div style="padding-top:5px;"></div>
                                <a>
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                            <td>
                                <div style="padding-top:5px;"></div>
                                <a  ng-href="#edit_account/{{account.zid}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <div style="padding-top:5px;"></div>
                                <a>
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                            <td class="search-td" ng-repeat="c in selectedColumns">
                                <a>
                                    <div ng-model="account[c]">
                                        {{account[c]}}
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
                <div class="loader-sm" ng-show="loading"></div>
            </div>
        </div>
    </div>
</section>