﻿<div>
    <div class="row justify-content-between">
        <div class="col-md-2">
            <img src="../images/profile_default.png" class="img" />
        </div>
        <div class="col-md-8">
            <div>Mencius FB Page</div>
            <div>Sponsored &nbsp;<i class="fa fa-globe"></i></div>
        </div>
        <div class="col-md-2">
            <i class="fas fa-thumbs-up"></i> &nbsp;
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 form-group">
            {{ad.body.substr(0,311)}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group" ng-attr-id="{{ 'fb-mobile-media-' + ad.content_key}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            {{ad.headline.substr(0,255)}}
        </div>
        <div class="col-md-12 form-group">
            {{ad.newsfeed_link.substr(0,40)}}
        </div>
    </div>
    <div class="row justify-content-between">
        <div>
            &nbsp;&nbsp;{{ad.url.substr(0,40)}}
        </div>
        <div>
            <button class="btn btn-warning">Contact Us</button>&nbsp;&nbsp;
        </div>
    </div>
    <br />
    <div class="row justify-content-between">
        <div>&nbsp;&nbsp;<i class="fas fa-thumbs-up"></i>&nbsp; Like</div>
        <div><i class="fas fa-comment"></i>&nbsp; Comment</div>
        <div><i class="fas fa-share"></i>&nbsp; Share&nbsp;&nbsp;</div>
    </div>
</div>