﻿<div class="modal-header">
    <h3>Edit Credit Card</h3>
</div>
<div id="myModal" class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8 p-2">
                    <strong>Credit Card: </strong> {{ current.code }}
                </div>
                <div class="col-md-4 p-2">
                    <strong>Status :</strong> {{ current.status }}
                </div>
                <br />
            </div>
            <div class="row">
                <div class="col-md-8 p-2">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" value="exists" id="codeExists" name="customRadio" ng-model="codeExists">
                            <label for="codeExists" class="custom-control-label">Existing Card</label>
                    </div>
                </div>
                <div class="col-md-4 p-2">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="codeNew" value="new" name="code" checked="" ng-model="codeExists">
                            <label for="codeNew" class="custom-control-label">New Card</label>
                        </div>
                </div>
            </div>
            <div class="row" ng-show="codeExists == 'exists'">
                <div class="col p-2">
                    Credit Cards
                    <!--<select class="form-control select2basic" name="state">
                <option value="AL">Select New Cards</option>
                <option ng-model="selected.cc" ng-repeat="cc in codes" ng-change="creditCardUpdate()" ng-required="true">{{cc.code}}</option>
            </select>-->
                    

                    <span><select class="form-control" ng-model="selected.cc" ng-options="cc.code as cc.code for cc in codes" ng-change="creditCardUpdate()" ng-required="true"></select></span>
                </div>
            </div>
            <div class="row" ng-show="codeExists != 'exists'">
                <div class="col-md-6 p-2">
                    <div class="form-group">
                        <b>New Credit Card</b>
                        <input type="text" ccType="" maxlength="19" class="form-control" ng-model="newCard.number" placeholder="1111 2222 3333 4444" ng-required="true" /><!--cc-format cc-number >-->
                    </div>
                    <div class="form-group">
                        <b>CVC</b>
                        <input type="text" class="form-control" ng-model="newCard.cvc" cc-cvc ng-required="true">
                    </div>
                    <div class="form-group">
                        <b>Card Type</b>
                        <select class="form-control" ng-model="newCard.accounttype"
                                ng-options="type for type in accountTypes" ng-required="true"></select>
                    </div>
                </div>
                <div class="col-md-6 p-2">
                    <div class="form-group">
                        <b>Exp Mon</b>
                        <input class="form-control" ng-model="newCard.exp_month" cc-exp-month ng-required="true" />
                    </div>
                    <div class="form-group">
                        <b>Exp Year</b>
                        <input class="form-control" ng-model="newCard.exp_year" cc-exp-year ng-required="true" />
                    </div>
                    <div class="form-group">
                        <b>Zip Code</b>
                        <input type="text" maxlength="5" class="form-control" ng-model="newCard.zip" ng-required="true">
                    </div>
                </div>
            </div>
        </div>
</div>
    </div>
<div class="modal-footer">
    <div class="row justify-content-between">
        <div class="p-2">
            <button class="btn btn-primary" ng-click="ok()">Save</button>
        </div>
        <div class="p-2">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>