﻿
<div class="modal-header"><h3>Add Pnl Item</h3></div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <p>Date</p>
            <p>Action</p>
            <p>Rev</p>
            <p>Expense</p>
            <p>CPC</p>
            <p>CTR</p>
            <p>CPM</p>
        </div>
        <div class="col-md-8">
            <input id="new.created"
                   name="new.created"
                   class="form-control"
                   ng-change="dateChange('new.created',new.created)"
                   type="text"
                   ng-model="new.created"
                   jqdatepicker />
            <input type="text" class="form-control" ng-model="new.action" />
            <input type="text"
                   class="form-control number"
                   ng-model="new.revenue" />
            <input type="text"
                   class="form-control number"
                   ng-model="new.expenses" />
            <input type="text" class="form-control number" ng-model="new.cpc" />
            <input type="text" class="form-control number" ng-model="new.lpctr" />
            <input type="text" class="form-control number" ng-model="new.cpm" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

