﻿<div class="modal-header">
    <h3>Edit Safe URL</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="flex-space-between">
                <div>
                    Current URL: {{ selected.current }}
                </div>
                <select class="form-control" ng-if="account.url.status" ng-model="account.url.status" required>
                    <option>open</option>
                    <option>closed</option>
                </select>
                <br />
            </div>
            <br />
            <label>Safe Url:</label>
            <select class="form-control" ng-model="selected.safeurl" ng-options="safeurl.url as safeurl.url for safeurl in safeurls" ng-change="safeUrlUpdate()" ng-required="true"></select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>