<div ng-controller="testCtrl">
    <div class="">
        <center><h2>Test Page - Design and Development</h2></center>
        <div class="blacktext flex-space-around">
            <div class="flex-column">
                <div class="flex-right">                    
                    Toggle Preview Type:&nbsp;
                    <label class="switch">
                        <input type="checkbox" ng-model="preview_view" ng-class="{checked:preview_view}">
                        <span class="slider" ng-model="preview_view" ng-change="preview_view = !preview_view;"></span>
                    </label>
                </div>
                <div class="flex-space-around">
                    <div ng-show="preview_view">
                        <fb-ad ng-model="ad"></fb-ad>
                    </div>
                    <div ng-show="!preview_view">
                        <fb-ad-mobile ng-model="ad"></fb-ad-mobile>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            <table>
                <thead>
                    <tr><td style="text-align:center;padding:5px;" colspan="2"><b><h3> + item.fname + &nbsp; + item.lname + </h3></b></td></tr>
                </thead>
                <tbody>
                    <tr><td></td><td></td></tr>
                    <tr><td style="padding:4px;">GEO</td><td style="padding:4px;"> + item.country + </td></tr>
                    <tr><td style="padding:4px;">Vertical</td><td style="padding:4px;"> + item.vertical + </td></tr>
                    <tr><td style="padding:4px;">Angle</td><td style="padding:4px;"> + item.angle + </td></tr>
                    <tr><td style="padding:12px;"></td><td style="padding:12px;"></td></tr>
                    <tr><td style="padding:4px;"><b>Revenue</b></td><td style="text-align:right; padding:4px;"> + $ + item.revenue + </td></tr>
                    <tr><td style="padding:4px;"><b>Expense</b></td><td style="text-align:right; padding:4px;"> + $`+ item.expenses + </td></tr>
                    <tr><td style="padding:4px;"><b>Profit</b></td><td style="text-align:right; padding:4px;"> + $ + item.profit + </td></tr>
                    <tr><td style="padding:4px;"><b>ROI</b></td><td style="text-align:right; padding:4px;"> % + item.roi + </td></tr>
                    <tr><td style="padding:4px;" colspan="2"><a href="http://34.205.133.153:3000/#/edit_account/129?tab=Copy">View Ad</a></td></tr>
                </tbody>
            </table><br /><br />
        </div>
    </div>
</div>