﻿<section class="content">
    <div class="container-fluid" ng-controller="dashboardCtrl">
        <div class="row">
            <div class="col-md-7">
                <div class="d-flex">
                    <div class="mr-auto p-2">
                        <h4>Campaign ROI and Account Life</h4>
                    </div>
                    <div class="p-2">
                        <select class="form-control" ng-model="detailFilter" ng-change="detailFilterChange();" ng-options="d for d in detailFilters"></select>

                    </div>
                    <div class="p-2">
                        <select class="form-control" ng-model="timeFrame" ng-change="timeFrameChange();" ng-options="t for t in timeFrames"></select>
                    </div>
                </div>
               
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th ng-show="detailFilterCheck('country');">
                                    Country
                                    <div ng-show="ashowCountry" ng-click="asort('country','descending'); ashowCountry = !ashowCountry;" class="fas fa-chevron-up"></div>
                                    <div ng-show="!ashowCountry" ng-click="asort('country','ascending'); ashowCountry =!ashowCountry;" class="fas fa-chevron-down"></div>
                                </th>
                                <th ng-show="detailFilterCheck('vertical');">
                                    Vertical
                                    <div ng-show="ashowVertical" ng-click="asort('vertical','descending'); ashowVertical = !ashowVertical;" class="fas fa-chevron-up"></div>
                                    <div ng-show="!ashowVertical" ng-click="asort('vertical','ascending'); ashowVertical =!ashowVertical;" class="fas fa-chevron-down"></div>
                                </th>
                                <th ng-show="detailFilterCheck('angle');">
                                    Angle
                                    <div ng-show="ashowAngle" ng-click="asort('angle','descending'); ashowAngle = !ashowAngle;" class="fas fa-chevron-up"></div>
                                    <div ng-show="!ashowAngle" ng-click="asort('angle','ascending'); ashowAngle =!ashowAngle;" class="fas fa-chevron-down"></div>
                                </th>
                                <th ng-show="detailFilterCheck('gender');">
                                    Gender
                                    <div ng-show="ashowGender" ng-click="asort('gender','descending'); ashowGender = !ashowGender;" class="fas fa-chevron-up"></div>
                                    <div ng-show="!ashowGender" ng-click="asort('gender','ascending'); ashowGender =!ashowGender;" class="fas fa-chevron-down"></div>
                                </th>
                                <th>
                                    # of Camps
                                    <div ng-show="showNoCamps" ng-click="asort('no_campaigns','descending'); showNoCamps = !showNoCamps;" class="fas fa-chevron-up"></div>
                                    <div ng-show="!showNoCamps" ng-click="asort('no_campaigns','ascending'); showNoCamps =!showNoCamps;" class="fas fa-chevron-down"></div>
                                </th>
                                <th>
                                    Revenue
                                    <div ng-show="ashowRevenue" ng-click="asort('revenue','descending'); ashowRevenue = !ashowRevenue;" class="fas fa-chevron-up"></div>
                                    <div ng-show="!ashowRevenue" ng-click="asort('revenue','ascending'); ashowRevenue =!ashowRevenue;" class="fas fa-chevron-down"></div>
                                </th>
                                <th>
                                    Expenses
                                    <div ng-show="ashowExpense" ng-click="asort('expenses','descending'); ashowExpense = !ashowExpense;" class="fas fa-chevron-up"></div>
                                    <div ng-show="!ashowExpense" ng-click="asort('expenses','ascending'); ashowExpense =!ashowExpense;" class="fas fa-chevron-down"></div>
                                </th>
                                <th>
                                    Profit
                                    <div ng-show="ashowProfit" ng-click="asort('profit','descending'); ashowProfit = !ashowProfit;" class="fas fa-chevron-up"></div>
                                    <div ng-show="!ashowProfit" ng-click="asort('profit','ascending'); ashowProfit =!ashowProfit;" class="fas fa-chevron-down"></div>
                                </th>
                                <th>
                                    ROI
                                    <div ng-show="ashowROI" ng-click="asort('roi','descending'); ashowROI = !ashowROI;" class="fas fa-chevron-up"></div>
                                    <div ng-show="!ashowROI" ng-click="asort('roi','ascending'); ashowROI =!ashowROI;" class="fas fa-chevron-down"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr dir-paginate="a in roiCampaigns | itemsPerPage:25" pagination-id="tb1">
                                <td ng-show="detailFilterCheck('country');">{{a.country}}</td>
                                <td ng-show="detailFilterCheck('vertical');">{{a.vertical}}</td>
                                <td ng-show="detailFilterCheck('angle');">{{a.angle}}</td>
                                <td ng-show="detailFilterCheck('gender');">{{a.gender}}</td>
                                <td class="">{{a.no_campaigns}}</td>
                                <td class="">{{a.revenue | currency}}</td>
                                <td class="">{{a.expenses | currency}}</td>
                                <td class="">{{a.profit | currency}}</td>
                                <td class="">{{a.roi * 100 | percent}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="tb1">
                </dir-pagination-controls>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="p-2">
                    <center><h4>Total Spend by Geo/Gender</h4></center>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th>
                                    Country
                                    <div ng-show="showCountry" ng-click="sort('country','descending'); showCountry = !showCountry;" class="fas fa-chevron-up"></div>
                                    <div ng-show="!showCountry" ng-click="sort('country','ascending'); showCountry =!showCountry;" class="fas fa-chevron-down"></div>
                                </th>
                                <th>
                                    Gender
                                    <div ng-show="showGender" ng-click="sort('sex','descending'); showGender = !showGender;" class="fas fa-chevron-up"></div>
                                    <div ng-show="!showGender" ng-click="sort('sex','ascending'); showGender =!showGender;" class="fas fa-chevron-down"></div>
                                </th>
                                <th>
                                    # of Camps
                                    <div ng-show="showNoCamps" ng-click="sort('no_campaigns','descending'); showNoCamps = !showNoCamps;" class="fas fa-chevron-up"></div>
                                    <div ng-show="!showNoCamps" ng-click="sort('no_campaigns','ascending'); showNoCamps =!showNoCamps;" class="fas fa-chevron-down"></div>
                                </th>
                                <th>
                                    Total Spend
                                    <div ng-show="showSpend" ng-click="sort('total_spend','descending'); showSpend = !showSpend;" class="fas fa-chevron-up"></div>
                                    <div ng-show="!showSpend" ng-click="sort('total_spend','ascending'); showSpend =!showSpend;" class="fas fa-chevron-down"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="c in spendCampaigns | itemsPerPage:25" pagination-id="tb2">
                                <td>{{c.country}}</td>
                                <td>{{c.sex}}</td>
                                <td class="">{{c.no_campaigns}}</td>
                                <td class="">{{c.total_spend | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="tb2">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>