﻿<section class="content">
    <div class="container-fluid" ng-controller="cardsCtrl">
        <div class="loader-sm" ng-if="loading"></div>
        <div class="d-flex">
            <div class="mr-auto col-md-3">
                <input class="form-control" ng-model="fitlerGlobalTable" type="text" placeholder="Search..." />
            </div>
            <!-- <div class="col-lg-2">
        <select class="form-control" ng-model="fitlerTable.Account_Status" ng-options="u for u in inUse" ></select>
    </div> -->
            <div class="col-md-1 p-2">
                <select class="form-control" ng-model="fitlerTable.claimed" ng-options="u for u in inUse"></select>
            </div>
            <div class="col-md-1 p-2">
                <select class="form-control" ng-model="fitlerTable.status" ng-options="u for u in status"></select>
            </div>
            <div class="p-2">
                <select class="form-control" ng-model="register.selectedRowPerPage" ng-options="a.value as a.text for a in register.rowPerPage"></select>
            </div>
            <div class="p-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-card">
                    Add Card
                </button>
            </div>
            <div class="p-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-cards">
                    Add Cards
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th style="width:15px;">SL</th>
                                <th style="width:15px;">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="selectAll"
                                               ng-model="allItemsSelected" ng-change="selectAll()">
                                        <label for="selectAll" class="custom-control-label"></label>
                                    </div>
                                </th>
                                <th style="width:15px;">View</th>
                                <th style="width:15px;">Edit</th>
                                <th style="width:15px;">Delete</th>
                                <th>Account Name</th>
                                <th>Account Status</th>
                                <th>Card Type</th>
                                <th>
                                    CC #
                                    <div ng-show="showCode" ng-click="sort('code','descending'); showCode = !showCode;"
                                         class="fas fa-chevron-up"></div>
                                    <div ng-show="!showCode" ng-click="sort('code','ascending'); showCode =!showCode;"
                                         class="fas fa-chevron-down"></div>
                                </th>

                                <th>
                                    In Use
                                    <div ng-show="showClaimed"
                                         ng-click="sort('claimed','descending'); showClaimed = !showClaimed;"
                                         class="fas fa-chevron-up"></div>
                                    <div ng-show="!showClaimed"
                                         ng-click="sort('claimed','ascending'); showClaimed =!showClaimed;"
                                         class="fas fa-chevron-down"></div>
                                </th>
                                <th>
                                    Status
                                    <div ng-show="showStatus"
                                         ng-click="sort('status','descending'); showStatus = !showStatus;"
                                         class="fas fa-chevron-up"></div>
                                    <div ng-show="!showStatus"
                                         ng-click="sort('status','ascending'); showStatus =!showStatus;"
                                         class="fas fa-chevron-down"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="code in codes | filter: fitlerGlobalTable | filter: fitlerTable | itemsPerPage:register.selectedRowPerPage"
                                ng-click="setRowSelector($event)">
                                <td class="text-center">{{code.rowNum}}</td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="{{code.rowNum}}"
                                               ng-model="code.isChecked" ng-change="selectEntity()">
                                        <label for="{{code.rowNum}}" class="custom-control-label"></label>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding-top:5px; width:30px;"></div>
                                    <a>
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                                <td>
                                    <div style="padding-top:5px;"></div>
                                    <a ng-href="#edit_account/{{code.account_key}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    <div style="padding-top:5px;"></div>
                                    <a>
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                                <td>{{code.fname}} {{code.lname}}</td>
                                <td>{{code.Account_Status}}</td>
                                <td>{{code.code_type}}</td>
                                <td>{{code.code}}</td>

                                <td>{{code.claimed}}</td>
                                <td>
                                    <select class="form-control" ng-disabled="false" ng-model="code.status" required>
                                        <option>open</option>
                                        <option>closed</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
                <!-- /.card -->
            </div>
        </div>


        <!-- Modal Add Batch-->
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modal-add-card" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Cards</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-3">
                                            <label class="control-label">Credit Card</label>
                                            <!-- TODO: add errors to UI when the value is invalid -->
                                            <input type="text" ccType="" maxlength="19" class="form-control"
                                                   ng-model="card.number" placeholder="1111 2222 3333 4444" ng-required="true" />
                                            <!--cc-format cc-number >-->
                                            <label class="control-label">CVC</label>
                                            <input type="text" class="form-control" ng-model="card.cvc" cc-cvc
                                                   ng-required="true" />
                                            <label class="control-label">Card Type</label>
                                            <select class="form-control" ng-model="card.accounttype"
                                                    ng-options="type for type in accountTypes" ng-required="true"></select>
                                        </div>
                                    <div class="col-md-3">
                                            <label class="control-label">Exp Mon</label>
                                            <input class="form-control" ng-model="card.exp_month" cc-exp-month
                                                   ng-required="true" />
                                            <label class="control-label">Exp Year</label>
                                            <input class="form-control" ng-model="card.exp_year" cc-exp-year
                                                   ng-required="true" />
                                            <label class="control-label">Zip Code</label>
                                            <input type="text" maxlength="5" class="form-control" ng-model="card.zip"
                                                   ng-required="true" />
                                        </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" ng-click="insertCards(card)">
                                    Save Card
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
        </div>


        <!-- Cards Entry Modal -->
        <div class="row">
            <div class="col-md-12">
                <div heading="Credit Cards">
                    <center>
                        <h2>Add Credit Cards</h2>
                    </center>
                    <div class="">
                        <div ng-repeat="card in cards">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label">Credit Card</label>
                                    <!-- TODO: add errors to UI when the value is invalid -->
                                    <input type="text" ccType="" maxlength="19" class="form-control"
                                           ng-model="card.number" placeholder="1111 2222 3333 4444" ng-required="true" />
                                    <!--cc-format cc-number >-->
                                    <label class="control-label">CVC</label>
                                    <input type="text" class="form-control" ng-model="card.cvc" cc-cvc
                                           ng-required="true" />
                                    <label class="control-label">Card Type</label>
                                    <select class="form-control" ng-model="card.accounttype"
                                            ng-options="type for type in accountTypes" ng-required="true"></select>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Exp Mon</label>
                                    <input class="form-control" ng-model="card.exp_month" cc-exp-month
                                           ng-required="true" />
                                    <label class="control-label">Exp Year</label>
                                    <input class="form-control" ng-model="card.exp_year" cc-exp-year
                                           ng-required="true" />
                                    <label class="control-label">Zip Code</label>
                                    <input type="text" maxlength="5" class="form-control" ng-model="card.zip"
                                           ng-required="true" />
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-danger" ng-click="removeCard($index)"
                                            ng-disabled="cards.length==1">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                    <br />
                    <div class="flex-space-between">
                        <div class="flex-left">
                            <button class="btn btn-primary" ng-click="addCard($index)">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Another
                            </button>
                        </div>
                        <div class="flex-right">
                            <button class="btn btn-primary" ng-click="insertCards(cards)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>