﻿<section class="content">
    <div class="container-fluid" ng-controller="payoutCtrl">
        <div class="row">
            <div class="col-lg-12">
                <center><h2>Payouts</h2></center>
                <div class="row">
                    <div class="col-lg-12">
                        <!--<button class="btn btn-primary" ng-click="getVoluumCampaigns()">Pull Camps</button>-->
                        <div ng-if="voluumLoading || loading" class="loader-sm"></div>
                        <button ng-if="accounts" class="btn btn-primary" ng-click="exportCSV(accounts)">Export</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-2">
                        <label>Search</label>
                        <input class="form-control" ng-model="ps.accountSearchFilter" type="text" placeholder="Search..." />
                    </div>
                    <div class="col-lg-2">
                        <label>Start Date</label>
                        <input class="ui-date-picker-input form-control" id="startDateFilter" name="startDateFilter" ng-change="dateChange('startDateFilter',startDateFilter);changeStartDate();" type="text" ng-model="startDateFilter" jqdatepicker />
                    </div>
                    <div class="col-lg-3">
                        <label>End Date</label>
                        <input class="ui-date-picker-input form-control" id="endDateFilter" name="endDateFilter" ng-change="dateChange('endDateFilter', endDateFilter);changeEndDate();" type="text" ng-model="endDateFilter" jqdatepicker />
                    </div>
                    <div class="col-lg-3">
                        <label>Account Owner</label>
                        <select class="form-control" ng-options="u for u in users" ng-model="ownerFilter" ng-change="changeOwner()"></select>
                    </div>
                    <div class="col-lg-2">
                        <label>Apply</label><br />
                        <button class="btn btn-primary" ng-click="runPayouts()">Apply</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div ng-if="!loading" class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>
                                        &nbsp;
                                        <div>
                                            &nbsp;
                                            <i></i>
                                        </div>
                                    </th>
                                    <th>
                                        Account
                                        <div>
                                            Account
                                            <i ng-show="showVertical" ng-click="sort('fname','descending'); showVertical = !showVertical;" class="fas fa-chevron-up"></i>
                                            <i ng-show="!showVertical" ng-click="sort('fname','ascending'); showVertical = !showVertical;" class="fas fa-chevron-down"></i>
                                        </div>
                                    </th>
                                    <th>
                                        Revenue
                                        <div>
                                            Revenue
                                            <i ng-show="showRevenue" ng-click="sort('audit_revenue','descending'); showRevenue = !showRevenue;" class="fas fa-chevron-up"></i>
                                            <i ng-show="!showRevenue" ng-click="sort('audit_revenue','ascending'); showRevenue = !showRevenue;" class="fas fa-chevron-down"></i>
                                        </div>
                                    </th>
                                    <th>
                                        Expenses
                                        <div>
                                            Expenses
                                            <i ng-show="showExpenses" ng-click="sort('audit_expenses','descending'); showExpenses = !showExpenses;" class="fas fa-chevron-up"></i>
                                            <i ng-show="!showExpenses" ng-click="sort('audit_expenses','ascending'); showExpenses = !showExpenses;" class="fas fa-chevron-down"></i>
                                        </div>
                                    </th>
                                    <th>
                                        Profit
                                        <div>
                                            Profit
                                            <i ng-show="showProfit" ng-click="sort('audit_revenue','descending'); showProfit = !showProfit;" class="fas fa-chevron-up"></i>
                                            <i ng-show="!showProfit" ng-click="sort('audit_revenue','ascending'); showProfit = !showProfit;" class="fas fa-chevron-down"></i>
                                        </div>
                                    </th>
                                    <th>
                                        Dead Date
                                        <div>
                                            Dead Date
                                            <i ng-show="showDeadDate" ng-click="sort('dead','descending'); showDeadDate = !showDeadDate;" class="fas fa-chevron-up"></i>
                                            <i ng-show="!showDeadDate" ng-click="sort('dead','ascending'); showDeadDate = !showDeadDate;" class="fas fa-chevron-down"></i>
                                        </div>
                                    </th>
                                    <th>
                                        Audit Date
                                        <div>
                                            Audit Date
                                            <i ng-show="showAuditEpoch" ng-click="sort('audit_epoch','descending'); showAuditEpoch = !showAuditEpoch;" class="fas fa-chevron-up"></i>
                                            <i ng-show="!showAuditEpoch" ng-click="sort('audit_epoch','ascending'); showAuditEpoch = !showAuditEpoch;" class="fas fa-chevron-down"></i>
                                        </div>
                                    </th>
                                    <th>
                                        Status
                                        <div>
                                            Status
                                            <i ng-show="showStatus" ng-click="sort('status','descending'); showStatus = !showStatus;" class="fas fa-chevron-up"></i>
                                            <i ng-show="!showStatus" ng-click="sort('status','ascending'); showStatus = !showStatus;" class="fas fa-chevron-down"></i>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="loading"><td colspan="14"><div ng-if="loading" class="loader-sm"></div></td></tr>
                                <tr ng-if="!loading" ng-repeat="a in accounts">
                                    <td class="center">
                                        {{$index + 1}}
                                    </td>
                                    <td><a href="#edit_account/{{a.account_key}}?tab=PnL">{{a.fname + ' ' + a.lname}}</a></td>
                                    <td>{{a.audit_revenue | currency}}</td>
                                    <td>{{a.audit_expenses | currency}}</td>
                                    <td>{{(a.audit_revenue - a.audit_expenses) | currency}}</td>
                                    <td><div>{{a.dead | date}}</div></td>
                                    <td><div>{{(a.audit_epoch * 1000) | date}}</div></td>
                                    <td><div>{{a.status}}</div></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><div>&nbsp;</div></td>
                                    <td><div>Totals:</div></td>
                                    <td><div>{{totals.audit_revenue | currency}}</div></td>
                                    <td><div>{{totals.audit_expenses | currency}}</div></td>
                                    <td><div>{{totals.audit_profit | currency}}</div></td>
                                    <td><div>No. Accounts:</div></td>
                                    <td><div>{{accounts.length}}</div></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>