﻿<section class="content">
    <div class="row" ng-controller="virtualMachinesCtrl">
        <div class="loader-sm" ng-if="loading"></div>
        <div class="col-lg-12">
            <div class="d-flex">
                <div class="mr-auto col-lg-3">
                    <input class="form-control" ng-model="vmSearchFilter" type="text" placeholder="Search..." />
                </div>
                <div class="p3">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal-md"
                        ng-click="editvm(vm.UUID)">Add VM</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <table class="table table-striped table-sm" id="vmTable">
                            <thead>
                                <tr>
                                    <th style="width:15px;">SL</th>
                                    <th style="width:15px;"><input type="checkbox" ng-model="allItemsSelected"
                                            ng-change="selectAll()"></th>
                                    <th style="width:15px;">View</th>
                                    <th style="width:15px;">Edit</th>
                                    <th style="width:15px;">Delete</th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        UUID
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    dir-paginate="vm in vms | filter:vmSearchFilter | orderBy : 'name' | itemsPerPage:25">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td>
                                        <div style="padding-top:5px; width:10px;"></div>
                                        <input type="checkbox" ng-model="vm.isChecked" ng-change="selectEntity()">
                                    </td>
                                    <td>
                                        <div style="padding-top:5px; width:30px;"></div>
                                        <a>
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <div style="padding-top:5px;">
                                            <a href="" data-toggle="modal" data-target="#modal-xl" ng-click="editvm(vm.UUID)"><i class="fas fa-edit"></i></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="padding-top:5px;"></div>
                                        <a>
                                            <a href="" ng-click="deletevm(vm.UUID)"></a><i class="fas fa-trash"></i></a>
                                        </a>
                                    </td>
                                    <td>{{vm.name}}</td>
                                    <td>{{vm.UUID}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                </div>

                <!-- Modal Add VM -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="modal fade" id="modal-md" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Extra Large Modal</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <strong>VM Name</strong>
                                                </div>
                                                <div class="col-md-9">
                                                    <input class="form-control" ng-model="newVmName" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <strong>VM UUID</strong>
                                                </div>
                                                <div class="col-md-9">
                                                    <input class="form-control" ng-model="newVmUUID" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button class="btn btn-primary" ng-disabled="!newVmName" ng-click="addVms()">Save</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Open VM details-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="modal fade" id="modal-xl" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Extra Large Modal</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-lg-3">
                                                    <strong>VM Name</strong>
                                                </div>
                                                <div class="col-lg-3">
                                                    <input class="form-control" ng-model="newVmName" />
                                                </div>
                                                <div class="col-lg-3">
                                                    <strong>VM UUID</strong>
                                                </div>
                                                <div class="col-lg-3">
                                                    <input class="form-control" ng-model="newVmUUID" />
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button class="btn btn-primary" ng-disabled="!newVmName" ng-click="addVms()">Save</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                </div>
            </div>
            <br />

        </div>
    </div>
</section>