﻿<section class="content">
    <div class="container-fluid" ng-controller="datatableCtrl">

        <br>
        <div class="row">
            <div class="col-md-3">
                <select class="form-control select2basic" name="state">
                    <option value="AL">Select Batch</option>
                    <!--<option value="AK">Alaska</option>
                    <option value="CA">California</option>
                    <option value="DE">Delaware</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="WA">Washington</option>
                    <option value="WY">Wyoming</option>-->
                    <option ng-repeat="item in batches">{{item.name}}</option>
                </select>
            </div>
            <div class="col-md-3">
                <ui-select ng-model="selectedItem">
                    <ui-select-match>
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in (batches | filter: $select.search) track by item.batch_key">
                        <span ng-bind="item.name"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-3">
                <div class="form-group">
                    <label>Date range:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control float-right" id="reservation">
                    </div>
                    <!-- /.input group -->
                </div>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-3">
                <div class="form-group">
                    <label>Date range:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control float-right" id="reservationtime">
                    </div>
                    <!-- /.input group -->
                </div>
            </div>
        </div>

        
        <div class="row">
            <br />
            <div class="col-md-3">
                <div class="form-group">
                    <label>Date range button:</label>

                    <div class="input-group">
                        <button type="button" class="btn btn-default float-right" id="daterange-btn">
                            <i class="far fa-calendar-alt"></i> Date range picker
                            <i class="fas fa-caret-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <br />
            <div class="col-md-3">
                <div class="form-group">
                    <label>Date range:</label>
                    <div class="input-group date">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control float-right" id="datepicker">
                    </div>
                    <!-- /.input group -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="" ng-init="fetchData()">
                    <br />
                    <h3 align="center">AngularJS CRUD (Create, Read, Update, Delete) using Bootstrap Modal</h3>
                    <br />
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-xl">
                        Launch Extra Large Modal
                    </button>
                    <br />
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="batch in batches | orderBy : 'batch_key' | itemsPerPage:10">
                                    <td>{{batch.batch_key}}</td>
                                    <td>{{batch.name}}</td>
                                    <td>{{batch.description}}</td>
                                    <td>
                                        <button type="button" ng-click="fetchSingleData(name.id)"
                                                class="btn btn-warning btn-xs">
                                            Edit
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="deleteData(name.id)"
                                                class="btn btn-danger btn-xs">
                                            Delete
                                        </button>
                                    </td>
                                    <td>
                                        <ui-select ng-model="selectedItem">
                                            <ui-select-match>
                                                <span ng-bind="$select.selected.name"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in (batches | filter: $select.search) track by item.batch_key">
                                                <span ng-bind="item.name"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                    </div>

                </div>
            </div>
        </div>
        <!-- HandsonTable -->
        <div class="row">
            <button class="btn btn-primary navbar-btn " ng-click="dt()">Save</button>
            <div class="col-lg-12">
                <hot-table settings="settings" datarows="batchess">
                    <hot-column data="batch_key" ng-model="ht" title="'ID'"></hot-column>
                    <hot-column data="name" title="'First Name'"></hot-column>
                    <hot-column data="name1" title="'First Name'"></hot-column>
                    <hot-column data="name2" title="'First Name'"></hot-column>
                    <hot-column data="name3" title="'First Name'"></hot-column>
                    <hot-column data="name4" title="'First Name'"></hot-column>
                    <hot-column data="name5" title="'First Name'"></hot-column>
                    <hot-column data="description" title="'Last Name'"></hot-column>
                </hot-table>
            </div>
        </div>


        <!-- Modal -->
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modal-xl" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Extra Large Modal</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label">Exp Mon</label>
                                        <input class="form-control" ng-model="exp_month" cc-exp-month
                                               ng-required="true" />
                                        <label class="control-label">Exp Year</label>
                                        <input class="form-control" ng-model="exp_year" cc-exp-year
                                               ng-required="true" />
                                        <label class="control-label">Zip Code</label>
                                        <input type="text" maxlength="5" class="form-control" ng-model="zip"
                                               ng-required="true">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Exp Mon</label>
                                        <input class="form-control" ng-model="exp_month" cc-exp-month
                                               ng-required="true" />
                                        <label class="control-label">Exp Year</label>
                                        <input class="form-control" ng-model="exp_year" cc-exp-year
                                               ng-required="true" />
                                        <label class="control-label">Zip Code</label>
                                        <input type="text" maxlength="5" class="form-control" ng-model="zip"
                                               ng-required="true">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Exp Mon</label>
                                        <input class="form-control" ng-model="exp_month" cc-exp-month
                                               ng-required="true" />
                                        <label class="control-label">Exp Year</label>
                                        <input class="form-control" ng-model="exp_year" cc-exp-year
                                               ng-required="true" />
                                        <label class="control-label">Zip Code</label>
                                        <input type="text" maxlength="5" class="form-control" ng-model="zip"
                                               ng-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </div>
</section>