﻿<section class="content">
    <div class="container-fluid" ng-controller="launchCtrl">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Primary Outline</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Chart & Chart Details" -->
                        <div class="row">
                            <!-- Pie Chart" -->
                            <div class="col-md-7">
                                <div width="100%" height="100%">
                                    <div id="chart" class="collapse in" style="box-shadow:0px 2px;" ng-change="filterChanged()" ng-model="chartData"
                                         fusioncharts width="100%" height="700px" type="pie3d" dataSource="{{ launchData }}"></div>
                                </div>
                            </div>

                            <!-- Batch Details" -->
                            <div class="col-md-5">
                                <!-- ng-show="batchesFiltered" -->
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="edit_card">
                                            <center style="margin-bottom:10px;">
                                                <h2>Batch Details</h2>
                                            </center>
                                            <div class="row">
                                                <div class="form-group col-md-3" style="margin-bottom:0px;">
                                                    <b>Name:</b>
                                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch" placeholder="Batch Name" />
                                                </div>
                                                <div class="form-group col-md-9" style="margin-bottom:0px;">
                                                    <b>Description:</b>
                                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch_description"
                                                           placeholder="Batch Description" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6 mb-0">
                                                    <b>Safe Spend:</b>
                                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch_safe_spend"
                                                           placeholder="Safe Spend" />
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <b>Safe Ads:</b>
                                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch_safe_ads"
                                                           placeholder="Safe Ads" />
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <b for="inputPassword4">Warm Time:</b>
                                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch_warm_time"
                                                           placeholder="Warm Time" />
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <b>Pre-Warming Activities:</b>
                                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch_pre_warming_activities"
                                                           placeholder="Pre Warming Activities" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <b>Proxy:</b>
                                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch_proxy" placeholder="Proxy" />
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <b>Pre-Launch Activities:</b>
                                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch_pre_launch_activities"
                                                           placeholder="Pre Launch Activities" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>




        <div class="loader-sm" ng-show="loading"></div>


        <div class="row">
            <div class="">
                <h1>Launch Rates</h1>
            </div>
        </div>

        <!--  Search Filter  -->
        <div class="row">
            <div class="col-md-3">
                <h4>User</h4>
                <select class="form-control" ng-model="userFilter" ng-options="u for u in users" ng-change="filterChanged()"
                        required></select>
            </div>
            <div class="col-md-3">
                <h4>Angle</h4>
                <select class="form-control" ng-model="angleFilter" ng-options="a for a in angles" ng-change="filterChanged()"
                        required></select>
            </div>
            <div class="col-md-3">
                <h4>Vertical</h4>
                <select class="form-control" ng-model="verticalFilter" ng-options="v for v in verticals"
                        ng-change="filterChanged()" required></select>
            </div>
            <div class="col-md-3">
                <h4>Batch</h4>
                <select class="form-control" ng-model="batchFilter" ng-options="b for b in batches" ng-change="filterChanged()"
                        required></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>Geo</h4>
                <select class="form-control" ng-model="geoFilter" ng-options="g for g in geos" ng-change="filterChanged()"
                        required></select>
            </div>
            <div class="col-md-3">
                <h4>Card</h4>
                <select class="form-control" ng-model="cardFilter" ng-options="c for c in cards" ng-change="filterChanged()"
                        required></select>
            </div>

            <div class="col-md-3">
                <h4>From</h4>
                <input id="dtFrom" name="dtFrom" type="text" class="form-control" ng-model="dtFrom" jqdatepicker />
            </div>

            <div class="col-md-3">
                <h4>To</h4>
                <input id="dtTo" name="dtTo" type="text" class="form-control" ng-model="dtTo" jqdatepicker />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" ng-click="filterChanged()">
                    Search
                </button>
            </div>
        </div>

        <!--  table  -->
        <div class="row">
            <div class="col-md-12">
                <!--ts-wrapper-->
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                <div>#</div>
                            </th>
                            <th style="width:15px;">Edit</th>
                            <!-- ts-criteria="{{ c }}" -->
                            <th ng-repeat="c in selectedColumns">
                                <div>{{ c }}&nbsp;</div>
                                <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];"
                                     class="fas fa-chevron-up"></div>
                                <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];"
                                     class="fas fa-chevron-down"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr ng-repeat="account in filteredAccounts" ts-repeat ts-hide-no-data> -->
                        <tr dir-paginate="account in filteredAccounts | filter: globalFilter | orderBy : 'account_key' | itemsPerPage: 25">
                            <td class="text-center search-td">{{ $index + 1 }}</td>
                            <td>
                                <div style="padding-top:5px;">
                                    <a ng-href="#edit_account/{{ account.account_key }}"><i class="fas fa-edit"></i></a>
                                </div>
                            </td>
                            <td class="search-td" ng-repeat="c in selectedColumns">
                                <div ng-model="account[c]">
                                    {{ account[c] }}
                                    <!-- {{account[c] | currency: account[c].total_spend}} -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</section>