﻿<section class="content">
    <div class="container-fluid" ng-controller="urlsCtrl">
        <div class="row">
            <div class="col-md-12">
                <div class="loader-sm" ng-if="loading"></div>
                <div class="d-flex">
                    <div class="mr-auto col-md-2 p-2">
                       <input class="form-control" type="text" ng-model="tableFilter" placeholder="Search..." />
                    </div>
                    <div class="p-2">
                        <button class="btn btn-primary" ng-click="saveAllUrls(url)">Save All</button>
                    </div>
                </div>
               <br>
               <div class="row">
                   <div class="col-md-12">
                    <table class="table table-striped table-sm" ts-wrapper>
                        <thead>
                            <tr>
                                <th style="width:15px;">SL</th>
                                <th style="width:15px;">Select</th>
                                <th style="width:15px;">View</th>
                                <th style="width:15px;">Edit</th>
                                <th style="width:15px;">Delete</th>
                                <th>
                                    <div class="th-flex">
                                        <div>ID&nbsp;</div>
                                        <div ng-show="showId"
                                            ng-click="sort('safe_url_key','descending'); showId = !showId;"
                                            class="fas fa-chevron-up"></div>
                                        <div ng-show="!showId" ng-click="sort('safe_url_key','ascending'); showId =!showId;"
                                            class="fas fa-chevron-down"></div>
                                    </div>
                                </th>
                                <th ts-criteria="url | lowercase" ts-default>
                                    <div class="th-flex">
                                        <div>URL&nbsp;</div>
                                        <div ng-show="showUrl" ng-click="sort('url','descending'); showUrl = !showAccount;"
                                            class="fas fa-chevron-up"></div>
                                        <div ng-show="!showUrl" ng-click="sort('url','ascending'); showUrl =!showAccount;"
                                            class="fas fa-chevron-down"></div>
                                    </div>
                                </th>
                                <th>
                                    <div class="th-flex">
                                        <div>Created&nbsp;</div>
                                        <div ng-show="showCreated"
                                            ng-click="sort('created','descending'); showCreated = !showCreated;"
                                            class="fas fa-chevron-up"></div>
                                        <div ng-show="!showCreated"
                                            ng-click="sort('created','ascending'); showCreated =!showCreated;"
                                            class="fas fa-chevron-down"></div>
                                    </div>
                                </th>
                                <th>
                                    <div class="th-flex">
                                        <div>In Use&nbsp;</div>
                                        <div ng-show="showClaimed"
                                            ng-click="sort('claimed','descending'); showClaimed = !showClaimed;"
                                            class="fas fa-chevron-up"></div>
                                        <div ng-show="!showClaimed"
                                            ng-click="sort('claimed','ascending'); showClaimed =!showClaimed;"
                                            class="fas fa-chevron-down"></div>
                                    </div>
                                </th>
                                <th>
                                    <div class="th-flex">
                                        <div>Status&nbsp;</div>
                                        <div ng-show="showStatus"
                                            ng-click="sort('status','descending'); showStatus = !showStatus; "
                                            class="fas fa-chevron-up"></div>
                                        <div ng-show="!showStatus"
                                            ng-click="sort('status','ascending'); showStatus =!showStatus; "
                                            class="fas fa-chevron-down"></div>
                                    </div>
                                </th>
                                <th ts-criteria="fname | lowercase">
                                    <div class="th-flex">
                                        <div>Account&nbsp;</div>
                                        <div ng-show="showAccount"
                                            ng-click="sort('fname','descending'); showAccount = !showAccount; "
                                            class="fas fa-chevron-up"></div>
                                        <div ng-show="!showAccount"
                                            ng-click="sort('fname','ascending'); showAccount =!showAccount; "
                                            class="fas fa-chevron-down"></div>
                                    </div>
                                </th>
                                <th>
                                    <div class="th-flex">
                                        <div>Acct Status&nbsp;</div>
                                        <div ng-show="showAccountStatus"
                                            ng-click="sort('account_status','descending'); showAccountStatus = !showAccountStatus; "
                                            class="fas fa-chevron-up"></div>
                                        <div ng-show="!showAccountStatus"
                                            ng-click="sort('account_status','ascending'); showAccountStatus =!showAccountStatus; "
                                            class="fas fa-chevron-down"></div>
                                    </div>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="url in urls | filter: tableFilter | itemsPerPage:100"
                                ng-click="setRowSelector($event)" ts-reapet>
                                <td class="text-center">{{$index + 1}}</td>
                                <td>
                                    <div class="custom-control custom-radio" style="padding-top:5px;">
                                        <input class="custom-control-input" type="radio" id="customRadio2"
                                            name="customRadio" checked="">
                                        <label for="customRadio2" class="custom-control-label"></label>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding-top:5px;"></div>
                                    <a>
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                                <td>
                                    <div style="padding-top:5px;"></div>
                                    <a>
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    <div style="padding-top:5px;"></div>
                                    <a>
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                                <td class="center">
                                    {{url.safe_url_key}}
                                </td>
    
                                <td>
                                    <input class="form-control" ng-model="url.url" ng-change="urlChanged(url);">
                                </td>
                                <td class="center">
                                    {{url.created | date: 'MM-dd-yyyy'}}
                                </td>
                                <td class="td-cc-select">
                                    <select class="form-control" ng-model="url.claimed" ng-change="urlChanged(url);">
                                        <option>yes</option>
                                        <option>no</option>
                                    </select>
                                </td>
                                <td class="td-cc-select">
                                    <select class="form-control" ng-model="url.status" ng-change="urlChanged(url);">
                                        <option>on</option>
                                        <option>off</option>
                                    </select>
                                </td>
                                <td style="max-width:200px;">
                                    <a ng-if="url.fname"
                                        ng-href="#edit_account/{{account.account_key}}">{{url.fname + ' ' + url.lname}}</a>
                                </td>
                                <td>
                                    {{url.account_status}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>
                   </div>
               </div>
            
               
            </div>
        </div>

       <!--  Url Entry Modal -->
       <div heading="Safe URLs">
        <center>
          <h2>Add URLs</h2>
        </center>
        <div class="">
          <div ng-repeat="safe_URL in safe_URLs">
            <div class="row">
              <div class="col-md-3">
                <label class="control-label">URL</label>
                <input
                  type="text"
                  name="fname"
                  class="form-control"
                  ng-model="safe_URL.url"
                  placeholder="www.asitefordieting.com"
                />
              </div>
              <div class="col-md-1">
                <button
                  class="btn btn-danger"
                  ng-click="removeURL($index)"
                  ng-disabled="safe_URLs.length==1"
                >
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <br />
        <div class="flex-space-between">
          <div class="flex-left">
            <button class="btn btn-primary" ng-click="addURL($index)">
              <i class="fa fa-plus" aria-hidden="true"></i>Add Another
            </button>
          </div>
          <div class="flex-right">
            <button class="btn btn-primary" ng-click="insertURLs(safe_URLs)">Save</button>
          </div>
        </div>
      </div>
    </div>
</section>