﻿<div>
    <label class="switch">
        <input type="checkbox" ng-model="preview_view" ng-class="{checked:preview_view}">
        <span class="slider" ng-model="preview_view" ng-change="preview_view = !preview_view;"></span>
    </label>
</div>