﻿<div class="modal-header">
    <h3>Add New Batch</h3>
</div>
<div id="myModal" class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Batch Name</strong>
                                    <input class="form-control" ng-disabled="disableInput" ng-model="uBatch.name" />
                                </td>
                                <td>
                                    <strong>Batch Description</strong>
                                    <input class="form-control" ng-disabled="disableInput" ng-model="uBatch.description" />
                                </td>
                                <td>
                                    <strong>Safe Spend</strong>
                                    <input class="form-control" ng-disabled="disableInput" ng-model="uBatch.safe_spend" />
                                </td>
                                <td>
                                    <strong>Proxy</strong>
                                    <input class="form-control" ng-disabled="disableInput" ng-model="uBatch.proxy" />
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <strong>Warm Time</strong>
                                    <input class="form-control" ng-disabled="disableInput" ng-model="uBatch.warm_time" />
                                </td>
                                <td>
                                    <strong>Safe Ads</strong>
                                    <input class="form-control" ng-disabled="disableInput" ng-model="uBatch.safe_ads" />
                                </td>
                                <td>
                                    <strong>Pre W Act</strong>
                                    <input class="form-control" ng-disabled="disableInput" ng-model="uBatch.pre_launch_activities" />
                                </td>
                                <td>
                                    <strong>Pre L Act</strong>
                                    <input class="form-control" ng-disabled="disableInput" ng-model="uBatch.pre_warming_activities" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
</div>
    </div>
<div class="modal-footer">
    <div class="row justify-content-between">
        <div class="p-2">
            <button class="btn btn-primary" ng-click="ok()">Save</button>
        </div>
        <div class="p-2">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>