<section class="content">
    <div class="container-fluid" ng-controller="editAccountCtrl">
        <center style="font-size:32px;">{{account.fname}}&nbsp;{{account.lname}}</center>
        <br />
        <tabset active="active">
            <br />
            <!--Ads Copy-->
            <tab heading="Copy" ng-click="tabClick('Copy')" ng-attr-active="tabs[0].active">
                <div ng-show="!accountValidForCopy" class="row">
                    <div class="edit_card">
                        <center><h4>No Valid Copy</h4></center>
                    </div>
                </div>
                <div ng-show="accountValidForCopy">
                    <div class="row justify-content-end">
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-repeat="adset in campaign" ng-init="adsetIndex = $index">
                                <div class="row justify-content-between">
                                    <div>
                                        <h5>Adset {{$index + 1}}/{{campaign.length}}</h5>
                                        <div class="pretty outline-success plain" style="font-size: 22px">

                                            <span class="text-info" ng-show="adset.disabled === 0">Active</span>
                                            <span class="text-warning" ng-show="adset.disabled === 1">Disabled</span>
                                            <input type="checkbox" ng-init="adset.disabled_checkbox = ((adset.disabled == false) ? false : true)"
                                                   ng-model="adset.disabled_checkbox" ng-click="disableAdset($index)" />
                                            <label><i class="fa fa-check" ng-disabled="adset.desktop==false"></i></label>
                                        </div>
                                    </div>
                                    <div>
                                        <button ng-disabled="!adset.adset_key" class="btn btn-primary" ng-click="duplicateAdsetNew(adset);">
                                            Duplicate On New Account
                                        </button>
                                        &nbsp;
                                        <button ng-disabled="$index === 0 && campaign.length < 2" class="btn btn-warning"
                                                ng-click="removeAdSet(adset, $index)">
                                            Delete Adset
                                        </button>
                                        &nbsp;
                                        <button class="btn btn-primary navbar-btn" ng-disabled="disableUpdateCopy" ng-click="updateCopy()">
                                            Update Copy
                                        </button>
                                        &nbsp;&nbsp;&nbsp;

                                        <button class="btn btn-default" data-toggle="collapse" data-target="{{ '#' + 'adset-' + $index }}">
                                            <i class="fas fa-chevron-down"></i>
                                        </button>

                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12" ng-attr-id="{{ 'adset-' + $index }}" ng-class="($index === 0)?'in':''">
                                        <div class="row">
                                            <div class="col-lg-1">
                                                <label class="control-label">Sex:</label>
                                            </div>
                                            <div class="col-lg-2 btn-group" role="group" aria-label="...">
                                                <button type="button" ng-model="adset.sex" ng-click="adset.sex='Men'" class="btn btn-default"
                                                        ng-disabled="adset.disabled == 1">
                                                    <i class="fa fa-male" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" ng-model="adset.sex" ng-click="adset.sex='Women'" class="btn btn-default"
                                                        ng-disabled="adset.disabled == 1">
                                                    <i class="fa fa-female" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" ng-model="adset.sex" ng-click="adset.sex='Both Sexes'"
                                                        class="btn btn-default" ng-disabled="adset.disabled == 1">
                                                    <i class="fa fa-female" aria-hidden="true"></i>
                                                    <i class="fa fa-male" aria-hidden="true"></i>
                                                    <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
                                                </button>
                                            </div>
                                            <div class="col-lg-1">{{adset.sex}}</div>
                                            <div class="col-lg-1">
                                                <label class="control-label">Country:</label>
                                            </div>
                                            <div class="col-lg-3">
                                                <country-select ng-model="adset.country" cs-priorities="AUS, DEU, GBR, USA, FRA, IRL, CAN, CHE"
                                                                ng-disabled="adset.disabled == 1"></country-select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-1">
                                                <label class="control-label">Age:</label>
                                            </div>
                                            <div class="col-md-1">
                                                <select class="form-control" ng-model="adset.minAge" ng-disabled="adset.disabled == 1"
                                                        ng-options="a for a in ageRange" required></select>
                                            </div>
                                            <div class="col-md-1">
                                                <center>to</center>
                                            </div>
                                            <div class="col-md-1">
                                                <select class="form-control" ng-model="adset.maxAge" ng-disabled="adset.disabled == 1"
                                                        ng-options="a for a in ageRange" required></select>
                                            </div>
                                            <div class="col-md-offset-1 col-md-1">
                                                <label class="control-label">Mobile:</label>
                                            </div>
                                            <div class="col-md-1 pretty outline-success plain" style="font-size: 22px">
                                                <input type="checkbox" ng-init="false" ng-model="adset.mobile" ng-click="adset.audienceNetwork=false"
                                                       ng-disabled="adset.disabled == 1" />
                                                <label>
                                                    <i class="fa fa-check"></i>
                                                </label>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label">
                                                    Audience Network:
                                                    <i class="fas fa-info-sign" data-toggle="tooltip"
                                                       data-placement="right" title="Mobile must be checked to use the audience network"></i>
                                                </label>
                                            </div>
                                            <div class="pretty outline-success plain" style="font-size: 22px">
                                                <input type="checkbox" ng-init="false" ng-model="adset.network" ng-disabled="adset.mobile==false" />
                                                <label>
                                                    <i class="fa fa-check" ng-disabled="(adset.mobile==false) || (adset.disabled == 1)"></i>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-1">
                                                <label class="control-label">Interests:</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" ng-model="adset.interests" ng-disabled="adset.disabled == 1">
                                            </div>
                                            <div class="col-md-offset-1 col-md-1">
                                                <label class="control-label">Desktop:</label>
                                            </div>
                                            <div class="col-md-1 pretty outline-success plain" style="font-size: 22px">
                                                <input type="checkbox" ng-init="false" ng-model="adset.desktop" ng-click="adset.rhs=false"
                                                       ng-disabled="adset.disabled == 1" />
                                                <label>
                                                    <i class="fa fa-check"></i>
                                                </label>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label">
                                                    RHS:
                                                    <i class="fas fa-info-sign" data-toggle="tooltip"
                                                       data-placement="right" title="Desktop must be checked to use RHS (right hand side)"></i>
                                                </label>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="pretty outline-success plain" style="font-size: 22px">
                                                    <input type="checkbox" ng-init="false" ng-model="adset.rhs" ng-disabled="(adset.desktop==false) || (adset.disabled == 1)" />
                                                    <label>
                                                        <i class="fa fa-check" ng-disabled="adset.desktop==false"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-1">
                                                <label class="control-label">
                                                    Audience:
                                                    <i class="fas fa-info-sign" data-toggle="tooltip"
                                                       data-placement="right" title="Custom Audience should be comma separate (e.g. 'painters,art,drawing')"></i>
                                                </label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" maxlength="140" class="form-control" ng-model="adset.audience"
                                                       ng-disabled="adset.disabled == 1">
                                            </div>
                                            <div class="col-md-offset-1 col-md-1">
                                                <label class="control-label">Instagram:</label>
                                            </div>
                                            <div class="col-md-1 pretty outline-success plain" style="font-size: 22px">
                                                <input type="checkbox" ng-init="false" ng-model="adset.instagram" ng-disabled="adset.disabled == 1" />
                                                <label><i class="fa fa-check"></i></label>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="control-label">Budget:</label>
                                            </div>
                                            <div class="col-md-1">
                                                <input class="form-control number" type="text" maxlength="6" ng-model="adset.budget"
                                                       ng-disabled="adset.disabled == 1" currency />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <hr />
                                <!--Campaign Details-->
                                <div class="row">
                                    <div class="col-lg-12" ng-repeat="ad in adset.ads">
                                        <div class="row justify-content-between">
                                            <div>
                                                <h6>Ad # {{$index + 1}}</h6>
                                            </div>
                                            <div>
                                                <button class="btn btn-warning" ng-click="removeAd(adsetIndex, $index)"
                                                        ng-disabled="adset.disabled == 1" ng-show="!adset.disabled == 1">
                                                    Remove Ad
                                                </button>
                                                <button class="btn btn-default" data-toggle="collapse" data-target="{{ '#' + 'adset-' + $parent.$index + 'ad-' + $index + 1 }}">
                                                    <i class="fas fa-chevron-down"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" ng-attr-id="{{ 'adset-' + $parent.$index + 'ad-' + $index + 1 }}">
                                            <!-- Copy Details -->
                                            <div class="col-lg-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Campaign Details</h3>
                                                    </div>
                                                    <form role="form">
                                                        <div class="card-body">
                                                            <div>
                                                                <div class="form-group">
                                                                    <b>Headline:</b>
                                                                    <input type="text" name="headline" class="form-control" maxlength="200"
                                                                           placeholder="Something eye catching goes here..." required
                                                                           ng-model="ad.headline" ng-disabled="adset.disabled == 1">
                                                                </div>
                                                                <div class="form-group">
                                                                    <b>Body:</b>
                                                                    <textarea type="text" name="body" class="form-control" style="min-height:78px;"
                                                                              placeholder="More amazing things here..."
                                                                              required ng-model="ad.body" ng-disabled="adset.disabled == 1"></textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                    <b>NFLD:</b>
                                                                    <input type="text" name="newsfeed" maxlength="200" class="form-control"
                                                                           placeholder="'two spaces' or a shortened version of your safe link"
                                                                           required ng-model="ad.newsfeed_link" ng-disabled="adset.disabled == 1">
                                                                </div>
                                                                <div class="form-group">
                                                                    <b>Media URL:</b>
                                                                    <input type="text" name="graphic_link" class="form-control"
                                                                           maxlength="200" placeholder="URL to Postimage.org or Dropbox goes here..."
                                                                           required ng-model="ad.link_to_graphic" ng-disabled="adset.disabled == 1">
                                                                </div>
                                                                <div class="form-group">
                                                                    <b>Thumbnail:</b>
                                                                    <input type="text" name="thumbnail" class="form-control" maxlength="100"
                                                                           placeholder="Thumbnail link" required ng-model="ad.thumbnail"
                                                                           ng-disabled="adset.disabled == 1" />
                                                                </div>
                                                                <div class="form-group">
                                                                    <b>Comment:</b>
                                                                    <textarea type="text" name="comment" class="form-control" style="min-height:78px;" placeholder="Any important notes..." required
                                                                              ng-model="ad.comment" ng-disabled="adset.disabled == 1"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <div class="card-footer">
                                                        <div class="row justify-content-end">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <!-- Campaign /  URL -->
                                            <div class="col-lg-4">
                                                <!-- URL Details -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h3 class="card-title">URL Details</h3>
                                                    </div>
                                                    <form role="form">
                                                        <div class="card-body">
                                                            <div>
                                                                <div class="form-group">
                                                                    <b>Safe URL:</b>
                                                                    <textarea style="height:78px;" type="text" class="form-control" ng-model="account.safe_url" />
                                                                </div>
                                                                <div class="form-group">
                                                                    <b>Status:</b>
                                                                    <select class="form-control" ng-if="account.safe_url_key" ng-model="account.safe_url_status"
                                                                            required>
                                                                        <option>on</option>
                                                                        <option>off</option>
                                                                    </select>
                                                                </div>
                                                                <div class="row justify-content-end">
                                                                    <button class="btn btn-primary" style="margin-right:5px;" ng-click="updateUrl(account)">
                                                                        UpdateCurrent
                                                                    </button>
                                                                    <button class="btn btn-warning" ng-click="openUrlModal()">Replace URL</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <div class="card-footer">
                                                    </div>
                                                </div>

                                                <!--Campaign Details-->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Campaign Details</h3>
                                                    </div>
                                                    <form role="form">
                                                        <div class="card-body">
                                                            <div class="form-group">
                                                                <b>Campaign Name:</b>
                                                                <input type="text" class="form-control" ng-model="account.campaign_name" />
                                                            </div>
                                                            <div class="form-group">
                                                                <b>Campaign Url:</b>
                                                                <textarea style="height:78px;" type="text" class="form-control" ng-model="account.campaign_url" />

                                                            </div>
                                                            <div class="form-group">
                                                                <b class="control-label">Voluum Campaigns:</b>
                                                                <select class="form-control" ng-model="selectedCampaign[0]" ng-options="c.name for c in filteredCampaigns track by c.id"
                                                                        ng-change="" ng-disabled="!account && !account.pixel" required></select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <div class="card-footer">
                                                        <div class="row justify-content-end">
                                                            <button class="btn btn-primary" style="margin-right:5px;" ng-click="refreshCamps()">Generate</button>
                                                            <button class="btn btn-warning" style="margin-right:5px;" ng-click="updateCampaignUrl(account)">Update</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Ads Preview-->
                                            <div class="col-lg-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Ad Preview</h3>
                                                    </div>
                                                    <form role="form">
                                                        <div class="card-body">
                                                            <div ng-attr-id="{{ 'adset-'+ $parent.$index + 'fb-'+$index + 1 }}">
                                                                <div class="row justify-content-between">
                                                                    <div>
                                                                        Add To Secret Sauce:&nbsp;
                                                                        <div class="pretty outline-success plain" style="font-size: 22px">
                                                                            <input type="checkbox" name="performant" ng-init="ad.performant = ((ad.performant == 1) ? true : false)"
                                                                                   ng-model="ad.performant" />&nbsp;
                                                                            <label>
                                                                                <i class="fa fa-check" ng-disabled="adset.desktop==false"></i>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        Toggle Preview Type:&nbsp;
                                                                        <div class="pretty outline-success plain" style="font-size: 22px">
                                                                            <input type="checkbox" ng-model="preview_view" ng-class="{checked:preview_view}">
                                                                            <label>
                                                                                <i class="fa fa-check" ng-disabled="adset.desktop==false"></i>
                                                                            </label>
                                                                            <span class="slider" ng-model="preview_view" ng-change="preview_view = !preview_view;"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div ng-show="preview_view"><fb-ad ng-model="ad"></fb-ad></div>
                                                                    <div ng-show="!preview_view"><fb-ad-mobile ng-model="ad"></fb-ad-mobile></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <div class="card-footer">
                                                        <div class="row justify-content-end">
                                                            <button class="btn btn-primary" style="margin-right:5px;" ng-click="refreshCamps()">Generate</button>
                                                            <button class="btn btn-warning" style="margin-right:5px;" ng-click="updateCampaignUrl(account)">Update</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row justify-content-between">
                                    <div>
                                        <button class="btn btn-primary" ng-click="duplicateAdsetCurrent($index)">Duplicate In Current Campaign</button>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary navbar-btn" ng-click="newAd(adsetIndex)" ng-if="adset.disabled != 1" ng-disabled="adset.disabled == 1">New Ad</button>
                                        &nbsp; &nbsp;
                                        <button class="btn btn-primary navbar-btn" ng-click="newAdSet()" ng-disabled="account.status.toLowerCase().indexOf('dead') >= 0">
                                            New Ad Set
                                        </button>
                                        &nbsp; &nbsp;
                                        <button class="btn btn-primary navbar-btn" ng-disabled="disableUpdateCopy" ng-click="updateCopy()">
                                            Update Copy
                                        </button>
                                    </div>
                                </div>

                                <br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </tab>

            <!--Account Details-->
            <tab heading="Account" ng-click="tabClick('Account')" ng-attr-active="tabs[1].active">
                <br />
                <button ng-if="dev" ng-click="showAccountDetails()">Console Account</button>
                <div class="row">
                    <!--<div class="card">
        <div class="card-header">
            <h3 class="card-title">Account Basics</h3>
        </div>
        <form role="form">
            <div class="card-body">
            </div>
        </form>
        <div class="card-footer">
            <button class="btn btn-primary" ng-click="updateAccount(account)">Save</button>
        </div>
    </div>-->

                    <div class="col-lg-8">
                        <div class="row">
                            <!--Account Basics-->
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Account Basics</h3>
                                    </div>
                                    <form role="form">
                                        <div class="card-body">
                                            <div>
                                                <div class="form-group">
                                                    <b>Acct. First Name:</b>
                                                    <input type="text" class="form-control"
                                                           ng-model="account.fname" />
                                                </div>
                                                <div class="form-group">
                                                    <b>Acct. Last Name:</b>
                                                    <input type="text" class="form-control"
                                                           ng-model="account.lname" />
                                                </div>
                                                <div class="form-group">
                                                    <b>Parent Manager:</b>
                                                    <input type="text" class="form-control" ng-model="account.parent_manager" />
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 form-group">
                                                        <b>Status:</b>
                                                        <select ng-if="account.status == 'Created'" class="form-control" ng-change="statusChanged(account);"
                                                                ng-model="account.status" required>
                                                            <option>Created</option>
                                                            <option>Warming</option>
                                                            <option>Ready</option>
                                                            <option>Dead</option>
                                                        </select>
                                                        <select ng-if="account.status != 'Created'" class="form-control" ng-change="statusChanged(account);"
                                                                ng-model="account.status" ng-options="s as s for s in status track by s" required></select>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <b>Country:</b>
                                                        <country-select ng-model="account.country" cs-priorities="AUS, DEU, GBR, USA, FRA, IRL, CAN, CHE"
                                                                        ng-change="countryChange(account);" ng-disabled="true"></country-select>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 form-group">
                                                        <b>Vertical:</b>
                                                        <select class="form-control" ng-model="account.vertical" ng-options="v as v for v in verticals track by v"
                                                                required></select>

                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <b>Angle:</b>
                                                        <angle-select ng-model="account.angle"></angle-select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <b>Pixel:</b>
                                                    <input type="text" class="form-control" ng-model="account.pixel" />
                                                </div>
                                                <div class="form-group">
                                                    Adespresso ID:
                                                    <input type="text" class="form-control" ng-model="account.adespresso_key" />
                                                </div>
                                                <div class="form-group">
                                                    <b>Owner:</b>
                                                    <select class="form-control" ng-options="u for u in users" ng-model="account.owner"></select>
                                                </div>
                                                <div class="form-group">
                                                    <b>Current Assigned VM:</b>
                                                    <input type="text" class="form-control" ng-model="account.vm_name" />
                                                </div>
                                                <div class="form-group">
                                                    <b>Filter VMs:</b>
                                                    <input name="searchVm" ng-model="searchVm" type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <b>Change VM:</b>
                                                    <select class="form-control" ng-model="vmSelected" ng-options="v as v.name for v in vms | filter:{name:searchVm} "
                                                            ng-change="vmChanged(vmSelected);"></select>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 form-group">
                                                        Conversion Event:
                                                        <select class="form-control" ng-model="account.conversionEvent" ng-options="c for c in conversionEvents"
                                                                required></select>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <b>Recovered:</b>
                                                        <select class="form-control" ng-change="recoveredChanged(account);" ng-disabled="!isDead(account.status)"
                                                                ng-model="account.recovered">
                                                            <option>no</option>
                                                            <option>processing</option>
                                                            <option>yes</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <b>Comments:</b>
                                                    <textarea style="height:78px;" class="form-control" rows="4" ng-model="account.last_account_comment" ng-change="commentChanged(account);"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card-footer row justify-content-end">
                                        <button class="btn btn-primary" ng-click="updateAccount(account)">Save</button>
                                    </div>
                                </div>
                            </div>
                            <!--Farming Info-->
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Farming Info</h3>
                                    </div>
                                    <form role="form">
                                        <div class="card-body">
                                            <div class="div">
                                                <div class="row">
                                                    <div class="col-md-6 form-group">
                                                        <b>
                                                            Batch Name:
                                                        </b>
                                                        <input type="text" class="form-control" ng-model="account.batch" />

                                                        <!--{{account.batch === null || account.batch === undefined ? "No Batch Selected" : account.batch}}-->
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <b>Change Batch:</b>
                                                        <select class="form-control" ng-model="batch" ng-options="batch.name for batch in batches"
                                                                ng-change="batchChanged(batch);"></select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <b>Batch Description:</b>
                                                        <input type="text" class="form-control" ng-model="account.batchDescription" />
                                                        <!--{{account.batchDescription === null || account.batchDescription === undefined ? "No Batch Description" : account.batchDescription}}-->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4 form-group">
                                                        <b>Proxy Type:</b>
                                                        <input type="text" class="form-control" ng-model="account.proxy_type" placeholder="Proxy">
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <b>Proxy:</b>
                                                        <input type="text" class="form-control" placeholder="Proxy">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 form-group">
                                                        <b for="inputPassword4">Source:</b>
                                                        <input type="text" class="form-control" ng-model="account.source" placeholder="Source">
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <b>Ban Type:</b>
                                                        <input type="text" class="form-control" ng-model="account.ban_type" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 form-group">
                                                        <b>Email:</b>
                                                        <input type="text" class="form-control" ng-model="account.email" />
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <b>Password:</b>
                                                        <input type="text" class="form-control" ng-model="account.password" placeholder="Password">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <b>Phone:</b>
                                                        <input type="text" class="form-control" ng-model="account.phone" placeholder="Phone">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 form-group">
                                                        <b>Launched:</b>
                                                        <input id="launched" name="launched" ng-change="dateChange('launched',launched)" type="text" class="form-control" ng-model="launched" jqdatepicker placeholder="launched">
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <b for="inputPassword4">Boost:</b>
                                                        <input id="initialBoost" name="initialBoost" ng-change="dateChange('initialBoost',initialBoost)" class="form-control" ng-model="initialBoost" jqdatepicker placeholder="Boost">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 form-group">
                                                        <b>Creation:</b>
                                                        <input id="creation" name="creation" ng-change="dateChange('creation',creation)" type="text" class="form-control" ng-model="creation" jqdatepicker placeholder="Creation">
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <b for="inputPassword4">Warm Time (days):</b>
                                                        <input type="text" class="form-control" ng-model="account.warmTime" placeholder="Warm Time">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 form-group">
                                                        <b>Run Time (days):</b>
                                                        <input type="text" class="form-control" ng-model="account.runTime" placeholder="Run Time">
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <b for="inputPassword4">Life Time (days):</b>
                                                        <input type="text" class="form-control" ng-model="account.lifeTime" placeholder="Life Time">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 form-group">
                                                        <b>Dead:</b>
                                                        <input type="text" class="form-control" ng-model="account.dead" placeholder="Dead">
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <b>No.Safe Ads:</b>
                                                        <input class="form-control" ng-model="account.safe_ad_count" placeholder="Safe Ads">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 form-group">
                                                        <b>Safe Spend:</b>
                                                        <input class="form-control" ng-model="account.safeSpend" currency placeholder="Safe Spend">
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <b>Total Spend:</b>
                                                        <input class="form-control" ng-model="account.total_spend" currency placeholder="Total Spend">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card-footer row justify-content-end">
                                        <button class="btn btn-primary navbar-btn" ng-click="updateAccount(account)">Save</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <!--Credit Card-->
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Credit Card Details</h3>
                                    </div>
                                    <form role="form">
                                        <div class="card-body">
                                            <div class="div">
                                                <div class="form-group">
                                                    Credit Card: <b><i class="btn btn-warning">{{account.cc.code}}</i></b>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8 form-group">
                                                        <b>Card Type:</b>
                                                        <select class="form-control" ng-if="account.cc.code" ng-model="account.cc.code_type"
                                                                ng-options="type for type in accountTypes" ng-required="true"></select>
                                                    </div>
                                                    <div class="col-md-4 form-group">
                                                        <b>Status:</b>
                                                        <select class="form-control" ng-if="account.cc.status" ng-model="account.cc.status"
                                                                required>
                                                            <option>open</option>
                                                            <option>closed</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="table-responsive" ng-show="account.codeHistory.length > 0">
                                                    <table class="table table-hover table-sm">
                                                        <thead>
                                                            <tr>
                                                                <th>Card</th>
                                                                <th>User</th>
                                                                <th>Modified</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="ch in account.codeHistory">
                                                                <td>{{ch.code}}</td>
                                                                <td>{{ch.user}}</td>
                                                                <td>{{ch.created | date: 'MM-dd-yyyy HH:mm a'}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="row justify-content-end">
                                                    <button class="btn btn-primary" style="margin-right:5px;" ng-if="account.cc.code"
                                                            ng-click="updateCode(account.cc)">
                                                        Update Current
                                                    </button>
                                                    <button class="btn btn-warning" ng-click="openCodeModal()">Replace CC</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card-footer row justify-content-end">
                                        <button class="btn btn-primary" ng-click="updateAccount(account)">Save</button>
                                    </div>
                                </div>

                                <!--URL Details-->
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">URL Details</h3>
                                    </div>
                                    <form role="form">
                                        <div class="card-body">
                                            <div>
                                                <div class="form-group">
                                                    <b>Safe URL:</b>
                                                    <input class="form-control" ng-model="account.safe_url">
                                                </div>
                                                <div class="form-group">
                                                    <b>Status:</b>
                                                    <select class="form-control" ng-if="account.safe_url_key" ng-model="account.safe_url_status"
                                                            required>
                                                        <option>on</option>
                                                        <option>off</option>
                                                    </select>
                                                </div>
                                                <div class="row justify-content-end">
                                                    <button class="btn btn-primary" style="margin-right:5px;" ng-click="updateUrl(account)">
                                                        UpdateCurrent
                                                    </button>
                                                    <button class="btn btn-warning" ng-click="openUrlModal()">Replace URL</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card-footer row justify-content-end">
                                        <button class="btn btn-primary" ng-click="updateAccount(account)">Save</button>
                                    </div>
                                </div>

                                <!--Campaign Details-->
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Campaign Details</h3>
                                    </div>
                                    <form role="form">
                                        <div class="card-body">
                                            <div>
                                                <div class="form-group">
                                                    <b>Campaign Name:</b>
                                                    <input type="text" class="form-control" ng-model="account.campaign_name" />
                                                </div>
                                                <div class="form-group">
                                                    <b>Campaign Url:</b>
                                                    <textarea style="height:78px;" type="text" class="form-control" ng-model="account.campaign_url" />
                                                </div>
                                                <div class="form-group">
                                                    <b class="control-label">Voluum Campaigns:</b>
                                                    <select class="form-control" ng-model="selectedCampaign[0]" ng-options="c.name for c in filteredCampaigns track by c.id"
                                                            ng-change="" ng-disabled="!account && !account.pixel" required></select>
                                                </div>
                                                <div class="row justify-content-end">
                                                    <button class="btn btn-primary" style="margin-right:5px;" ng-click="refreshCamps()">Generate</button>
                                                    <button class="btn btn-warning" style="margin-right:5px;" ng-click="updateCampaignUrl(account)">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card-footer row justify-content-end">
                                        <button class="btn btn-primary" ng-click="updateAccount(account)">Save</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--History-->

                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <center><h3 class="card-title">Account History</h3></center>
                            </div>
                            <form role="form">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-sm" show-filter="true">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Details</th>
                                                    <th>Status</th>
                                                    <th style="min-width:150px">Date</th>
                                                    <th>User</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="change in account.history">
                                                    <td>{{$index + 1}}</td>
                                                    <td>
                                                        <i ng-if="change.status">{{change.status}}</i>
                                                        <p ng-if="change.comment">{{change.comment}}</p>
                                                    </td>
                                                    <td>
                                                        <status-indicator ng-if="change.status" status="change.status"></status-indicator>
                                                    </td>
                                                    <td>
                                                        {{change.created | date:'MM-dd-yyyy HH:mm a'}}
                                                    </td>
                                                    <td>{{change.user}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </form>
                            <div class="card-footer">
                            </div>
                        </div>

                    </div>
                </div>
            </tab>

            <!--Profit & Loss-->
            <tab heading="PnL" ng-if="items.length > 0" ng-click="tabClick('PnL')" ng-attr-active="tabs[3].active">
                <br />
                <div class="row justify-content-md-center">
                    <div class="col col-lg-7" style="text-align:center">
                        <h2>Profit & Loss</h2>
                    </div>
                    <div class="col col-lg-4" style="text-align: center">
                        <h2>History</h2>
                    </div>
                </div>

                <div class="row">
                    <!--<div class="flex-space-between" style="width:50%;font-size:14px;font-weight:400;">
                <span ng-if="totals.lifetime.run_time">Running Time: {{ totals.lifetime.run_time }} days</span>
                <span ng-if="totals.lifetime.revenue >= 0">Total Revenue: {{ totals.lifetime.revenue | currency }} </span>
                <span ng-if="totals.lifetime.expenses >= 0">Total Spend: {{ totals.lifetime.expenses | currency }}</span>
                <span ng-if="totals.lifetime.revenue">Total Profit: {{ totals.lifetime.profit | currency }} </span>
                <span ng-if="totals.lifetime.revenue">ROI: {{ totals.lifetime.roi | percent}} </span>
        </div>-->
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="table-responsive">
                                    <table class="pnl-t-f table table-bordered table-sm">
                                        <thead></thead>
                                        <tbody>
                                            <tr><td>Date</td></tr>
                                            <tr><td>Rev</td></tr>
                                            <tr><td>Expense</td></tr>
                                            <tr><td>Profit</td></tr>
                                            <tr><td>ROI</td></tr>
                                            <tr><td>LP CTR</tr>
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="table-responsive">
                                    <table class=" pnl-t-f table table-bordered table-sm">
                                        <thead></thead>
                                        <tbody>
                                            <tr><td>3 Day</td></tr>
                                            <tr>
                                                <td>
                                                    <p>
                                                        {{ totals.threeday.revenue | currency}}
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ totals.threeday.expenses | currency }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ totals.threeday.profit | currency }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ totals.threeday.roi | percent }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ totals.threeday.lpctr | percent }}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="table-responsive">
                                    <table class="pnl-t-f table table-bordered table-sm">
                                        <thead></thead>
                                        <tbody>
                                            <tr><td>7 Day</td></tr>
                                            <tr><td>{{ totals.sevenday.revenue | currency }}</td></tr>
                                            <tr><td>{{ totals.sevenday.expenses | currency }}</td></tr>
                                            <tr><td>{{ totals.sevenday.profit | currency }}</td></tr>
                                            <tr><td>{{ totals.sevenday.roi | percent }}</td></tr>
                                            <tr><td>{{ totals.sevenday.lpctr | percent }}</td></tr>
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                                <div class="edit-pnl-text timeframe"></div>
                            </div>
                            <div class="col-md-2">
                                <div class="table-responsive">
                                    <table class="pnl-t-f table table-bordered table-sm">
                                        <thead></thead>
                                        <tbody>
                                            <tr><td>Lifetime</td></tr>
                                            <tr><td>{{ totals.lifetime.revenue | currency }}</td></tr>
                                            <tr><td>{{ totals.lifetime.expenses | currency }}</td></tr>
                                            <tr><td>{{ totals.lifetime.profit | currency }}</td></tr>
                                            <tr><td>{{ totals.lifetime.roi | percent }}</td></tr>
                                            <tr><td>{{ totals.lifetime.lpctr | percent }}</td></tr>
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="table-responsive">
                                    <table class="pnl-t-f table table-bordered table-sm">
                                        <thead></thead>
                                        <tbody>
                                            <tr><td>Audited Lifetime</td></tr>
                                            <tr>
                                                <td>
                                                    {{totals.audited.revenue| currency}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input class="form-control number" ng-model="totals.audited.expenses" ng-change="auditedChanged()" currency />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input class="form-control number" ng-model="totals.audited.revenue" ng-change="auditedChanged()" currency />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{(totals.audited.revenue - totals.audited.expenses) |currency}} |
                                                    {{((totals.audited.revenue - totals.audited.expenses)/totals.audited.expenses)*100 | percent}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <!-- <p class="edit-pnl-text number">Audited? </p> -->
                                                    {{ account.audited && yes || !account.audited && no }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="edit-pnl-text number">
                                                        <button style="height:100%;width:100%;line-height: 1;" ng-show="account.auditChanged"
                                                                class="btn btn-primary" ng-click="saveAudit();">
                                                            Save Audit
                                                        </button>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="table-responsive">
                                    <table class="pnl-t-f table table-bordered table-sm">
                                        <thead></thead>
                                        <tbody>
                                            <tr><td>Current Budget</td></tr>
                                            <tr>
                                                <td>
                                                    <input class="edit-pnl-text form-control number" ng-model="account.budget"
                                                           ng-change="budgetChanged(account)" currency />
                                                </td>
                                            </tr>
                                            <tr><td></td></tr>
                                            <tr><td></td></tr>
                                            <tr><td></td></tr>
                                            <tr><td></td></tr>
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                                <div class="edit-pnl-text timeframe"></div>

                            </div>
                            <div class=""></div>
                        </div>
                    </div>
                    <!-- History Table-->
                    <div class="col-md-4">
                        <div class="table-responsive" style="height:400px; overflow-y:scroll;">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Details</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>User</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="change in account.history">
                                        <td>
                                            {{$index + 1}}
                                        </td>
                                        <td>
                                            <i ng-if="change.status">{{change.status}}</i>
                                            <p ng-if="change.comment">{{change.comment}}</p>
                                        </td>
                                        <td>
                                            <status-indicator ng-if="change.status" status="change.status"></status-indicator>
                                        </td>
                                        <td style="min-width: 100px">
                                            {{change.created | date: 'MM-dd-yyyy HH:mm a'}}
                                        </td>
                                        <td>{{change.user}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row justify-content-end">
                    <button class="btn btn-primary" ng-click="pullLifetimeSpendFromAdespresso();">Pull Spend From Adespresso</button>&nbsp;&nbsp;
                    <button class="btn btn-primary" ng-click="saveChangedPnl();">Save All</button>
                </div>
                <br />
                <hr />
                <!--Ad Set Spending-->
                <div class="row">
                    <div class="col-md-12" ng-repeat="i in items">
                        <div class="d-flex justify-content-end p-2">
                            <button class="btn btn-primary" data-toggle="collapse" data-target="{{ '#' + 'pnlad-' + $index }}" 
                               ng-click="testEvent()"><i class="fas fa-chevron-down fa-lg"></i></button>&nbsp;
                        </div>
                        <div ng-attr-id="{{ 'pnlad-' + $index }}" ng-class="($index === 0)?'in':''">
                            <div class="container-fluid">
                                <h5>Adset {{$index + 1}}/{{campaign.length}}</h5>
                            </div>
                            <hr />
                            <div class="row flex-row">
                                <div class="col-md-1">
                                    <div class="pnl-t-adset">
                                        <div>Date</div>
                                        <div><p>Action</p></div>
                                        <div><p>Rev</p></div>
                                        <div><p>Expense</p></div>
                                        <div></div>
                                        <div><p>Profit</p></div>
                                        <div><p>ROI</p></div>
                                        <div></div>
                                        <div><p>Clicks</p></div>
                                        <div><p>Visits</p></div>
                                        <div><p>CPC</p></div>
                                        <div><p>EPV</p></div>
                                        <div><p>CTR</p></div>
                                        <div><p>BE EPC</p></div>
                                    </div>
                                </div>
                                 <div class="col-md-1" dir-paginate="p in i.pnl | itemsPerPage: 11" pagination-id="i.content_key"
                                         current-page="currentPage">
                                     <div class="pnl-t-adset">
                                         <div>
                                             <center>
                                                 <div ng-if="p.created">{{ p.created | date: 'MM-dd-yyyy' }}</div>
                                                 <div ng-if="!p.created">N/A</div>
                                             </center>
                                         </div>
                                         <div>
                                             <input type="text" class="form-control" ng-model="p.action" ng-change="pnlChanged($parent.$index, (($parent.currentPage-1)*pageSize + $index));"
                                                    ng-disabled="!p.pnl_key" percent />
                                         </div>
                                         <div>
                                             <p class="number" ng-show="!(currentUser == 'stan' || currentUser == 'hasib' || currentUser == 'luke')">
                                                 {{p.revenue| currency}}
                                             </p>
                                             <input type="text" class="form-control number" ng-show="currentUser == 'stan' || currentUser == 'hasib' || currentUser == 'luke'"
                                                    ng-model="p.revenue" ng-change="pnlChanged($parent.$index, (($parent.currentPage-1)*pageSize + $index));"
                                                    ng-disabled="!p.pnl_key" currency />

                                         </div>
                                         <div>
                                             <input type="text" class="form-control number" ng-model="p.expenses" ng-change="pnlChanged($parent.$index, (($parent.currentPage-1)*pageSize + $index));"
                                                    ng-disabled="!p.pnl_key" currency />
                                         </div>
                                         <div></div>
                                         <div>
                                             <input type="text" class="form-control number" ng-class="applyColorFilter(p.profit)"
                                                    ng-model="p.profit" ng-change="pnlChanged($parent.$index, (($parent.currentPage-1)*pageSize + $index));"
                                                    ng-disabled="!p.pnl_key" currency />
                                         </div>
                                         <div>
                                             <input type="text" class="form-control number" ng-model="p.roi" ng-change="pnlChanged($parent.$index, (($parent.currentPage-1)*pageSize + $index));"
                                                    ng-disabled="!p.pnl_key" percent />

                                         </div>
                                         <div></div>
                                         <div>
                                             <input type="text" class="form-control number" ng-model="p.clicks" ng-change="pnlChanged($parent.$index, (($parent.currentPage-1)*pageSize + $index));"
                                                    ng-disabled="!p.pnl_key" />
                                         </div>
                                         <div>
                                             <input type="text" class="form-control number" ng-model="p.visits" ng-change="pnlChanged($parent.$index, (($parent.currentPage-1)*pageSize + $index));"
                                                    ng-disabled="!p.pnl_key" />
                                         </div>
                                         <div>
                                             <input class="form-control numeric" ng-readonly="true" type="text" ng-model="p.cpc" ng-if="p.cpc">
                                             <input class="form-control numeric" ng-readonly="true" type="text" ng-model="0" ng-if="!p.cpc">
                                         </div>
                                         <div>
                                             <input type="text" class="form-control number" ng-model="p.epv" ng-change="pnlChanged($parent.$index, (($parent.currentPage-1)*pageSize + $index));"
                                                    ng-disabled="!p.pnl_key" currency />
                                         </div>
                                         <div>
                                             <input type="text" class="form-control number" ng-model="p.lpctr" ng-change="pnlChanged($parent.$index, (($parent.currentPage-1)*pageSize + $index));"
                                                    ng-disabled="!p.pnl_key" percent />
                                         </div>
                                         <div>
                                             <input type="text" class="form-control number" ng-model="p.breakeven" ng-change="pnlChanged($parent.$index, (($parent.currentPage-1)*pageSize + $index));"
                                                    ng-disabled="!p.pnl_key" currency />
                                         </div>
                                     </div>
                                    </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="p-2">
                                    <!--<button class="btn btn-primary" ng-click="savePnl($index)">Save</button>-->&nbsp;
                                    <dir-pagination-controls pagination-id="i.content_key" boundary-links="true"></dir-pagination-controls>
                                </div>
                                <div class="p-2">
                                    <button class="btn btn-primary" ng-click="openPnlModal($index)">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </tab>
        </tabset>
    </div>
</section>