<section class="content">
    <div class="container-fluid" ng-controller="activeAccountsCtrl">
        <div class="d-flex">
            <div class="mr-auto col-md-3">
                <input class="form-control" ng-model="accountSearchFilter" type="text" placeholder="Search..." />

            </div>
            <div class="p-2 col-md-2">
                <select class="form-control" ng-model="as.userFilter" ng-change="filterAccounts(); updateConfig();" ng-options="u for u in users"
                        required></select>
            </div>
            <div class="p-2 col-md-2">
                <select class="form-control" ng-model="as.statusFilter" ng-change="filterAccounts(); updateConfig();" ng-options="s for s in statuses"
                        required></select>

            </div>
            <div class="p-2">
                <button class="btn btn-primary pull-right" ng-click="saveAll()">Save All</button>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <div>SL</div>
                                </th>
                                <th>
                                    <div>Status</div>
                                </th>
                                <th>
                                    <div>
                                        Account&nbsp;
                                        <span ng-show="as.showAccount" ng-click="sort('fname','descending'); as.showAccount = !as.showAccount; updateConfig();">
                                            <i class="fas fa-chevron-down"></i>
                                        </span>
                                        <span ng-show="!as.showAccount" ng-click="sort('fname','ascending'); as.showAccount =!as.showAccount; updateConfig();">
                                            <i class="fas fa-chevron-up"></i>
                                        </span>
                                    </div>
                                </th>
                                <th>Pixel</th>
                                <th>C.URL</th>
                                <th>
                                    Vertical&nbsp;
                                    <span ng-show="as.showVertical" ng-click="sort('vertical','descending'); as.showVertical = !as.showVertical; updateConfig();">
                                        <i class="fas fa-chevron-up"></i>
                                    </span>
                                    <span ng-show="!as.showVertical" ng-click="sort('vertical','ascending'); as.showVertical =!as.showVertical; updateConfig();">
                                        <i class="fas fa-chevron-down"></i>
                                    </span>
                                </th>
                                <th style="min-width:110px;">
                                    Angle&nbsp;
                                    <span ng-show="as.showAngle" ng-click="sort('angle','descending'); as.showAngle = !as.showAngle; updateConfig();"
                                          class="fas fa-chevron-up"></span>
                                    <span ng-show="!as.showAngle" ng-click="sort('angle','ascending'); as.showAngle = !as.showAngle; updateConfig();"
                                          class="fas fa-chevron-down"></span>
                                </th>
                                <th>
                                    GEO&nbsp;
                                    <span ng-show="as.showCountry" ng-click="sort('country','descending'); as.showCountry = !as.showCountry; updateConfig();"
                                          class="fas fa-chevron-up"></span>
                                    <span ng-show="!as.showCountry" ng-click="sort('country','ascending'); as.showCountry = !as.showCountry; updateConfig();"
                                          class="fas fa-chevron-down"></span>
                                </th>
                                <th>
                                    C.Budget&nbsp;
                                    <span ng-show="as.showBudget" ng-click="sort('budget','descending'); as.showBudget = !as.showBudget; updateConfig();"
                                          class="fas fa-chevron-up"></span>
                                    <span ng-show="!as.showBudget" ng-click="sort('budget','ascending'); as.showBudget = !as.showBudget; updateConfig();"
                                          class="fas fa-chevron-down"></span>
                                </th>
                                <th>
                                    T.Spend&nbsp;
                                    <span ng-show="as.showSpend" ng-click="sort('total_spend','descending'); as.showSpend = !as.showSpend; updateConfig();"
                                          class="fas fa-chevron-up"></span>
                                    <span ng-show="!as.showSpend" ng-click="sort('total_spend','ascending'); as.showSpend = !as.showSpend; updateConfig();"
                                          class="fas fa-chevron-down"></span>
                                </th>
                                <th style="min-width:200px;"> Last Comment </th>
                                <th style="width: 90px;">
                                    Launched&nbsp;
                                    <span ng-show="as.showLaunched" ng-click="sort('launched','descending'); as.showLaunched = !as.showLaunched; updateConfig();"
                                          class="fas fa-chevron-up"></span>
                                    <span ng-show="!as.showLaunched" ng-click="sort('launched','ascending'); as.showLaunched = !as.showLaunched; updateConfig();"
                                          class="fas fa-chevron-down"></span>
                                </th>
                                <th style="min-width: 90px;">
                                    CC&nbsp;
                                    <span ng-show="as.showCC" ng-click="sort('code_status','descending'); as.showCC = !as.showCC; updateConfig();"
                                          class="fas fa-chevron-up"></span>
                                    <span ng-show="!as.showCC" ng-click="sort('code_status','ascending'); as.showCC = !as.showCC; updateConfig();"
                                          class="fas fa-chevron-down"></span>
                                </th>
                                <th style="min-width: 90px;">
                                    URL&nbsp;
                                    <span ng-show="as.showURL" ng-click="sort('safe_url_status','descending'); as.showURL = !as.showURL; updateConfig();"
                                          class="fas fa-chevron-up"></span>
                                    <span ng-show="!as.showURL" ng-click="sort('safe_url_status','ascending'); as.showURL = !as.showURL; updateConfig();"
                                          class="fas fa-chevron-down"></span>
                                </th>

                                <th>
                                    Status&nbsp;
                                    <span ng-show="as.showStatus" ng-click="sort('status','descending'); as.showStatus = !as.showStatus; updateConfig();"
                                          class="fas fa-chevron-up"></span>
                                    <span ng-show="!as.showStatus" ng-click="sort('status','ascending'); as.showStatus = !as.showStatus; updateConfig();"
                                          class="fas fa-chevron-down"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="account" dir-paginate="account in accounts | filter: accountSearchFilter | itemsPerPage:100 "
                                ng-style="{'background-color':$index == selectedRow ? '#fafad2' : ''}" ng-click="changeSeletedtRowColor($index)">
                                <td class="text-center">{{$index + 1}}</td>
                                <!--ng-class="setRowClass(account.status);"-->
                                <td ng-mouseover="onHover($event, $index);">
                                    <status-indicator status="account.status"></status-indicator>
                                </td>
                                <td ng-mouseover="onHover($event, $index);">
                                    <a ng-href="#edit_account/{{account.account_key}}">{{account.fname}}&nbsp;{{account.lname}}</a>
                                </td>
                                <td>
                                    <button style="vertical-align:baseline; display:block;margin:auto;" class="btn btn-icon"
                                            ng-disabled="!account.pixel" ng-click="copyToClipboard('pixel', account)">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </td>
                                <td>
                                    <button style="vertical-align:baseline; display:block;margin:auto;" class="btn btn-icon"
                                            ng-disabled="!account.campaign_url" ng-click="copyToClipboard('campaign_url', account)">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </td>
                                <td>{{account.vertical}}</td>
                                <td>{{account.angle}}</td>
                                <td>{{account.country}}</td>
                                <td class="td-cc-select">
                                    <input class="form-control text-right" ng-model="account.budget" ng-change="accountChanged(account);budgetChanged(account);"
                                           currency />
                                </td>
                                <td>
                                    <input class="form-control text-right" ng-model="account.total_spend" ng-change="accountChanged(account)"
                                           currency />
                                </td>
                                <td>
                                    <textarea class="form-control comment" rows="1" typeof="text" ng-model="account.last_account_comment"
                                              ng-change="accountChanged(account); commentChanged(account);" value="{{account.last_account_comment}}"></textarea>
                                </td>
                                <td>
                                    <center>{{account.launched | date: 'MM-dd-yyyy'}}</center>
                                </td>
                                <td>
                                    <select class="form-control" ng-change="accountChanged(account)" ng-if="account.code_key"
                                            ng-model="account.code_status">
                                        <option>open</option>
                                        <option>closed</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" ng-change="accountChanged(account)" ng-if="account.safe_url_key"
                                            ng-model="account.safe_url_status">
                                        <option>on</option>
                                        <option>off</option>
                                    </select>
                                </td>

                                <td>
                                    <!--<button class="btn btn-secondary dropdown-toggle" ng-class="setRowClass(account.status);" type="button" data-toggle="dropdown">
                                        {{account.status == null ? "Unknown" : account.status}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul ng-attr-id="{{ 'ddl-' + $index }}" class="dropdown-menu scrollable-menu">
                                        <li ng-repeat="st in status">
                                            <a class="dropdown-item" ng-click="account.status = st; accountChanged(account); statusChanged(account);"
                                               href="">{{st}}</a>
                                        </li>
                                    </ul>-->
                                    <div class="btn-group">
                                        <button type="button" ng-class="setRowClass(account.status);" class="btn btn-default btn-block" style="width:130px;">
                                            {{account.status == null ? "Unknown" : account.status}}
                                        </button>
                                        <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div ng-attr-id="{{ 'ddl-' + $index }}" class="dropdown-menu scrollable-menu">
                                            <div ng-repeat="st in status">
                                                <a class="dropdown-item" ng-click="account.status = st; accountChanged(account); statusChanged(account);"
                                                   href="">{{st}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>

                <div class="loader-sm" ng-show="loading"></div>
            </div>

        </div>
    </div>
</section>