
<section class="content"></section>
<div class="container-fluid" ng-controller="warmAccountsCtrl">
    <div class="row">
        <div class="col-md-12">
            <center><h2>Warming Accounts</h2></center>
            <center><h4>{{accounts.length}} of {{accounts.length}}</h4></center>
            <div>
                <br />
            </div>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th style="width:15px;">SL</th>
                        <th style="width:15px;">Edit</th>
                        <th style="width:15px;">Delete</th>
                        <th class="center">
                            <button ng-click="saveAll()" class="btn btn-warning" >Save All</button>
                        </th>
                        <th>
                            <div>
                                Account&nbsp;
                                <div ng-show="showAccount" ng-click="sort('fname','descending'); showAccount = !showAccount;" class="fas fa-chevron-up"></div>
                                <div ng-show="!showAccount" ng-click="sort('fname','ascending'); showAccount =!showAccount;" class="fas fa-chevron-down"></div>
                            </div>
                        </th>
                        <th>
                            <div>
                                Pixel&nbsp;
                                <div ng-show="showPixel" ng-click="sort('pixel','descending'); showPixel = !showPixel;" class="fas fa-chevron-up"></div>
                                <div ng-show="!showPixel" ng-click="sort('pixel','ascending'); showPixel = !showPixel;" class="fas fa-chevron-down"></div>
                            </div>
                        </th>
                        <th>
                            <div class="th-flex">
                                Vertical&nbsp;
                                <span ng-show="showVertical" ng-click="sort('vertical','descending'); showVertical = !showVertical;" class="fas fa-chevron-up"></span>
                                <span ng-show="!showVertical" ng-click="sort('vertical','ascending'); showVertical = !showVertical;" class="fas fa-chevron-down"></span>
                            </div>
                        </th>
                        <th>
                            <div>
                                Angle&nbsp;
                                <span ng-show="showAngle" ng-click="sort('angle','descending'); showAngle = !showAngle;" class="fas fa-chevron-up"></span>
                                <span ng-show="!showAngle" ng-click="sort('angle','ascending'); showAngle = !showAngle;" class="fas fa-chevron-down"></span>
                            </div>
                        </th>
                        <th>Last Comment</th>
                        <th>
                            <div>
                                Owner&nbsp;
                                <span ng-show="showOwner" ng-click="sort('owner','descending'); showOwner = !showOwner;" class="fas fa-chevron-up"></span>
                                <span ng-show="!showOwner" ng-click="sort('owner','ascending'); showOwner = !showOwner;" class="fas fa-chevron-down"></span>
                            </div>
                        </th>
                        <th>
                            <div>
                                Status&nbsp;
                                <span ng-show="showStatus" ng-click="sort('status','descending'); showStatus = !showStatus;" class="fas fa-chevron-up"></span>
                                <span ng-show="!showStatus" ng-click="sort('status','ascending'); showStatus = !showStatus;" class="fas fa-chevron-down"></span>
                            </div>
                        </th>


                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="account in accounts | itemsPerPage:25">
                        <td class="text-center">{{$index + 1}}</td>
                        <td>
                            <a ng-href="#edit_account/{{account.account_key}}?tab=Account">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="" ng-click="deleteAccount(account.account_key, $index)">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                        <td>
                            <a href="" ng-click="saveAccount(account, $index)">
                                <i class="fas fa-save"></i>
                            </a>
                        </td>
                        <td>{{account.fname}}&nbsp;{{account.lname}}</td>
                        <td>{{account.pixel}}</td>
                        <td>{{account.vertical}}</td>
                        <td>{{account.angle}}</td>
                        <td><textarea class="form-control comment" rows="1" typeof="text" ng-model="account.last_account_comment" ng-change="accountChanged(account); commentChanged(account);" value="{{account.last_account_comment}}"></textarea></td>
                        <td>
                            <div class="dropdown flex-center">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    {{account.owner == null ? "None" : account.owner}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu ddlfixed">
                                    <li ng-repeat="u in users"><a ng-click="account.owner = u; accountChanged(account);" href="">{{u}}</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown flex-center">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    {{account.status == null ? "Unknown" : account.status}}
                                    <span class="caret"></span>
                                </button>
                                <ul ng-attr-id="{{ 'ddl-' + $index }}" class="dropdown-menu ddlfixed">
                                    <li ng-repeat="st in status"><a ng-click="account.status = st; accountChanged(account); statusChanged(account);" href="">{{st}}</a></li>
                                </ul>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
            <div class="loader-sm" ng-show="loading"></div>
        </div>
    </div>
</div>
