﻿<section class="content">
    <div class="container-fluid" ng-controller="accountLifeCtrl">
        <div class="loader-sm" ng-show="loading"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="row" ng-show="batchesFiltered">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="edit_card">
                            <center style="margin-bottom:10px;">
                                <h2>Batch Details</h2>
                            </center>
                            <div class="row">
                                <div class="form-group col-md-3" style="margin-bottom:0px;">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch" placeholder="Batch Name" />
                                </div>
                                <div class="form-group col-md-9 mb-0" style="margin-bottom:0px;">
                                    <label>Description:</label>
                                    <input type="textarea" class="form-control" ng-model="filteredAccounts[0].batch_description" placeholder="Batch Description" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-2 mb-0" style="margin-bottom:0px;">
                                    <label>Safe Spend:</label>
                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch_safe_spend" placeholder="Safe Spend" />
                                </div>
                                <div class="form-group col-md-2" style="margin-bottom:0px;">
                                    <label>Safe Ads:</label>
                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch_safe_ads" placeholder="Safe Ads" />
                                </div>
                                <div class="form-group col-md-2" style="margin-bottom:0px;">
                                    <label for="inputPassword4">Warm Time:</label>
                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch_warm_time" placeholder="Warm Time" />
                                </div>
                                <div class="form-group col-md-2" style="margin-bottom:0px;">
                                    <label>Pre-Warming Activities:</label>
                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch_pre_warming_activities" placeholder="Pre Warming Activities" />
                                </div>
                                <div class="form-group col-md-2" style="margin-bottom:0px;">
                                    <label>Proxy:</label>
                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch_proxy" placeholder="Proxy" />
                                </div>
                                <div class="form-group col-md-2" style="margin-bottom:0px;">
                                    <label>Pre-Launch Activities:</label>
                                    <input type="text" class="form-control" ng-model="filteredAccounts[0].batch_pre_launch_activities" placeholder="Pre Launch Activities" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h3>Average Total Spend =${{ avgTotalSpend }}</h3>
                    </div>
                    <div class="col-md-6">
                        <h3>Average Total ROI ={{ avgTotalROI }}%</h3>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="col-md-1 p-2">
                        <b>User</b>
                        <select class="form-control" ng-model="userFilter" ng-options="u for u in users" ng-change="filterChanged()" required></select>
                    </div>
                    <div class="p-2">
                        <b>Angle</b>
                        <select class="form-control" ng-model="angleFilter" ng-options="a for a in angles" ng-change="filterChanged()" required></select>
                    </div>
                    <div class="p-2">
                        <b>Vertical</b>
                        <select class="form-control" ng-model="verticalFilter" ng-options="v for v in verticals" ng-change="filterChanged()" required></select>
                    </div>
                    <div class="p-2">
                        <b>Batch</b>
                        <select class="form-control" ng-model="batchFilter" ng-options="b for b in batches" ng-change="filterChanged()" required></select>
                    </div>
                    <div class="p-2">
                        <b>Geo</b>
                        <select class="form-control" ng-model="geoFilter" ng-options="g for g in geos" ng-change="filterChanged()" required></select>
                    </div>
                    <div class="p-2">
                        <b>Card</b>
                        <select class="form-control" ng-model="cardFilter" ng-options="c for c in cards" ng-change="filterChanged()" required></select>
                    </div>
                    <div class="p-2">
                        <b>From</b>
                        <input id="dtFrom" name="dtFrom" type="text" class="form-control" ng-model="dtFrom" jqdatepicker />
                    </div>
                    <div class="p-2">
                        <b>To</b>
                        <input id="dtTo" name="dtTo" type="text" class="form-control" ng-model="dtTo" jqdatepicker />
                    </div>
                    <div class="ml-auto p-2">
                        <b>Search</b><br />
                        <button type="button" class="btn btn-primary" ng-click="filterChanged()">
                            Search
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-sm" ts-wrapper>
                            <thead>
                                <tr>
                                    <th>
                                        <div>&nbsp;</div>
                                    </th>
                                    <th ts-criteria="account_name">
                                        <div class="th-flex">
                                            <div>Account Name&nbsp;</div>
                                            <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="fas fa-chevron-up"></div>
                                            <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="fas fa-chevron-down"></div>
                                        </div>
                                    </th>
                                    <th ts-criteria="owner">
                                        <div class="th-flex">
                                            <div>Media Buyer&nbsp;</div>
                                            <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="fas fa-chevron-up"></div>
                                            <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="fas fa-chevron-down"></div>
                                        </div>
                                    </th>
                                    <th ts-criteria="angle">
                                        <div class="th-flex">
                                            <div>Angle&nbsp;</div>
                                            <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="fas fa-chevron-up"></div>
                                            <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="fas fa-chevron-down"></div>
                                        </div>
                                    </th>
                                    <th ts-criteria="vertical">
                                        <div class="th-flex">
                                            <div>Vertical&nbsp;</div>
                                            <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="fas fa-chevron-up"></div>
                                            <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="fas fa-chevron-down"></div>
                                        </div>
                                    </th>
                                    <th ts-criteria="batch">
                                        <div class="th-flex">
                                            <div>Batch&nbsp;</div>
                                            <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="fas fa-chevron-up"></div>
                                            <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="fas fa-chevron-down"></div>
                                        </div>
                                    </th>
                                    <th ts-criteria="geo">
                                        <div class="th-flex">
                                            <div>Geo&nbsp;</div>
                                            <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="fas fa-chevron-up"></div>
                                            <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="fas fa-chevron-down"></div>
                                        </div>
                                    </th>
                                    <th ts-criteria="card_type">
                                        <div class="th-flex">
                                            <div>Card Type&nbsp;</div>
                                            <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="fas fa-chevron-up"></div>
                                            <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="fas fa-chevron-down"></div>
                                        </div>
                                    </th>
                                    <th ts-criteria="status">
                                        <div class="th-flex">
                                            <div>Status&nbsp;</div>
                                            <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="fas fa-chevron-up"></div>
                                            <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="fas fa-chevron-down"></div>
                                        </div>
                                    </th>
                                    <th ts-criteria="days_alive|parseInt">
                                        <div class="th-flex">
                                            <div>Days Alive&nbsp;</div>
                                            <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="fas fa-chevron-up"></div>
                                            <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="fas fa-chevron-down"></div>
                                        </div>
                                    </th>
                                    <th ts-criteria="total_spend|parseInt">
                                        <div class="th-flex">
                                            <div>Total Spend&nbsp;</div>
                                            <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="fas fa-chevron-up"></div>
                                            <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="fas fa-chevron-down"></div>
                                        </div>
                                    </th>
                                    <th ts-criteria="total_revenue|parseInt">
                                        <div class="th-flex">
                                            <div>Total Revenue&nbsp;</div>
                                            <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="fas fa-chevron-up"></div>
                                            <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="fas fa-chevron-down"></div>
                                        </div>
                                    </th>
                                    <th ts-criteria="ROI|parseInt">
                                        <div class="th-flex">
                                            <div>ROI&nbsp;</div>
                                            <div ng-show="showField[c]" ng-click="sort(c,'descending'); showField[c] = ! showField[c];" class="fas fa-chevron-up"></div>
                                            <div ng-show="!showField[c]" ng-click="sort(c,'ascending'); showField[c] = ! showField[c];" class="fas fa-chevron-down"></div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr ng-repeat="account in filteredAccounts " ts-repeat ts-hide-no-data>-->
                                <tr dir-paginate="account in filteredAccounts | itemsPerPage:25" ts-reapet ts-hide-no-data>

                                    <td class="text-center search-td">{{ $index + 1 }}</td>
                                    <td><a ng-href="#edit_account/{{ account.account_key }}">{{ account.account_name }}</td>
                                    <td>{{ account.owner }}</td>
                                    <td>{{ account.angle }}</td>
                                    <td>{{ account.vertical }}</td>
                                    <td>{{ account.batch }}</td>
                                    <td>{{ account.geo }}</td>
                                    <td>{{ account.card_type }}</td>
                                    <td>{{ account.status }}</td>
                                    <td>{{ account.days_alive }}</td>
                                    <td>{{ account.total_spend | currency }}</td>
                                    <td>{{ account.total_revenue | currency }}</td>
                                    <td>{{ account.ROI | percent }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                        </dir-pagination-controls>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>